<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Title</title>
  <script src="https://unpkg.com/feather-icons"></script>
  <link rel="stylesheet" href="css/common.css">
  <link rel="stylesheet" href="css/footer.css">
</head>
<body>
<footer>
<div class="waves">
  <div class="wave" id="wave1"></div>
  <div class="wave" id="wave2"></div>
  <div class="wave" id="wave3"></div>
  <div class="wave" id="wave4"></div>
</div>
  <ul class="social-icon">
    <li><a href=""><i data-feather="twitter"></i></a></li>
    <li><a href=""><i data-feather="facebook"></i></a></li>
    <li><a href=""><i data-feather="instagram"></i></a></li>
    <li><a href=""><i data-feather="youtube"></i></a></li>
  </ul>
  <ul class="footer-menu">
    <li><a href="">홈</a></li>
    <li><a href="">피드</a></li>
    <li><a href="">정보</a></li>
    <li><a href="">AI 추천</a></li>
    <li><a href="">소모임</a></li>
  </ul>
  <p>&COPY; green computer | 16th gajo</p>
</footer>
<script>
  feather.replace()
</script>
</body>
</html>
