<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<div th:replace="~{head/head::head}"></div>

<body>
<div th:replace="~{nav/nav::nav}"></div>
<!-- 토스트 -->
<div th:replace="~{alert/toast::div}"></div>
	<!-- addMember 페이지 -->
	<div class="container addMember_wrap my-5">
		<div class="row my-5">
			<div class="col-md-8 col-lg-7 col-xl-5 mx-auto my-5">
				<form action="/loginAction" method="post">
					<div class="row g-3 addMember_form p-4 rounded-5 shadow-s my-5 px-5">
						<h3>로그인</h3>
						<div class="form-group">
							<div class="form-floating">
								<input type="text" class="form-control" id="id" name="Member_Id">
								<label for="id" class="form-label">아이디</label>
							</div>
						</div>
						<div class="col-12">
							<div class="form-floating">
								<input type="password" class="form-control" id="password"
									name="Member_Pw"> <label for="password"
									class="form-label">비밀번호</label>
							</div>
						</div>
						<div class="col-12 mt-4 text-center">
							<button type="submit" class="btn btn-main w-100 p-3 rounded-4">로그인하기</button>
							<div class="row mt-2">
								<div class="col-10 col-lg-9 m-auto my-3 d-flex justify-content-around">
									<a th:href="@{addMember}" class="text-decoration-none">회원 가입 </a> | 
									<a href="FindId" class="text-decoration-none text-dark">아이디 찾기</a> | 
									<a href="FindPw" class="text-decoration-none text-dark">비밀번호 찾기</a>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
<div th:replace="~{footer/footer::footer}"></div>
<script src="../validate/member_validate.js"></script>
	<!-- 알림창 -->
	<script type="text/javascript">
        $(document).ready(function() {
            // URL에서 msg 매개변수 가져오기
            const urlParams = new URLSearchParams(window.location.search);
            const msg = urlParams.get('msg');
            
            
         	// 메시지가 존재할 경우 toast로 표시
            if (msg !== null && msg !== "") {
                let message;
                if(msg == 1){
                	$('#warnImg').hide();
                    message = "회원가입에 성공하였습니다🎉 로그인 해주세요";
                } else if (msg == 2) {
                    message = "아이디 혹은 비밀번호를 다시 확인해주세요";
                } else if (msg == 3) {
                	$('#warnImg').hide();
                    message = "재설정 완료! 다시 로그인 해주세요";
                } else if (msg == 4) {
                	$('#warnImg').hide();
                    message = "로그아웃 되었습니다. 다음에 또 만나요! 🖐";
                } else if (msg == 5) {
                    message = "로그인이 필요한 서비스입니다.";
                }

                // 부트스트랩 toast 트리거
                $('.my-toast-body').text(message);
                $('.my-toast').toast('show');
            }
        });
    </script>

</body>

</html>