<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<div th:replace="~{head/head::head}"></div>
<body>
	<div th:replace="~{nav/nav::nav}"></div>
	<!-- 토스트 -->
	<div th:replace="~{alert/toast::div}"></div>
	<!-- 삭제 모달 -->
	<div th:replace="~{alert/del_modal::div}"></div>
	<div id="feedShow" class="container-fluid mt-4 mb-5 p-0">
	<!-- 뒤로가기 버튼 -->
	<a href="/feed" class="sticky-top feed-btn me-auto ms-4 rounded-circle d-flex">
		<i class="fi fi-sr-angle-small-left f22 text-center m-auto"></i>
	</a>
	<!--------------------------------------------feed box Parent------------------------------------------>
	<div class="row m-auto my-2 mt-lg-1 mb-5 pt-md-0">
		<div class="col-10 col-xl-7 mt-3 feed-box m-0 mx-auto">
			<div class="row">
				<!-- 좌측 | 피드 -->
				<div class="col-12 col-md-6 feed-write-left feed-box p-0 feed-box-width overflow-hidden">
						<!--feed box Start-->
						<div class="col-12 m-0 mb-3 px-0 no-gutters m-auto">
							<!--feed box top-->
							<div class="col-12 hstack feed-box-top p-3 ps-3 z-3">
								<img th:src="@{'../img/member_thumbnail/'+ ${feedList.getMember_profileimage()}}" class="float-start rounded-circle border me-3" width="50" height="50" alt="">
								<!--feed box text-->
								<div class="col flex-grow-1 px-0">
									<span class="float-start fw-bold f15" th:text="${feedList.getMember_Id()}">사용자명</span><br>
									<span class="float-start text-muted f13 me-2" th:if="${#strings.contains(feedList.getFeed_updateday,'전')}">하이라이트</span>
									<span class="float-start text-muted f13" th:text="${feedList.getFeed_updateday()}">올린 날짜</span>
								</div>
								<!-- 우측 버튼 -->
								<div class="col-3 flex-grow-0 d-flex justify-content-end align-items-center">
									<!-- session Id와 글쓴이가 일치할 때는 수정버튼 활성화 -->
									<a th:if="${session.Member_Id == feedList.getMember_Id()}" th:href="@{'/feed_update?num='+${feedList.getFeed_num()}}" class="btn btn-sm btn-dark me-2">수정</a>
										<!-- 다른 사람이 볼 때는 공유 -->
									<!-- <a th:unless="${session.Member_Id == feedList.getMember_Id()}" href="#" class="p-2"><i class="fi fi-br-paper-plane d-flex align-items-center"></i></a> -->
										<!-- 수정 및 삭제 버튼  -->
										<div th:if="${session.Member_Id==feedList.Member_Id or session.Member_Id=='admin'}">
											<div class="f17 hstack" id="feed-right">
												<a
													class="dropdown-toggle text-center m-0 ps-2 pt-1 d-block d-flex justify-content-end"
													href="#" role="button" id="dropdownMenuLink"
													data-bs-toggle="dropdown" aria-expanded="false"><i
													class="fi fi-rr-menu-dots-vertical"></i>
												</a>
												<ul class="dropdown-menu dropdown-menu-dark">
													<li data-bs-toggle="modal" data-bs-target="#feed_del_Modal">
														<a class="dropdown-item">삭제</a>
													</li>
												</ul>

												<form action="/delFeed" id="deleteFeedForm">
													<input type="hidden" name="num" th:value="${feedList.getFeed_num()}"/>
												</form>
											</div>
										</div>
								</div>
							</div>
							<!-- feed box center | Carousel image -->
							<div class="col-12 overflow-hidden">
								<div th:id="'feedCarousel'+${feedList.getFeed_num()}" class="carousel slide" data-bs-ride="false">
									<div th:if="${#lists.size(#strings.arraySplit(feedList.getFeed_thumbnail(), ','))>
										 1}" class="carousel-indicators"> <button th:each="thumbnail, thumbnailStat : ${#strings.arraySplit(feedList.getFeed_thumbnail(), ',')}" type="button" th:attr="data-bs-target='#feedCarousel'+${feedList.getFeed_num()}, data-bs-slide-to=${thumbnailStat.index}, class=${thumbnailStat.index==0} ? 'active' : ''" aria-current="true"></button>
									</div>
									<!-- carousel items loop -->
									<div class="carousel-inner col-12 feed-box-center">
										<div th:each="thumbnail, thumbnailStat : ${#strings.arraySplit(feedList.getFeed_thumbnail(), ',')}" class="carousel-item p-0 h-100" th:classappend="${thumbnailStat.index==0} ? 'active' : ''">
											<img th:src="@{'../img/feed_thumbnail/' + ${thumbnail}}" class="d-block img-fluid m-auto w-100" alt="#">
										</div>
									</div>
									<!-- Carousel Prev/Next button -->
									<div th:if="${#lists.size(#strings.arraySplit(feedList.getFeed_thumbnail(), ','))>
										 1}"> <button class="carousel-control-prev" type="button" th:attr="data-bs-target='#feedCarousel'+${feedList.getFeed_num()}" data-bs-slide="prev">
										<span class="carousel-control-prev-icon" aria-hidden="true"></span>
										<span class="visually-hidden">Previous</span>
										</button>
										<button class="carousel-control-next" type="button" th:attr="data-bs-target='#feedCarousel'+${feedList.getFeed_num()}" data-bs-slide="next">
										<span class="carousel-control-next-icon" aria-hidden="true"></span>
										<span class="visually-hidden">Next</span>
										</button>
									</div>
								</div>
							</div>
							<!--feed-box-center | text-->
							<div class="col-12 feed-box-bot p-4 pt-3">
								<span class="fw-bold d-block f17" th:text="${feedList.getFeed_title()}">맥주 맛집🍺✨</span>
								<span class="f14" th:utext="${feedList.getFeed_content()}">맥주는 왜 먹어도 먹어도 맛있을까요? </span>
							</div>
							<!--feed box bot | #TAG -->
							<div class="col feed-tag-box p-4 text-muted f13 d-flex gap-1">
								<span class="btn btn-main btn-sm rounded-pill" th:text="${feedList.getFeed_area()}">지역태그</span>
								<span class="btn btn-skyb btn-sm rounded-pill" th:text="${feedList.getFeed_theme()}">테마태그</span>
							</div>
						</div>
						<!--feed box bot | text-->
	                    <div class="col-12 feed-box-bot hstack p-3 border-top f13 d-flex hstack">
	                        <div class="col-6 hstack justify-content-center border-end d-flex hstack">
	                            <span>댓글</span>
                                <i class="fi fi-br-comment-dots hstack px-1"></i>
	                        </div>
	                        <div class="col-6 hstack justify-content-center">
							<div th:if="${feedList.getFeed_heart_on() == 0 or session.Member_Id == null}">
								<a
									th:href="@{'/feed_show_like?num='+${feedList.getFeed_num()}+'&id='+${session.Member_Id}+'&on=1'}"
									class="d-flex"> 
									<span>좋아요</span>
									<i
									class="fi fi-br-heart hstack px-1"></i>
								</a>
							</div>
							<div th:if="${feedList.getFeed_heart_on()} == 1">
								<a th:href="@{'/feed_show_like?num='+${feedList.getFeed_num()}+'&id='+${session.Member_Id}+'&on=0'}"
									class="d-flex"> 
									<span>좋아요</span><i
									class="fi fi-sr-heart hstack px-1"></i>
								</a>
							</div>
							<span class="ms-2" th:text="${feedList.getFeed_heart()}" th:if="${session.Member_Id != null}">999+</span>
	                    </div>
	                    </div>
						<!-- tag row -->
						<!-- col -->
					</div>
					<!-- 우측 | 댓글 다는 곳 -->
					<div class="col p-4">
 					<form th:action="@{'/feed_comment_upload'}" th:object="${Feed_commentDTO}" method="post">
						<p>댓글 <b th:text="${Feed_commentList.size()}">개수</b> </p>
						<div class="d-flex align-items-center gap-2" th:if="${session.Member_Id}!=null">
							<div class="col flex-grow-0 p-0">
								<input type="hidden" name="Feed_num" th:value="${feedList.getFeed_num()}"/>
								<input type="hidden" name="Member_Id" th:value="${session.Member_Id}"/>
								<img th:src="@{'../img/member_thumbnail/'+ ${session.Member_profileimage}}" class="float-start rounded-circle border" width="45" height="45" alt="">
							</div>
							<div class="col flex-grow-1 p-0">
								<input type="text" th:field="*{Feed_comment}" class="form-control"/>
							</div>
							<div class="col-2 flex-shrink-0 d-sm-flex justify-content-end align-items-center p-0 h-100">
								<button type="submit" class="btn btn-sm btn-dark w-100 h-100 py-2">등록</button>
							</div>
						</div>
					</form>
					<hr/>
					<!-- 다른 유저 댓글창 -->
					<div class="row gap-3 px-2">
						<div class="d-flex align-items-start gap-2" th:each="comment : ${Feed_commentList}">
							<div class="col flex-grow-0 p-0 mt-1">
								<img th:src="@{'../img/member_thumbnail/'+ ${comment.getMember_profileimage()}}" class="float-start rounded-circle border" width="36" height="36" alt="">
							</div>
							<div class="col flex-grow-1 p-0 f14">
								<strong><span class="" th:text="${comment.getMember_Id()}">장창엽</span></strong>
								<span class="ms-1 text-muted text-truncate f12" th:text="${comment.getFeed_comment_updateday()}">댓글 단 시간</span>
								<span class="f14 d-block" th:text="${comment.getFeed_comment()}">오늘 쫌 힘드네여</span>
							</div>
							<div class="col-2 flex-shrink-0 d-sm-flex justify-content-end align-items-center p-0 h-100 text-end">
								<th:block th:if="${comment.getFeed_comment_like()}==0">
									<a class="dropdown-item" th:href="@{'/feed_comment_like?num='+${feedList.getFeed_num()}+'&comment_num='+${comment.getFeed_comment_num()}+'&on=1'}">
										<i class="fi fi-br-heart px-2"></i>
									</a>
								</th:block>
								<th:block th:if="${comment.getFeed_comment_like()}==1">
									<a class="dropdown-item" th:href="@{'/feed_comment_like?num='+${feedList.getFeed_num()}+'&comment_num='+${comment.getFeed_comment_num()}+'&on=0'}">
										<i class="fi fi-sr-heart px-2"></i>
									</a>
								</th:block>
								<input type="submit" id="feed-heart" class="h-100 py-2 d-none"/>
								</label>
								<!-- [내 피드만] 수정 및 삭제 버튼  -->
	                            <div th:if="${session.Member_Id == comment.getMember_Id()}">
		                            <div class="f17 d-flex justify-content-between" id="feed-right">
											<a class="dropdown-toggle text-center m-0 hstack" href="#"
												role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
												aria-expanded="false">
					                            <i class="fi fi-rr-menu-dots hstack mb-1 ms-1">
			                           			</i>
											</a>
										<ul class="dropdown-menu dropdown-menu-dark">
		                                    <li data-bs-toggle="modal" data-bs-target="#feed_del_Modal"><a class="dropdown-item">삭제</a></li>
		                                    <li><a class="dropdown-item" th:href="@{'/feed_comment_update?num='+${feedList.getFeed_num()}+'&comment_num='+${comment.getFeed_comment_num()}}">수정</a></li>
		                                </ul>
		                            </div>
		                            
									<!-- DEL Modal -->
									<div class="modal fade" id="feed_del_Modal" tabindex="-1" aria-labelledby="feed_del_ModalLabel" aria-hidden="true">
									  <div class="modal-dialog modal-dialog-centered">
									    <div class="modal-content">
									      <div class="modal-header border-none">
									        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									      </div>
									      <div class="modal-body text-center py-3">
									        정말 삭제하시겠습니까?
									      </div>
									      <div class="modal-footer border-none">
									        <button type="button" class="btn btn-light text-dark rounded-pill px-3" data-bs-dismiss="modal">취소</button>
									        
									        <form action="/feed_comment_del" id="deleteFeedCommentForm">
												<input type="hidden" name="num" th:value="${feedList.getFeed_num()}"/>
												<input type="hidden" name="comment_num" th:value="${comment.getFeed_comment_num()}"/>
											</form>
									        <button type="button" class="btn btn-main rounded-pill px-3" id="comment_del_btn">
									        	<a class="dropdown-item active" th:href="@{'/feed_comment_del?num='+${feedList.getFeed_num()}+'&comment_num='+${comment.getFeed_comment_num()}}">삭제</a>
									        </button>
									      </div>
									    </div>
									  </div>
									</div>
	                            </div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- row -->
		</div>
		<!---------------------------------------------------------------------------->
	</div>
</div>
<div th:replace="~{footer/footer::footer}">
</div>

	<!-- 알림창 -->
	<script type="text/javascript">
		$(document).ready(function() {
			// URL에서 msg 매개변수 가져오기
			const urlParams = new URLSearchParams(window.location.search);
			const msg = urlParams.get('msg');

			// 메시지가 존재할 경우 toast로 표시
			if (msg !== null && msg !== "") {
				let message;
				if (msg == 1) {
					message = "공백으로 이루어진 댓글은 작성하실 수 없습니다";
				}
				if (msg == 2) {
					message = "65자 이내로 작성해주세요";
				}

				// 부트스트랩 toast 트리거
				$('.my-toast-body').text(message);
				$('.my-toast').toast('show');
			}
		});
	</script>

	<!-- DEL모달 -->
	<script>
		function func_delModalBtn() {
			document.getElementById('deleteFeedForm').submit();
		}
		/* function func_delModalBtn_comment() {
			document.getElementById('deleteFeedCommentForm').submit();
		} */

		// #btn-pay 버튼을 클릭했을 때의 동작
		$("#comment_del_btn").click(function() {
			$('#feed_del_Modal').modal('show');

			$.ajax({
				type : "POST",
				url : "feed_comment_del",
				data : formData,
				success : function(response) {
					// 데이터 저장에 성공한 경우
					console.log("데이터 저장 성공!");
					console.log(response.courseNum);
				},
				error : function(xhr, status, error) {
					// 데이터 저장에 실패한 경우
					console.error("데이터 저장 실패!");
					console.error("에러: ", error);
				}
			});
		});
	</script>
</body>
</html>