<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<div th:replace="~{head/head::head}">
</div>
<!-- 뒤로가기 버튼 ICON -->
<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.1.0/uicons-solid-rounded/css/uicons-solid-rounded.css'>
<body>
<div th:replace="~{nav/nav::nav}">
</div>
<div id="feedWrite" class="container-fluid mt-4 mb-5 p-0">
	<form id="feedWriteForm" name="feedWrite" action="/feed_write_action" method="post" enctype="multipart/form-data">
		<!-- 뒤로가기 버튼 -->
		<button class="btn backBtn shadow-sm rounded-circle ms-4" onclick="history.back()">
			<i class="fi fi-sr-angle-small-left f22 text-center"></i>
		</button>
		<!--------------------------------------------feed box Parent------------------------------------------>
		<div class="row m-auto my-2 mt-lg-1 mb-5 pt-md-0">
			<div class="col-10 col-xl-7 mt-3 m-0 feed-box mx-auto">
				<!--feed box Start-->
				<div class="row">
					<div class="col-12 col-md-6 feed-write-left feed-box overflow-hidden p-0 feed-box-width">
						<!--feed box top-->
						<div class="col-12 m-0 px-0 no-gutters m-auto">
							<div class="col-12 hstack feed-box-top p-3 ps-3 z-3">
								<img th:src="@{'../img/member_thumbnail/'+ ${session.Member_profileimage}}" class="float-start rounded-circle border me-3" width="50" height="50" alt="">
								<input type="hidden" name="Member_profileimage" th:value="${session.Member_profileimage}"/>
								<!--feed box text-->
								<div class="col px-0">
									<span class="float-start fw-bold f15" th:text="${session.Member_Id}">사용자명</span><br>
									<input type="hidden" name="Member_Id" th:value="${session.Member_Id}"/>
									<span class="float-start text-muted f13" th:text="${#calendars.format(#calendars.createNow(), 'yyyy.MM.dd')}">현재 날짜</span>
								</div>
								<!-- 우측 버튼 -->
								<div class="d-none col-4 d-sm-flex justify-content-end align-items-center pe-2">
									<button type="button" class="btn btn-sm btn-dark me-2" onclick="return feed_write_check()">글쓰기</button>
								</div>
							</div>
						</div>
						<!-- feed box center -->
						<div class="col-12 feed-box-center d-flex justify-content-center align-items-center overflow-hidden">
							<!-- Center : carousel -->
							<div id="feedCarousel" class="carousel slide" data-bs-ride="false">
								<!-- Carousel image -->
								<div class="carousel-indicators">
									<button type="button" data-bs-target="#feedCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
									<button type="button" data-bs-target="#feedCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
									<button type="button" data-bs-target="#feedCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
								</div>
								<!-- carousel items -->
								<div class="carousel-inner">
									<div class="carousel-item active">
										<img id="preview1" src="../img/feed_thumbnail/add-photo.png" alt="userImg" class="img-fluid w-100"/>
										<input id="fileUpload1" type='file' class="member-fileUpload-form" onchange="readURL(this);" name="Feed_thumbnail1" multiple/>
										<label for="fileUpload1" class="feed-fileUpload bg-light shadow-sm m-auto">
										</label>
									</div>
									<div class="carousel-item">
										<img id="preview2" src="../img/feed_thumbnail/add-photo.png" alt="userImg" class="img-fluid w-100"/>
										<input id="fileUpload2" type='file' class="member-fileUpload-form" onchange="readURL(this);" name="Feed_thumbnail2" multiple/>
										<label for="fileUpload2" class="feed-fileUpload bg-light shadow-sm m-auto">
										</label>
									</div>
									<div class="carousel-item">
										<img id="preview3" src="../img/feed_thumbnail/add-photo.png" alt="userImg" class="img-fluid w-100"/>
										<input id="fileUpload3" type='file' class="member-fileUpload-form" onchange="readURL(this);" name="Feed_thumbnail3" multiple/>
										<label for="fileUpload3" class="feed-fileUpload bg-light shadow-sm m-auto">
										</label>
									</div>
								</div>
								<!-- Carousel Prev/Next button -->
								<button class="carousel-control-prev" type="button" data-bs-target="#feedCarousel" data-bs-slide="prev">
								<span class="carousel-control-prev-icon" aria-hidden="true"></span>
								<span class="visually-hidden">Previous</span>
								</button>
								<button class="carousel-control-next" type="button" data-bs-target="#feedCarousel" data-bs-slide="next">
								<span class="carousel-control-next-icon" aria-hidden="true"></span>
								<span class="visually-hidden">Next</span>
								</button>
							</div>
						</div>
						<!-- Center : text -->
						<div class="col-12 feed-box-bot p-3 d-column gap-3">
							<span class="d-block fw-bold mb-1">
							<input type="text" id="Feed_title" name="Feed_title" class="form-control" placeholder="제목을 작성해주세요"/></span>
							<textarea id="Feed_content" class="form-control f14" placeholder="내용을 작성해주세요" name="Feed_content" rows="5"></textarea>
						</div>
					</div>
					<!--feed box Right | #TAG -->
					<div class="col feed-tag-box p-4 text-muted f13">
						<p>
							<b>Tag</b>
						</p>
						<!-- 테마 태그 -->
						<div class="tag-group">
							<input id="1" type="radio" name="Feed_theme" value="#빅데이터 맛집">
							<label for="1" class="btn btn-outline-dark rounded-pill btn-sm mb-1 me-1">#빅데이터 맛집</label>
							
							<input id="2" type="radio" name="Feed_theme" value="#축제">
							<label for="2" class="btn btn-outline-dark rounded-pill btn-sm mb-1 me-1">#축제</label>
							
							<input id="3" type="radio" name="Feed_theme" value="#공연">
							<label for="3" class="btn btn-outline-dark rounded-pill btn-sm mb-1 me-1">#공연</label>
							
							<input id="4" type="radio" name="Feed_theme" value="#댕댕이랑">
							<label for="4" class="btn btn-outline-dark rounded-pill btn-sm mb-1 me-1">#댕댕이랑</label>
							
							<input id="5" type="radio" name="Feed_theme" value="#아이와함께">
							<label for="5" class="btn btn-outline-dark rounded-pill btn-sm mb-1 me-1">#아이와함께</label>
							
							<input id="6" type="radio" name="Feed_theme" value="#데이트">
							<label for="6" class="btn btn-outline-dark rounded-pill btn-sm mb-1 me-1">#데이트</label>
							
							<input id="7" type="radio" name="Feed_theme" value="#소개팅">
							<label for="7" class="btn btn-outline-dark rounded-pill btn-sm mb-1 me-1">#소개팅</label>
							
							<input id="8" type="radio" name="Feed_theme" value="#친구와">
							<label for="8" class="btn btn-outline-dark rounded-pill btn-sm mb-1 me-1">#친구와</label>
							
							<input id="9" type="radio" name="Feed_theme" value="#효도여행">
							<label for="9" class="btn btn-outline-dark rounded-pill btn-sm mb-1 me-1">#효도여행</label>
						</div>
						<hr class="my-3">
						<!-- 지역 태그 -->
						<div class="tag-group">
							<input id="01" type="radio" name="Feed_area" value="#서울"><label for="01" class="btn btn-outline-dark rounded-pill btn-sm mb-1 me-1">#서울</label>
							<input id="02" type="radio" name="Feed_area" value="#부산"><label for="02" class="btn btn-outline-dark rounded-pill btn-sm mb-1 me-1">#부산</label>
							<input id="03" type="radio" name="Feed_area" value="#대구"><label for="03" class="btn btn-outline-dark rounded-pill btn-sm mb-1 me-1">#대구</label>
							<input id="04" type="radio" name="Feed_area" value="#인천"><label for="04" class="btn btn-outline-dark rounded-pill btn-sm mb-1 me-1">#인천</label>
							<input id="05" type="radio" name="Feed_area" value="#광주"><label for="05" class="btn btn-outline-dark rounded-pill btn-sm mb-1 me-1">#광주</label>
							<input id="06" type="radio" name="Feed_area" value="#대전"><label for="06" class="btn btn-outline-dark rounded-pill btn-sm mb-1 me-1">#대전</label>
							<input id="07" type="radio" name="Feed_area" value="#울산"><label for="07" class="btn btn-outline-dark rounded-pill btn-sm mb-1 me-1">#울산</label>
							<input id="08" type="radio" name="Feed_area" value="#세종"><label for="08" class="btn btn-outline-dark rounded-pill btn-sm mb-1 me-1">#세종</label>
							<input id="09" type="radio" name="Feed_area" value="#경기"><label for="09" class="btn btn-outline-dark rounded-pill btn-sm mb-1 me-1">#경기</label>
							<input id="010" type="radio" name="Feed_area" value="#강원"><label for="010" class="btn btn-outline-dark rounded-pill btn-sm mb-1 me-1">#강원</label>
							<input id="011" type="radio" name="Feed_area" value="#충북"><label for="011" class="btn btn-outline-dark rounded-pill btn-sm mb-1 me-1">#충북</label>
							<input id="012" type="radio" name="Feed_area" value="#충남"><label for="012" class="btn btn-outline-dark rounded-pill btn-sm mb-1 me-1">#충남</label>
							<input id="013" type="radio" name="Feed_area" value="#전북"><label for="013" class="btn btn-outline-dark rounded-pill btn-sm mb-1 me-1">#전북</label>
							<input id="014" type="radio" name="Feed_area" value="#전남"><label for="014" class="btn btn-outline-dark rounded-pill btn-sm mb-1 me-1">#전남</label>
							<input id="015" type="radio" name="Feed_area" value="#경북"><label for="015" class="btn btn-outline-dark rounded-pill btn-sm mb-1 me-1">#경북</label>
							<input id="016" type="radio" name="Feed_area" value="#경남"><label for="016" class="btn btn-outline-dark rounded-pill btn-sm mb-1 me-1">#경남</label>
							<input id="017" type="radio" name="Feed_area" value="#제주"><label for="017" class="btn btn-outline-dark rounded-pill btn-sm mb-1 me-1">#제주</label>
						</div>
						<!-- xs 화면 글쓰기 버튼 -->
						<div class="col-12 d-md-none">
							<input type="submit" class="py-2 mt-3 btn btn-sm btn-dark me-2 w-100" value="글쓰기">
						</div>
					</div>
				</div>
			</div>
			<!-- col -->
		</div>
	</form>
</div>
<!--feedWrite-->
<div th:replace="~{footer/footer::footer}">
</div>
</body>
<!-- 이미지 프리뷰 -->
<script>
	/* 각각 input & multiple */
 	function readURL(input) {
		if (input.files && input.files[1]) {
			var reader = new FileReader();
			reader.onload = function(e) {
				$('#preview2').attr('src', e.target.result);
			};
			reader.readAsDataURL(input.files[1]);
		}
		if (input.files && input.files[2]) {
			var reader = new FileReader();
			reader.onload = function(e) {
				$('#preview3').attr('src', e.target.result);
			};
			reader.readAsDataURL(input.files[2]);
		}
		if (input.files && input.files[0]) {
			var reader = new FileReader();
			var previewId = '#'
					+ $(input).attr('id').replace('fileUpload', 'preview');
			reader.onload = function(e) {
				$(previewId).attr('src', e.target.result);
			};
			reader.readAsDataURL(input.files[0]);
		}

	}

</script>

</html>