<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<div th:replace="~{head/head::head}">
</div>
<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.1.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.1.0/uicons-bold-rounded/css/uicons-bold-rounded.css'>

<style type="text/css">
    .css_test {
        background-image : url('../img/feed/dogs.gif');
        background-repeat : repeat-x;
        height : 100px;
    }
</style>

<body>
	<div th:replace="~{nav/nav::nav}"></div>
	<!-- 토스트 -->
	<div th:replace="~{alert/toast::div}"></div>

	<!-- 삭제 모달 -->
	<div th:replace="~{alert/del_modal::div}">
		<!-- 		
			<a th:include="~{alert/del_modal::modalLink}" class="dropdown-item active" th:href="@{'/delFeed?num=' + ${feed.Feed_num}}">
				삭제
			</a> 
		-->
	</div>
	
	<div id="feed" class="container-fluid mt-4 mb-5">
		<div class="px-2 pt-3">
			<!--filtering-->
			<div class="row px-0 hstack">
				<div class="feed-filter col-8">
					<ul class="d-flex m-0 p-0 gap-1" id="list-tab" role="tablist">
						<li class="nav-item " role="presentation">
							<button class="nav-link btn rounded-pill py-2 px-3 active"
								id="pills-home-tab" data-bs-toggle="pill"
								data-bs-target="#pills-home" type="button" role="tab"
								aria-controls="pills-home" aria-selected="true">
								<a href="/feed"> 전체 </a>
							</button>
						</li>
						<li class="nav-item" role="presentation">
							<button class="nav-link btn rounded-pill py-2 px-3" id="pills-profile-tab"
								data-bs-toggle="pill" data-bs-target="#feed-theme"
								type="button" role="tab" aria-controls="feed-theme"
								aria-selected="false"> 테마여행 🌴 
							</button>
						</li>
						<li class="nav-item" role="presentation">
							<button class="nav-link btn rounded-pill py-2 px-3" id="pills-contact-tab"
								data-bs-toggle="pill" data-bs-target="#feed-area"
								type="button" role="tab" aria-controls="feed-area"
								aria-selected="false"> 지역 🗺️ </button>
						</li>
					</ul>
				</div>
				<!--상단 우측 드롭다운-->
				<div class="col d-flex justify-content-end align-items-center">
					<button class="btn btn-light rounded-pill dropdown-toggle px-3"
						type="button" data-bs-toggle="dropdown" aria-expanded="false">
						정렬</button>
					<ul class="dropdown-menu z-5">
						<li><a id="recentSort" class="dropdown-item " href="#"
							data-sort-by="recentSort">최신순</a></li>
						<li><a id="heartSort" class="dropdown-item " href="#"
							data-sort-by="heartSort">추천순</a></li>
					</ul>
				</div>
			</div>
			<!--hstack-->
		</div>
		<hr>
		<div class="container feed-filter position-absolute px-3 ms-sm-2">
			<div class="row">
				<div class="col-12 col-md-12">
					<div class="tab-content position-relative pb-2" id="nav-tabContent">
						<!--테마 측 해시태그-->
						<div class="tab-pane fade" id="feed-theme" role="tabpanel"
							aria-labelledby="feed-theme-tag"
							th:classappend="${Feed_theme !=null} ? 'active show' : ''">
							<button type="button"
								class="btn btn-sm rounded-pill btn-dark me-1 mb-2 px-2">
								<a href="/feed" class="text-white">#전체</a>
							</button>
							<button type="button"
								class="btn btn-sm rounded-pill btn-light me-1 mb-2 px-2">
								<a th:href="@{'/feed?Feed_theme=빅데이터 맛집'}">#빅데이터 맛집</a>
							</button>
							<button type="button"
								class="btn btn-sm rounded-pill btn-light me-1 mb-2 px-2">
								<a th:href="@{'/feed?Feed_theme=축제'}">#축제</a>
							</button>
							<button type="button"
								class="btn btn-sm rounded-pill btn-light me-1 mb-2 px-2">
								<a th:href="@{'/feed?Feed_theme=공연'}">#공연</a>
							</button>
							<button type="button"
								class="btn btn-sm rounded-pill btn-light me-1 mb-2 px-2">
								<a th:href="@{'/feed?Feed_theme=댕댕이랑'}">#댕댕이랑</a>
							</button>
							<button type="button"
								class="btn btn-sm rounded-pill btn-light me-1 mb-2 px-2">
								<a th:href="@{'/feed?Feed_theme=아이와함께'}">#아이와함께</a>
							</button>
							<button type="button"
								class="btn btn-sm rounded-pill btn-light me-1 mb-2 px-2">
								<a th:href="@{'/feed?Feed_theme=데이트'}">#데이트</a>
							</button>
							<button type="button"
								class="btn btn-sm rounded-pill btn-light me-1 mb-2 px-2">
								<a th:href="@{'/feed?Feed_theme=소개팅'}">#소개팅</a>
							</button>
							<button type="button"
								class="btn btn-sm rounded-pill btn-light me-1 mb-2 px-2">
								<a th:href="@{'/feed?Feed_theme=친구와'}">#친구와</a>
							</button>
							<button type="button"
								class="btn btn-sm rounded-pill btn-light me-1 mb-2 px-2">
								<a th:href="@{'/feed?Feed_theme=효도여행'}">#효도여행</a>
							</button>
						</div>
						<!--지역 측 해시태그-->
						<div class="tab-pane fade" id="feed-area" role="tabpanel"
							aria-labelledby="feed-area-tag">
							<button type="button"
								class="btn btn-sm rounded-pill btn-dark me-1 mb-2 px-2">
								<a href="/feed" class="text-white">#전체</a>
							</button>
							<button type="button"
								class="btn btn-sm rounded-pill btn-light me-1 mb-2 px-2">
								<a th:href="@{'/feed?Feed_area=강원'}">#강원</a>
							</button>
							<button type="button"
								class="btn btn-sm rounded-pill btn-light me-1 mb-2 px-2">
								<a th:href="@{'/feed?Feed_area=서울'}">#서울</a>
							</button>
							<button type="button"
								class="btn btn-sm rounded-pill btn-light me-1 mb-2 px-2">
								<a th:href="@{'/feed?Feed_area=경기'}">#경기</a>
							</button>
							<button type="button"
								class="btn btn-sm rounded-pill btn-light me-1 mb-2 px-2">
								<a th:href="@{'/feed?Feed_area=인천'}">#인천</a>
							</button>
							<button type="button"
								class="btn btn-sm rounded-pill btn-light me-1 mb-2 px-2">
								<a th:href="@{'/feed?Feed_area=충북'}">#충북</a>
							</button>
							<button type="button"
								class="btn btn-sm rounded-pill btn-light me-1 mb-2 px-2">
								<a th:href="@{'/feed?Feed_area=충남'}">#충남</a>
							</button>
							<button type="button"
								class="btn btn-sm rounded-pill btn-light me-1 mb-2 px-2">
								<a th:href="@{'/feed?Feed_area=세종'}">#세종</a>
							</button>
							<button type="button"
								class="btn btn-sm rounded-pill btn-light me-1 mb-2 px-2">
								<a th:href="@{'/feed?Feed_area=대전'}">#대전</a>
							</button>
							<button type="button"
								class="btn btn-sm rounded-pill btn-light me-1 mb-2 px-2">
								<a th:href="@{'/feed?Feed_area=경북'}">#경북</a>
							</button>
							<button type="button"
								class="btn btn-sm rounded-pill btn-light me-1 mb-2 px-2">
								<a th:href="@{'/feed?Feed_area=전북'}">#전북</a>
							</button>
							<button type="button"
								class="btn btn-sm rounded-pill btn-light me-1 mb-2 px-2">
								<a th:href="@{'/feed?Feed_area=대구'}">#대구</a>
							</button>
							<button type="button"
								class="btn btn-sm rounded-pill btn-light me-1 mb-2 px-2">
								<a th:href="@{'/feed?Feed_area=광주'}">#광주</a>
							</button>
							<button type="button"
								class="btn btn-sm rounded-pill btn-light me-1 mb-2 px-2">
								<a th:href="@{'/feed?Feed_area=경남'}">#경남</a>
							</button>
							<button type="button"
								class="btn btn-sm rounded-pill btn-light me-1 mb-2 px-2">
								<a th:href="@{'/feed?Feed_area=울산'}">#울산</a>
							</button>
							<button type="button"
								class="btn btn-sm rounded-pill btn-light me-1 mb-2 px-2">
								<a th:href="@{'/feed?Feed_area=부산'}">#부산</a>
							</button>
							<button type="button"
								class="btn btn-sm rounded-pill btn-light me-1 mb-2 px-2">
								<a th:href="@{'/feed?Feed_area=제주'}">#제주</a>
							</button>
							<button type="button"
								class="btn btn-sm rounded-pill btn-light me-1 mb-2 px-2">
								<a th:href="@{'/feed?Feed_area=울릉'}">#울릉</a>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 글쓰기 버튼 -->
		<div
			class="sticky-top feed-btn feed-write-btn ms-auto rounded-circle d-flex"
			th:if="${session.Member_Id!=null}">
			<a href="/feed_write" class="m-auto text-center"><img
				src="../img/feed/edit.png" alt="" class="m-auto text-center"
				width="21" height="21" /> </a>
		</div>
		
		<!-- 피드목록이 비어있을 때 -->
		<div th:if="${#lists.isEmpty(feedList)}">
			<div class="row">
				<div class="col text-center py-5 my-5">
					<img src="../img/feed/out-of-stock.png" class="mb-4" width="100"
						height="100" alt="" /> <span class="h5 text-muted">현재 <span
						th:if="${not #strings.isEmpty(feed_theme)}"
						th:text="${feed_theme}"></span> <span th:if="${feed_area}!=null"
						th:text="${feed_area}">feed_area</span> 피드 목록이 비어있어요
					</span> <span class="text-muted"><span
						class="d-inline-block text-muted"
						th:text="|${session.Member_Name}님이|"
						th:if="${session.Member_Id}!=null"></span> 먼저 작성해보세요!</span> <a
						href="/feed_write"
						class="m-auto text-center btn btn-main my-4 p-2 px-5 f14"> 글
						작성하러 가기 </a>
				</div>
			</div>
		</div>
		<!--------------------------------------------feed box Parent------------------------------------------>
		<div class="m-auto my-5 my-md-3 pb-5">
			<div
				class="card-columns justify-content-center align-items-start m-0 row-box">
				<!--feed box Start-->
				<div class="col feed-box m-0 my-3 px-0 no-gutters"
					th:each="feed : ${feedList}">
						<form action="/delFeed" id="deleteFeedForm">
							<input type="hidden" name="num" th:value="${feed.Feed_num}" />
						</form>
					<!--feed box top-->
					<div class="col-12 hstack feed-box-top py-3 px-3 z-3">
						<img
							th:src="@{'../img/member_thumbnail/'+${feed.getMember_profileimage()}}"
							class="float-start rounded-circle border me-3" width="50"
							height="50" alt="">
						<!--feed box text-->
						<div class="col px-0">
							<span class="float-start fw-bold f15" th:text="${feed.Member_Id}">박검지</span><br>
							<span class="float-start text-muted f13 me-2" th:if="${#strings.contains(feed.Feed_updateday,'전')}">하이라이트</span>
							<span class="float-start text-muted f13 recentSort" th:text="${feed.getFeed_updateday()}">시간</span>
<!-- 							<input type="hidden" class="recentSort" th:value="${feed.getFeed_updateday()}"/> -->
						</div>
						<!-- 우측 버튼 -->
						<div class="col-3 d-flex justify-content-end align-items-center">
							<a th:href="@{'/feed_show?num='+${feed.Feed_num}}"
								class="btn btn-sm btn-dark"> 전체 </a>
							<!-- 수정 및 삭제 버튼  -->
							<div th:if="${session.Member_Id==feed.Member_Id or session.Member_Id=='admin'}">
								<div class="f17 hstack" id="feed-right">
									<a
										class="dropdown-toggle text-center m-0 ps-2 pt-1 d-block d-flex justify-content-end"
										href="#" role="button" id="dropdownMenuLink"
										data-bs-toggle="dropdown" aria-expanded="false"><i
										class="fi fi-rr-menu-dots-vertical"></i>
									</a>
									<ul class="dropdown-menu dropdown-menu-dark">
										<li data-bs-toggle="modal" data-bs-target="#feed_del_Modal">
											<a class="dropdown-item">삭제</a>
										</li>
										<li th:if="${session.Member_Id==feed.Member_Id}">
											<a class="dropdown-item" 
												th:href="@{'/feed_update?num='+${feed.getFeed_num()}}">수정</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<!-- feed box center | Carousel image -->
					<div
						class="col-12 feed-box-center d-flex justify-content-center align-items-center overflow-hidden">
						<div th:id="'feedCarousel'+${feed.Feed_num}"
							class="carousel slide w-100 h-100" data-bs-ride="false">
							<!-- carousel items loop -->
							<div class="carousel-inner w-100 h-100">
								<div
									th:each="thumbnail, thumbnailStat : ${#strings.arraySplit(feed.Feed_thumbnail, ',')}"
									class="carousel-item p-0 mh-250 w-100 h-100"
									th:classappend="${thumbnailStat.index==0} ? 'active' : ''">
									<img th:src="@{'../img/feed_thumbnail/' + ${thumbnail}}"
										class="d-block w-100 h-100 object-fit img-center" alt="#">
								</div>
							</div>
							<!-- Carousel Prev/Next button -->
							<!-- , 가 포함되어 있을 때(사진의 개수가 여러개) 보이는 좌우 button -->
							<div
								th:if="${#lists.size(#strings.arraySplit(feed.Feed_thumbnail, ','))>
							1}">
								<button class="carousel-control-prev" type="button"
									th:attr="data-bs-target='#feedCarousel'+${feed.Feed_num}"
									data-bs-slide="prev">
									<span class="carousel-control-prev-icon" aria-hidden="true"></span>
									<span class="visually-hidden">Previous</span>
								</button>
								<button class="carousel-control-next" type="button"
									th:attr="data-bs-target='#feedCarousel'+${feed.Feed_num}"
									data-bs-slide="next">
									<span class="carousel-control-next-icon" aria-hidden="true"></span>
									<span class="visually-hidden">Next</span>
								</button>
							</div>
						</div>
					</div>
					<!--feed-box-bot | text-->
					<div class="col-12 feed-box-bot p-4 pt-3 pb-5">
						<span class="fw-bold mb-2" th:text="${feed.Feed_title}">맥주
							맛집🍺✨</span>
						<span class="f13" th:utext="${feed.Feed_content}">맥주는
							왜 먹어도 먹어도 맛있을까요? </span>
					</div>
					<!--feed box bot | text-->
					<div
						class="col-12 feed-box-bot hstack border-top text-dark f13 d-flex hstack">
						<div class="col-6 hstack justify-content-center border-end my-3">
							<a th:href="@{'/feed_show?num='+${feed.Feed_num}}" class="text-center d-flex w-100 justify-content-center">
								<span>댓글</span><i class="fi fi-br-comment-dots hstack px-1"></i>
							</a>
						</div>
						<div class="col-6 hstack justify-content-center p-3">
						    <!-- 비로그인 시 -->
							<div th:if="${session.Member_Id}==null">
								<a th:href="@{'/feed?msg=1'}" class="d-flex">
								<span>좋아요</span>
								<i class="fi fi-br-heart hstack px-1"></i>
								</a>
							</div>
							<!-- 로그인 + 좋아요 안 누른 상태 -->
							<div th:if="${feed.getFeed_heart_on()}==0 and ${session.Member_Id}!=null">
								<a th:href="@{'/feed_like?num='+${feed.Feed_num}+'&id='+${session.Member_Id}+'&on=1'}" class="d-flex">
								<span>좋아요</span>
								<i class="fi fi-br-heart hstack px-1"></i>
								<span class="ms-2 heartSort" th:text="${feed.getFeed_heart()}" th:if="${session.Member_Id !=null}">999+</span>
								</a>
							</div>
							<!-- 로그인 + 좋아요 누른 상태 -->
							<div th:if="${feed.getFeed_heart_on()}==1 and ${session.Member_Id}!=null">
								<a th:href="@{'/feed_like?num='+${feed.Feed_num}+'&id='+${session.Member_Id}+'&on=0'}" class="d-flex">
								<span>좋아요</span><i class="fi fi-sr-heart hstack px-1"></i>
								<span class="ms-2 heartSort" th:text="${feed.getFeed_heart()}" th:if="${session.Member_Id !=null}">999+</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--padding-->
	</div>
	<!-- <div class="css_test"></div> -->
	<!--container-->
	<div th:replace="~{footer/footer::footer}"></div>
	<!-- 좋아요 비동기 -->
	<script>
		$.ajax({
		    url: '/feed_like',
		    type: 'POST',
		    cache: false, // 캐시 사용 안 함
		    data: {
		        num: feedNum,
		        id: '{{session.Member_Id}}',
		        on: '1' // 좋아요 ON으로 설정
		    },
		    success: function(response) {
		        // 성공적으로 요청을 처리한 후에 할 작업을 여기에 추가합니다.
		        // 예: 좋아요 수 업데이트 등
		        console.log(response); // 응답을 콘솔에 출력하거나 다른 작업을 수행합니다.
		    },
		    error: function(xhr, status, error) {
		        // 요청이 실패한 경우에 대한 처리를 여기에 추가합니다.
		        console.error(error); // 오류 메시지를 콘솔에 출력하거나 다른 작업을 수행합니다.
		    }
		});
	</script>

	<!-- 알림창 -->
	<script type="text/javascript">
		$(document).ready(function() {
			// URL에서 msg 매개변수 가져오기
			const urlParams = new URLSearchParams(window.location.search);
			const msg =
		urlParams.get('msg');

			// 메시지가 존재할 경우 toast로 표시
			if (msg !== null && msg !== "") {
				let message;
				if (msg == 1) {
					message = "로그인이 필요한 서비스입니다.";
				}

				// 부트스트랩 toast 트리거
				$('.my-toast-body').text(message);
				$('.my-toast').toast('show');
			}
		});
	</script>

	<!-- 필터 -->
	<script>
		// 페이지가 로드될 때 실행되는 함수
		window.onload = function() {
			// 모든 링크 요소를 가져옴
			var links = document
					.querySelectorAll('.btn[data-bs-toggle="list"]');
			// 각 링크에 대해 이벤트 리스너를 추가
			links.forEach(function(link) {
				link.addEventListener('click', function() {
					// 현재 클릭된 링크의 href 속성 값으로 리디렉션
					window.location.href = this.getAttribute('href');
					// 모든 링크의 부모 요소에서 'active' 클래스 제거
					links.forEach(function(l) {
						l.parentNode.classList.remove('active');
					});
					// 현재 클릭된 링크의 부모 요소에 'active' 클래스 추가
					this.parentNode.classList.add('active');
				});
			});
		};
	</script>
	

	<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
	<!-- isotope sorting -->
	<script>
	    $(document).ready(function() {
	        // Isotope 그리드 인스턴스 생성
	        var $grid = $('.card-columns').isotope({
	            itemSelector: '.feed-box',
	            masonry: {
	                columnWidth: 16,
	                gutter: 27
	            },
	            getSortData: {
	                heartSort: '.heartSort parseInt', // 좋아요 수를 기준으로 정렬
	                /* recentSort: '.recentSort parseInt' // 최신순으로 정렬 */
	                
	            }
	        });
	
	        // '추천순' 버튼 클릭 시
	        $('#heartSort').on('click', function() {
	            // Isotope 그리드를 'heartSort' 기준으로 다시 정렬
	            $grid.isotope({
	                sortBy: 'heartSort',
	                sortAscending: {
	                    heartSort: false // 좋아요 수를 내림차순으로 정렬하여 추천순으로 표시
	                }
	            });
	        });
	
	        // '최신순' 버튼 클릭 시
	        $('#recentSort').on('click', function() {
	            // Isotope 그리드를 'recentSort' 기준으로 다시 정렬
	            $grid.isotope({
	                sortBy: 'recentSort',
	                sortAscending: {
	                    recentSort: false // 최신순을 내림차순으로 정렬하여 최신순으로 표시
	                }
	            });
	        });
	    });
	</script>

	<!-- DEL모달 -->
	<script>
		function func_delModalBtn(){
	        document.getElementById('deleteFeedForm').submit();
	     }
	</script>
	

	<script type="text/javascript">
	    function css_test(){
	        $('.css_test').css({'background-position':'-=1'}); // 배경이미지를 왼쪽으로 1px 씩 계속 움직임
	    }
	    setInterval(css_test, 10);
	</script>
	
	<script>
	
	</script>
</body>
</html>