<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<div th:replace="~{head/head::head}">
</div>

<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.1.0/uicons-bold-rounded/css/uicons-bold-rounded.css'>
<body>
<div th:replace="~{nav/nav::nav}">
</div>
<div id="feed" class="container-fluid mt-4 mb-5">
    <div class="px-2 pt-3">
        <!--filtering-->
        <div class="row px-0 hstack">
            <div class="feed-filter col-8">
                <div class="" id="list-tab" role="tablist">
                    <a class="btn rounded-pill px-3 active" id="feed-all-tag" data-bs-toggle="list" href="#feed-all"
                       role="tab" aria-controls="feed-all"> 전체 </a>
                    <a class="btn rounded-pill px-3" id="feed-theme-tag" data-bs-toggle="list" href="#feed-theme"
                       role="tab" aria-controls="feed-theme"> 테마여행 🌴 </a>
                    <a class="btn rounded-pill px-3" id="feed-area-tag" data-bs-toggle="list" href="#feed-area"
                       role="tab" aria-controls="feed-area"> 지역 🗺️ </a>
                </div>
            </div>
            <!--상단 우측 드롭다운-->
            <div class="col d-flex justify-content-end align-items-center">
                <button class="btn btn-light rounded-pill dropdown-toggle px-3" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                    정렬
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">추천</a></li>
                    <li><a class="dropdown-item" href="#">팔로잉</a></li>
                </ul>
            </div>
        </div><!--hstack-->
    </div>
    <hr>
    <div class="container feed-filter position-absolute px-3 ms-sm-2">
        <div class="row">
            <div class="col-10 col-md-12">
                <div class="tab-content" id="nav-tabContent">
                    <!--테마 측 해시태그-->
                    <div class="tab-pane fade" id="feed-theme" role="tabpanel" aria-labelledby="feed-theme-tag">
                        <button type="button" class="btn btn-sm rounded-pill btn-dark me-1 mb-2 px-2">#전체</button>
                        <button type="button" class="btn btn-sm rounded-pill btn-light me-1 mb-2 px-2">#빅데이터 맛집</button>
                        <button type="button" class="btn btn-sm rounded-pill btn-light me-1 mb-2 px-2">#축제</button>
                        <button type="button" class="btn btn-sm rounded-pill btn-light me-1 mb-2 px-2">#공연</button>
                        <button type="button" class="btn btn-sm rounded-pill btn-light me-1 mb-2 px-2">#댕댕이랑</button>
                        <button type="button" class="btn btn-sm rounded-pill btn-light me-1 mb-2 px-2">#아이와함께</button>
                        <button type="button" class="btn btn-sm rounded-pill btn-light me-1 mb-2 px-2">#데이트</button>
                        <button type="button" class="btn btn-sm rounded-pill btn-light me-1 mb-2 px-2">#소개팅</button>
                        <button type="button" class="btn btn-sm rounded-pill btn-light me-1 mb-2 px-2">#친구와</button>
                        <button type="button" class="btn btn-sm rounded-pill btn-light me-1 mb-2 px-2">#효도여행</button>
                    </div>
                    <!--지역 측 해시태그-->
                    <div class="tab-pane fade" id="feed-area" role="tabpanel" aria-labelledby="feed-area-tag">
                        <button type="button" class="btn btn-sm rounded-pill btn-dark me-1 mb-2 px-2">#전체</button>
                        <button type="button" class="btn btn-sm rounded-pill btn-light me-1 mb-2 px-2">#강원</button>
                        <button type="button" class="btn btn-sm rounded-pill btn-light me-1 mb-2 px-2">#서울</button>
                        <button type="button" class="btn btn-sm rounded-pill btn-light me-1 mb-2 px-2">#경기</button>
                        <button type="button" class="btn btn-sm rounded-pill btn-light me-1 mb-2 px-2">#인천</button>
                        <button type="button" class="btn btn-sm rounded-pill btn-light me-1 mb-2 px-2">#층북</button>
                        <button type="button" class="btn btn-sm rounded-pill btn-light me-1 mb-2 px-2">#충남</button>
                        <button type="button" class="btn btn-sm rounded-pill btn-light me-1 mb-2 px-2">#세종</button>
                        <button type="button" class="btn btn-sm rounded-pill btn-light me-1 mb-2 px-2">#대전</button>
                        <button type="button" class="btn btn-sm rounded-pill btn-light me-1 mb-2 px-2">#경북</button>
                        <button type="button" class="btn btn-sm rounded-pill btn-light me-1 mb-2 px-2">#전북</button>
                        <button type="button" class="btn btn-sm rounded-pill btn-light me-1 mb-2 px-2">#대구</button>
                        <button type="button" class="btn btn-sm rounded-pill btn-light me-1 mb-2 px-2">#광주</button>
                        <button type="button" class="btn btn-sm rounded-pill btn-light me-1 mb-2 px-2">#경남</button>
                        <button type="button" class="btn btn-sm rounded-pill btn-light me-1 mb-2 px-2">#울산</button>
                        <button type="button" class="btn btn-sm rounded-pill btn-light me-1 mb-2 px-2">#부산</button>
                        <button type="button" class="btn btn-sm rounded-pill btn-light me-1 mb-2 px-2">#제주</button>
                        <button type="button" class="btn btn-sm rounded-pill btn-light me-1 mb-2 px-2">#울릉</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 글쓰기 버튼 -->
    <div class=" sticky-top feed-write-btn ms-auto rounded-circle d-flex" th:if="${session.Member_Id!=null}">
        <a href="/feed_write" class="m-auto text-center">
            <img src="../img/feed/edit.png" alt="" class="m-auto text-center" width="21" height="21"/>
        </a>
    </div>
    <!--------------------------------------------feed box Parent------------------------------------------>
    <div class="m-auto pt-5 pt-md-0">
        <div class="card-columns justify-content-center align-items-start m-0 row-box">
            <!--feed box Start-->
            <div class="col feed-box m-0 my-3 px-0 no-gutters" th:each="feed : ${feedList}">
                    <!--feed box top-->
                    <div class="col-12 hstack feed-box-top py-3 px-3 z-3">
                        <img th:src="@{'../img/member_thumbnail/'+${feed.Member_profileimage}}" class="float-start rounded-circle border me-3" width="50"
                             height="50" alt="">
                        <!--feed box text-->
                        <div class="col px-0">
                            <span class="float-start fw-bold f15" th:text="${feed.Member_Id}">박검지</span><br>
                            <span class="float-start text-muted f13">하이라이트</span>
                            <span
                                class="float-start text-muted f13 ms-3">2시간 전</span>
                        </div>
                        <!-- 우측 버튼 -->
                        <div class="col-4 d-flex justify-content-end align-items-center">
                            <a th:href="@{'/feed_show?num='+${feed.Feed_num}}" class="btn btn-sm btn-dark">
                            	전체
                            </a>
                            <div th:if="${session.Member_Id == feed.Member_Id}">
                            <div class="f17" id="feed-right">
								<a class="dropdown-toggle text-center m-0 ps-3 pe-1" href="#"
									role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
									aria-expanded="false"></a>
								<ul class="dropdown-menu dropdown-menu-dark">
                                    <li><a class="dropdown-item active" th:href="@{'/delFeed?num='+${feed.Feed_num}}">삭제</a></li>
                                    <li><a class="dropdown-item" th:href="@{'/feed_update?num='+${feed.Feed_num}}">수정</a></li>
                                </ul>
                            </div>
                            </div>
                        </div>
                    </div>
                    <!-- feed box center | Carousel image -->
                    <div class="col-12 feed-box-center d-flex justify-content-center align-items-center overflow-hidden">
                        <div th:id="'feedCarousel'+${feed.Feed_num}" class="carousel slide" data-bs-ride="false">
                            <!-- carousel items loop -->
                            <div class="carousel-inner">
                                <div th:each="thumbnail, thumbnailStat : ${#strings.arraySplit(feed.Feed_thumbnail, ',')}"
                                     class="carousel-item p-0"
                                     th:classappend="${thumbnailStat.index==0} ? 'active' : ''">
                                    <img th:src="@{'../img/feed_thumbnail/' + ${thumbnail}}"
                                         class="d-block w-100" alt="#">
                                </div>
                            </div>
                            <!-- Carousel Prev/Next button -->
                            <div th:if="${#lists.size(#strings.arraySplit(feed.Feed_thumbnail, ','))>1}">
                                <button class="carousel-control-prev" type="button"
                                        th:attr="data-bs-target='#feedCarousel'+${feed.Feed_num}" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button"
                                        th:attr="data-bs-target='#feedCarousel'+${feed.Feed_num}" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <!--feed-box-bot | text-->
                    <div class="col-12 feed-box-bot p-3">
                        <span class="fw-bold mb-1" th:text="${feed.Feed_title}">맥주 맛집🍺✨</span>
                        <span class="f13" th:text="${feed.Feed_content}">맥주는 왜 먹어도 먹어도 맛있을까요? </span>
                    </div>
                    <!--feed box bot | text-->
                    <div class="col-12 feed-box-bot hstack p-3 border-top text-muted f13 d-flex hstack">
                        <div class="col-6 hstack justify-content-center border-end d-flex hstack">
                            <span>담기</span>
                            <i class="fi fi-br-bookmark hstack px-1"></i>
                        </div>
                        <div class="col-6 hstack justify-content-center hstack">
                            <span>좋아요</span><i class="fi fi-br-heart hstack px-1"></i><span class="ms-2">999+</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div><!--padding-->
</div><!--container-->

<div th:replace="~{footer/footer::footer}">
</div>
</body>
</html>