<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<div th:replace="~{head/head::head}"></div>

<body>

<div th:replace="~{nav/nav::nav}"></div>
    <div class="map_wrapp">
        <!-- 맵 컨텐츠 전체를 감싸는 영역  -->
        <div class="map_all_contentBox">
                <!-- map 왼쪽 가이드 영역 -->
            <div class="map_guide">
                <!-- gps 현재 위치 출력 영역 -->
                <div class="map_curr_locationBox">
                    <div class="col map_curr_location d-flex justify-content-between">
                        <div class="map_curr_location_name">
                            <span>경기 수원시 권선구</span>
                        </div>
                        <div class="map_curr_location_weather d-flex">
                            <span>현재날씨 </span>
                            <em>최고 | 최저</em>
                        </div>
                    </div>
                </div>  <!-- map_curr_locationBox -->

                <!-- map guide 아이콘 영역 -->
                <div class="map_guide_iconBox">
                    <div class="map_guide_icon">
                        <ul class="map_guide_icon_list px-0">
                            <li class="map_guide_icon_item map_icon_near_trip">
                                주변여행지
                            </li>
                            <li class="map_guide_icon_item map_icon_food">
                                음식점
                            </li>
                            <li class="map_guide_icon_item map_icon_cafe">
                                카페
                            </li>
                            <li class="map_guide_icon_item map_icon_hotel">
                                숙소
                            </li>
                            <li class="map_guide_icon_item map_icon_park">
                                주차장
                            </li>
                            <li class="map_guide_icon_item map_icon_electric_charg">
                                전기차충전소
                            </li>
                            <li class="map_guide_icon_item map_icon_recomand_thema">
                                추천테마
                            </li>
                            <li class="map_guide_icon_item map_icon_trip_course">
                                여행코스
                            </li>
                            <li class="map_guide_icon_item map_icon_myTrip">
                                나의여행
                            </li>
                            <li class="map_guide_icon_item map_icon_set">
                                설정
                            </li>
                        </ul>
                    </div>
                  
                </div> <!-- map_guide_iconBox 끝 div--> 
                
                <!-- 페이징 -->
                <div class="pagination">
						<ul class="d-flex">
							<!-- 이전 버튼 -->
							<li th:if="${currentPage > 1}" class="mx-2"><a
								th:href="@{'/map?page=' + ${mPage}}">&laquo;
									이전</a></li>

							<!-- 페이지 번호 -->
							<li
								th:each="pageNum : ${#numbers.sequence((currentPage - 2 > 0 ? currentPage - 2 : 1), 
                        (currentPage + 2 < totalPages ? currentPage + 2 : totalPages))}"
								class="mx-2"><a
								th:href="@{'/map?page=' + ${pageNum}}"
								th:text="${pageNum}"
								th:class="${currentPage == pageNum} ? 'current-page' : ''"></a>
							</li>

							<!-- 다음 버튼 -->
							<li th:if="${currentPage < totalPages}" class="mx-2"><a
								th:href="@{'/info?page=' + ${pPage} }">다음
									&raquo;</a></li>
						</ul>
					</div>
				<div id="mapListItemWrapper">
				</div>					
                <div class="mapListItemBox">
                	<!-- 게시글 리스트 출력 -->
	                <div class="mapListItem row" th:each="paginItemList : ${paginItemList}">
	                	<a  class="row" th:href="@{'Event_view?id='+ ${paginItemList.getEvent_num()}}">
		                	<div class="col-3 board-left text-center hstack justify-content-center">
								<img th:src="@{'../img/info/' + ${paginItemList.getEvent_thumbnail()}}"
										class="img-fluid rounded-4" alt=""
										style="width: 80px; height: 80px;">
							</div>
							<div class="col">
								<div class="row">
									<div class="col">
										<h6>
											[<span th:text="${paginItemList.getEvent_category()}"></span>] 
											<span th:text="${paginItemList.getEvent_name()}"></span>
										</h6>
									</div>
								</div>
							</div>
							
						</a>
	                </div> <!-- mapListItem 끝-->
                </div>
				
                
                
                
            </div> <!-- map_guide -->

            <div class="map_mapSection">
                <!-- 지도를 표시할 div 입니다 -->
                <div id="map"></div>
            </div>
        </div>
        
    </div>



<div th:replace="~{footer/footer::footer}"></div>
    <script th:inline="javascript">
    /*<![CDATA[*/
    kakao.maps.load(function () {
        // 마커를 담을 배열입니다
        var markers = [];
        // 마커 간의 거리를 담을 배열입니다
        var distances = [];

        // event table에 저장된 데이터
        var mapMarkerList = /*[[${mapMarkerList}]]*/ [];
		
        console.log(mapMarkerList);
        
     	// 현재 위치 변수 선언
        var presentPosition;
        
        // 지도를 표시할 div
        var mapContainer = document.getElementById('map');

        var mapOption = {
            center: new kakao.maps.LatLng(37.566826, 126.9786567), // 지도의 중심좌표
            level: 5 // 지도의 확대 레벨
        };

        // 지도를 표시할 div와  지도 옵션으로  지도를 생성합니다
        var map = new kakao.maps.Map(mapContainer, mapOption);

        // mapMarkerList에 저장된 데이터를 반복하여 마커 생성 및 표시
        mapMarkerList.forEach(function (markerInfo) {
            // 마커의 위치 설정
            var markerPosition = new kakao.maps.LatLng(parseFloat(markerInfo.event_mapX), parseFloat(markerInfo.event_mapY));
            // 마커 생성
            var marker = new kakao.maps.Marker({
                position: markerPosition // 마커의 위치 설정
            });
            // 마커 지도에 표시
            marker.setMap(map);
            markers.push(marker);

            // 클릭 이벤트 핸들러 추가
            addMarkerClickListener(marker, markers.length - 1);
        });

        

        // HTML5의 geolocation으로 사용할 수 있는지 확인합니다 
        if (navigator.geolocation) {
            // GeoLocation을 이용해서 접속 위치를 얻어옵니다
            navigator.geolocation.getCurrentPosition(function (position) {
                var lat = position.coords.latitude; // 위도
                var lon = position.coords.longitude; // 경도
                presentPosition = new kakao.maps.LatLng(lat, lon); // geolocation으로 얻어온 좌표

                // 현재 위치 마커 생성
                var currentPositionMarker = new kakao.maps.Marker({
                    position: presentPosition,
                    map: map
                });
                markers.push(currentPositionMarker); // 마커 배열에 추가

                // 현재 위치로 지도 중심 변경
                map.setCenter(presentPosition);

                // 모든 마커가 생성되고 현재 위치가 설정된 후에 거리 계산
                calculateDistances(presentPosition, markers);
            });
        } else { // HTML5의 GeoLocation을 사용할 수 없을때 
            presentPosition = new kakao.maps.LatLng(37.566826, 126.9786567);
            alert('현재 위치를 찾을 수 없습니다');
            // 현재 위치 마커 생성
            var currentPositionMarker = new kakao.maps.Marker({
                position: presentPosition,
                map: map
            });
            markers.push(currentPositionMarker); // 마커 배열에 추가
            map.setCenter(presentPosition);
            
         // 모든 마커가 생성되고 현재 위치가 설정된 후에 거리 계산
           	calculateDistances(presentPosition, markers);
        }

        // 각 마커에 클릭 이벤트 핸들러 추가하는 함수
        function addMarkerClickListener(marker, index) {
            kakao.maps.event.addListener(marker, 'click', function () {
                var event = mapMarkerList[index];
                var markerPosition = marker.getPosition();
                var distance = getDistance(presentPosition, markerPosition);
                var eventName = event.event_name;
                var eventNum = event.event_num;
                var info = "거리: " + distance.toFixed(2) + "m, 이벤트 이름: " + eventName + " (" + eventNum + ")";
                alert(info); // 현 위치의 마커와의 거리 및 이벤트 이름 출력
            });
        }

        // 모든 마커에 대해 현재 위치와의 거리 계산
        function calculateDistances(presentPosition, markers) {
            markers.forEach(function (marker) {
                var distance = getDistance(presentPosition, marker.getPosition());
                //console.log("거리: " + distance + "m");
                distances.push(distance); // 계산된 거리를 배열에 저장
            });

            // 거리와 해당 인덱스를 묶어 객체로 만든 배열 생성
            var combinedData = distances.map(function (distance, index) {
                return {
                    distance: distance ,
                    event : mapMarkerList[index] // 해당 인덱스의 이벤트 정보
                };
            });
            console.log(combinedData);
			
         	// 데이터를 서버로 전송
            sendDataToServer(combinedData);
           	
        }

        function sendDataToServer(data) {
            // 데이터가 null이 아닌 경우에만 서버로 전송합니다.
            if (data && data.length > 0) {
                $.ajax({
                    url: '/getDistance', // 서버 엔드포인트 URL
                    type: 'POST', // 데이터를 보내기 때문에 POST 방식을 사용합니다.
                    contentType: 'application/json',
                    data: JSON.stringify(data), // JSON 형태로 데이터를 변환하여 전송합니다.
                    success: function(response) {
                        // 성공적으로 서버에서 응답을 받았을 때 실행할 코드를 작성합니다.
                        console.log('서버 응답:', response);
                    },
                    error: function(xhr, status, error) {
                        // 서버 요청이 실패했을 때 실행할 코드를 작성합니다.
                        console.error('서버 요청 실패:', error);
                    }
                });
            } else {
                console.log('전송할 데이터가 없습니다.');
            }
        }
        
        // 두 지점 간의 직선 거리를 계산하는 함수
        function getDistance(p1, p2) {
            var lat1 = p1.getLat(), lon1 = p1.getLng();
            var lat2 = p2.getLat(), lon2 = p2.getLng();
            var R = 6371000; // 지구의 반지름 (미터 단위)
            var dLat = (lat2 - lat1) * Math.PI / 180;
            var dLon = (lon2 - lon1) * Math.PI / 180;
            var a =
                Math.sin(dLat / 2) * Math.sin(dLat / 2) +
                Math.cos(lat1 * Math.PI / 180) * Math.cos(lat2 * Math.PI / 180) *
                Math.sin(dLon / 2) * Math.sin(dLon / 2);
            var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
            var d = R * c; // 거리 (미터 단위)
            return d;
        }
    });
    /*]]>*/
</script>
</body>

</html>