<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<div th:replace="~{head/head::head}"></div>
<body class="overflow-hidden">
   <div th:replace="~{nav/nav::nav}"></div>
   <div class="loading-screen">
        <div class="loading-message">로딩 중...</div>
    </div>
   <div class="map_wrapp">
      <!-- 맵 컨텐츠 전체를 감싸는 영역  -->
      <div class="map_all_contentBox ">
         <!-- map 왼쪽 가이드 영역 -->
         <div class="map_guide overflow-scroll" style="height: 100vh; ">
            <!-- 정보값 출력 영역 day가 0일때-->
            <th:block th:if="${day}==0">
               <div class="map_curr_locationBox  py-4 bg-pinkD">
               <div class="col map_curr_location ">
                  <div class="map_curr_location_name1 my-3 px-3 text-white">
                     <th:block th:if="${session.Member_Name eq null}">
                        <span>사용자님을 위한 여행코스</span></th:block>
                        <th:block th:if="${session.Member_Name ne null}">
                        <span th:text="${session.Member_Name}" class="f22 "></span><span>님을 위한 여행코스</span>
                        </th:block>
                     <div class="col p-3 bg-white mx-auto rounded-4 d-flex align-items-center mt-3">
                        <div class="col-2 bg-pinkD rounded-circle f14 dayCircle ">당일여행</div>
                        <div class="col-10 rounded-circle mt-3">
                            <p class="px-3 mb-1 pb-1"><b>여행 지역 </b> <span class="text-black mx-2 ">|</span> <span th:text="${aicc.get(0).getEvent_area()}" class="text-black"></span></p>
                            <p class="px-3 mb-1 pb-1 text-black"><b>총 거리</b> <span class="text-black mx-2">|</span> <span class="totalDistance text-black"></span> </p>
                            <p class="px-3">
                            <th:block th:if="${thema!=null and thema != ' '}"># <span th:text="${thema}" class="text-black "></span></th:block>
                            <th:block th:if="${thema1!=null and thema1 != ' '}"># <span th:text="${thema1}" class="text-black "></span></th:block>
                            <th:block th:if="${thema2!=null and thema2 != ' '}"># <span th:text="${thema2}" class="text-black "></span></th:block>
                            <th:block th:if="${thema3!=null and thema3 != ' '}"># <span th:text="${thema3}" class="text-black "></span></th:block>
                            <th:block th:if="${thema4!=null and thema4 != ' '}"># <span th:text="${thema4}" class="text-black "></span></th:block>
                            <th:block th:if="${thema5!=null and thema5 != ' '}"># <span th:text="${thema5}" class="text-black "></span></th:block>
                            <th:block th:if="${thema6!=null and thema6 != ' '}"># <span th:text="${thema6}" class="text-black "></span></th:block>
                            <th:block th:if="${thema7!=null and thema7 != ' '}"># <span th:text="${thema7}" class="text-black "></span></th:block>
                            <th:block th:if="${thema8!=null and thema8 != ' '}"># <span th:text=" ${thema8}" class="text-black "></span></th:block></p>
                        </div>
                     </div>
                  </div>
                  
               </div>
            </div>
            </th:block>
            
            
            <!-- 정보값 출력 영역 day가 1일때-->
            <th:block th:if="${day}==1">
               <div class="map_curr_locationBox  py-4 bg-skyb">
               <div class="col map_curr_location">
                  <div class="map_curr_location_name1 my-3 px-3 text-white">
                     <th:block th:if="${session.Member_Name eq null}">
                        <span>사용자님을 위한 여행코스</span></th:block>
                        <th:block th:if="${session.Member_Name ne null}">
                        <span th:text="${session.Member_Name}" class="f22 "></span><span>님을 위한 여행코스</span>
                        </th:block>
                     <div class="col p-3 bg-white mx-auto rounded-4 d-flex align-items-center mt-3">
                        <div class="col-2 bg-skyb rounded-circle f14 dayCircle ">1박2일</div>
                        <div class="col-10 rounded-circle mt-3">
                            <p class="px-3 mb-1 pb-1"><b>여행 지역 </b> <span class="text-black mx-2 ">|</span> <span th:text="${aicc.get(0).getEvent_area()}" class="text-black"></span></p>
                            <p class="px-3 mb-1 pb-1 text-black"><b>총 거리</b> <span class="text-black mx-2">|</span> <span class="totalDistance text-black"></span> </p>
                            <p class="px-3">
                            <th:block th:if="${thema!=null and thema != ' '}"># <span th:text="${thema}" class="text-black "></span></th:block>
                            <th:block th:if="${thema1!=null and thema1 != ' '}"># <span th:text="${thema1}" class="text-black "></span></th:block>
                            <th:block th:if="${thema2!=null and thema2 != ' '}"># <span th:text="${thema2}" class="text-black "></span></th:block>
                            <th:block th:if="${thema3!=null and thema3 != ' '}"># <span th:text="${thema3}" class="text-black "></span></th:block>
                            <th:block th:if="${thema4!=null and thema4 != ' '}"># <span th:text="${thema4}" class="text-black "></span></th:block>
                            <th:block th:if="${thema5!=null and thema5 != ' '}"># <span th:text="${thema5}" class="text-black "></span></th:block>
                            <th:block th:if="${thema6!=null and thema6 != ' '}"># <span th:text="${thema6}" class="text-black "></span></th:block>
                            <th:block th:if="${thema7!=null and thema7 != ' '}"># <span th:text="${thema7}" class="text-black "></span></th:block>
                            <th:block th:if="${thema8!=null and thema8 != ' '}"># <span th:text=" ${thema8}" class="text-black "></span></th:block></p>
                            
                        </div>
                     </div>
                  </div>
                  
               </div>
            </div>
            </th:block>
            <!-- 정보값 출력 영역 day가 0일때-->
            <th:block th:if="${day}==2">
               <div class="map_curr_locationBox  py-4 bg-mainbg">
               <div class="col map_curr_location">
                  <div class="map_curr_location_name1 my-3 px-3">
                     <th:block th:if="${session.Member_Name eq null}">
                        <span>사용자님을 위한 여행코스</span></th:block>
                        <th:block th:if="${session.Member_Name ne null}">
                        <span th:text="${session.Member_Name}" class="f22 text-black"></span><span class="text-black">님을 위한 여행코스</span>
                        </th:block>
                     <div class="col p-3 bg-white mx-auto rounded-4 d-flex align-items-center mt-3">
                        <div class="col-2 bg-mainbg rounded-circle f14 dayCircle text-black">2박3일</div>
                        <div class="col-10 rounded-circle mt-3">
                            <p class="px-3 mb-1 pb-1"><b>여행 지역 </b> <span class="mx-2 ">|</span> <span th:text="${aicc.get(0).getEvent_area()}" class="text-black"></span></p>
                            <p class="px-3 mb-1 pb-1 text-black"><b>총 거리</b> <span class="text-black mx-2">|</span> <span class="totalDistance text-black"></span> </p>
                            <p class="px-3">
                            <th:block th:if="${thema!=null and thema != ' '}"># <span th:text="${thema}" class="text-black "></span></th:block>
                            <th:block th:if="${thema1!=null and thema1 != ' '}"># <span th:text="${thema1}" class="text-black "></span></th:block>
                            <th:block th:if="${thema2!=null and thema2 != ' '}"># <span th:text="${thema2}" class="text-black "></span></th:block>
                            <th:block th:if="${thema3!=null and thema3 != ' '}"># <span th:text="${thema3}" class="text-black "></span></th:block>
                            <th:block th:if="${thema4!=null and thema4 != ' '}"># <span th:text="${thema4}" class="text-black "></span></th:block>
                            <th:block th:if="${thema5!=null and thema5 != ' '}"># <span th:text="${thema5}" class="text-black "></span></th:block>
                            <th:block th:if="${thema6!=null and thema6 != ' '}"># <span th:text="${thema6}" class="text-black "></span></th:block>
                            <th:block th:if="${thema7!=null and thema7 != ' '}"># <span th:text="${thema7}" class="text-black "></span></th:block>
                            <th:block th:if="${thema8!=null and thema8 != ' '}"># <span th:text=" ${thema8}" class="text-black "></span></th:block></p>
                            
                            
                        </div>
                     </div>
                  </div>
                  
               </div>
            </div>
            </th:block>
            <!-- gps 현재 위치 출력 영역 -->
            <div class="map_curr_locationBox">
               <div class="col map_curr_location d-flex justify-content-between ">
                  <div class="map_curr_location_name mt-3 px-3">
                     <span>경기 수원시 권선구</span>
                  </div>
                  <div class="map_curr_location_weather d-flex mt-3 px-3">
                     <span>현재날씨 </span> <em>최고 | 최저</em>
                  </div>
               </div>
            </div>
            <!-- map_curr_locationBox -->

            <!-- map guide 아이콘 영역 -->
            <div class="map_guide_iconBox mt-5">
               <div class="map_guide_icon ">
                  <ul class="map_guide_icon_list px-0">
                     <li class="map_guide_icon_item map_icon_near_trip">주변여행지</li>
                     <li class="map_guide_icon_item map_icon_food">음식점</li>
                     <li class="map_guide_icon_item map_icon_cafe">카페</li>
                     <li class="map_guide_icon_item map_icon_hotel">숙소</li>
                     <li class="map_guide_icon_item map_icon_park">주차장</li>
                     <li class="map_guide_icon_item map_icon_electric_charg">
                        전기차충전소</li>
                     <li class="map_guide_icon_item map_icon_recomand_thema">
                        추천테마</li>
                     <li class="map_guide_icon_item map_icon_trip_course">여행코스</li>
                     <li class="map_guide_icon_item map_icon_myTrip">나의여행</li>
                     <li class="map_guide_icon_item map_icon_set">설정</li>
                  </ul>
               </div>
               
               <!-- 코스 저장 버튼 -->
               <form action="cours_Save" name="saveBtn" method="post">
               <button class="btn saveBtn" type="button">코스 저장하기</button>
               <input type="hidden" th:value="${aicc.get(0).getEvent_num()}" name="cours1"/>
               <input type="hidden" th:value="${aiccFood.get(0).getEvent_num()}" name="cours2"/>
               <input type="hidden" th:value="${aicc2.get(0).getEvent_num()}" name="cours3"/>
               <input type="hidden" th:value="${aiccCafe.get(0).getEvent_num()}" name="cours4"/>
               <input type="hidden" th:value="${aiccFood2.get(0).getEvent_num()}" name="cours5"/>
               <input type="hidden" class="totalDistanceValue" value="" name="cours6"/>
               <input type="hidden" class="totalDistanceValue2" value="" name="cours12"/>
               <input type="hidden" class="totalDistanceValue" th:value="${day}" name="day"/>
               <input type="hidden" name="memberId" th:value="${session.Member_Id}" />
               
               <!-- 반복될 부분 day1 -->
               <p class="px-3 f20 fw-bold">day 1</p>
                  <!-- 여행지 1 -->
                  <hr class="px-5 text-black-50" />
                     <div class="row" th:each="aicc:${aicc}">
                  <div class="col">
                  <a th:href="@{'Event_view?id='+ ${aicc.getEvent_num()}}">
                     <div class="row px-4 Event_contentRow">
                        <div class="col-1 count">
                           <p class="text-center f22">1</p>
                        </div>
                        <div class="col-2 count mx-2 px-0">
                           <img th:src="@{'../img/info/' + ${aicc.getEvent_thumbnail()}}"
                              class="img-fluid rounded-circle" alt=""
                              style="width: 60px; height: 60px;">
                        </div>
                        <div class="col-8">
                           <p th:text="${aicc.getEvent_category()}"
                              class="badge bg-pinkD px-2 mb-2 py-2"></p>
                           <h5 th:text="${aicc.getEvent_name()}" class="mb-1"></h5>
                           <p th:text="${aicc.getEvent_content()}" class="text-truncate"></p>
                        </div>
                        <div class="col"></div>
                     </div>
                     </a>
                     </div>
                  </div>
               
                           <!-- 맛집 -->
                  <hr class="px-5 text-black-50" />
                     <div class="row" th:each="aiccFood:${aiccFood}">
                  <div class="col">
                  <a th:href="@{'Event_view?id='+ ${aiccFood.getEvent_num()}}">
                     <div class="row px-4 Event_contentRow">
                        <div class="col-1 count">
                           <p class="text-center f22">2</p>
                        </div>
                        <div class="col-2 count mx-2 px-0">
                           <img th:src="@{'../img/info/' + ${aiccFood.getEvent_thumbnail()}}"
                              class="img-fluid rounded-circle" alt=""
                              style="width: 60px; height: 60px;">
                        </div>
                        <div class="col-8">
                           <p th:text="${aiccFood.getEvent_category()}"
                              class="badge bg-pinkD px-2 mb-2 py-2"></p>
                           <h5 th:text="${aiccFood.getEvent_name()}" class="mb-1"></h5>
                           <p th:text="${aiccFood.getEvent_content()}" class="text-truncate"></p>
                        </div>
                        <div class="col"></div>
                     </div>
                     </a>
                     </div>
                  </div>
                  
            <!-- 여행지 2 -->
            <hr class="px-5 text-black-50" />
               <div class="row" th:each="aicc2:${aicc2}">
                  <div class="col">
                     <a th:href="@{'Event_view?id='+ ${aicc2.getEvent_num()}}">
                     <div class="row px-4 Event_contentRow">
                        <div class="col-1 count">
                           <p class="text-center f22">3</p>
                        </div>
                        <div class="col-2 count mx-2 px-0">
                           <img th:src="@{'../img/info/' + ${aicc2.getEvent_thumbnail()}}"
                              class="img-fluid rounded-circle" alt=""
                              style="width: 60px; height: 60px;">
                        </div>
                        <div class="col-8">
                           <p th:text="${aicc2.getEvent_category()}"
                              class="badge bg-pinkD px-2 mb-2 py-2"></p>
                           <h5 th:text="${aicc2.getEvent_name()}" class="mb-1"></h5>
                           <p th:text="${aicc2.getEvent_content()}" class="text-truncate"></p>
                        </div>
                        <div class="col"></div>
                     </div>
                     </a>
                     </div>
                  </div>
               <!-- 카페 영역 -->
                  <hr class="px-5 text-black-50" />
                  <div class="row"  th:each="aiccCafe:${aiccCafe}">
                  <div class="col">
                  <a th:href="@{'Event_view?id='+ ${aiccCafe.getEvent_num()}}">
                     <div class="row px-4 Event_contentRow">
                        <div class="col-1 count">
                           <p class="text-center f22">4</p>
                        </div>
                        <div class="col-2 count mx-2 px-0">
                           <img th:src="@{'../img/info/' + ${aiccCafe.getEvent_thumbnail()}}"
                              class="img-fluid rounded-circle" alt=""
                              style="width: 60px; height: 60px;">
                        </div>
                        <div class="col-8">
                           <p th:text="${aiccCafe.getEvent_category()}"
                              class="badge bg-pinkD px-2 mb-2 py-2"></p>
                           <h5 th:text="${aiccCafe.getEvent_name()}" class="mb-1"></h5>
                           <p th:text="${aiccCafe.getEvent_content()}" class="text-truncate"></p>
                        </div>
                        <div class="col"></div>
                     </div>
                     </a>
                  </div>
               </div>
                           <!-- 맛집2 -->
                  <hr class="px-5 text-black-50" />
                     <div class="row mb-5" th:each="aiccFood2:${aiccFood2}">
                  <div class="col">
                  <a th:href="@{'Event_view?id='+ ${aiccFood2.getEvent_num()}}">
                     <div class="row px-4 Event_contentRow">
                        <div class="col-1 count">
                           <p class="text-center f22">5</p>
                        </div>
                        <div class="col-2 count mx-2 px-0">
                           <img th:src="@{'../img/info/' + ${aiccFood2.getEvent_thumbnail()}}"
                              class="img-fluid rounded-circle" alt=""
                              style="width: 60px; height: 60px;">
                        </div>
                        <div class="col-8">
                           <p th:text="${aiccFood2.getEvent_category()}"
                              class="badge bg-pinkD px-2 mb-2 py-2"></p>
                           <h5 th:text="${aiccFood2.getEvent_name()}" class="mb-1"></h5>
                           <p th:text="${aiccFood2.getEvent_content()}" class="text-truncate"></p>
                        </div>
                        <div class="col"></div>
                     </div>
                     </a>
                     </div>
                  </div>
                  <th:block th:if="${day}==1 or ${day}==2" >
                                <!-- 숙소 -->
                  <hr class="px-5 text-black-50" />
                     <div class="row" th:each="hotel:${hotel}">
                  <div class="col">
                  <a th:href="@{'Event_view?id='+ ${hotel.getEvent_num()}}">
                     <div class="row px-4 Event_contentRow">
                        <div class="col-1 count">
                           <p class="text-center f22">6</p>
                        </div>
                        <div class="col-2 count mx-2 px-0">
                           <img th:src="@{'../img/info/' + ${hotel.getEvent_thumbnail()}}"
                              class="img-fluid rounded-circle" alt=""
                              style="width: 60px; height: 60px;">
                        </div>
                        <div class="col-8">
                           <p th:text="${hotel.getEvent_category()}"
                              class="badge bg-pinkD px-2 mb-2 py-2"></p>
                           <h5 th:text="${hotel.getEvent_name()}" class="mb-1"></h5>
                           <p th:text="${hotel.getEvent_content()}" class="text-truncate"></p>
                        </div>
                        <div class="col"></div>
                     </div>
                     </a>
                     </div>
                  </div>
                  </th:block>
                  </form>
                  <!-- 반복될 부분 day1 끝 -->
                  <!-- 반복될 부분 day2 -->
                  <th:block th:if="${day}==1 or ${day}==2" >
                  <p class="px-3 f20 fw-bold">day 2</p>
                  <!-- 여행지 1 -->
                  <hr class="px-5 text-black-50" />
                     <div class="row mb-5" th:each="aicc3:${aicc3}">
                  <div class="col ">
                  <a th:href="@{'Event_view?id='+ ${aicc3.getEvent_num()}}">
                     <div class="row px-4 Event_contentRow">
                        <div class="col-1 count">
                           <p class="text-center f22">1</p>
                        </div>
                        <div class="col-2 count mx-2 px-0">
                           <img th:src="@{'../img/info/' + ${aicc3.getEvent_thumbnail()}}"
                              class="img-fluid rounded-circle" alt=""
                              style="width: 60px; height: 60px;">
                        </div>
                        <div class="col-8">
                           <p th:text="${aicc3.getEvent_category()}"
                              class="badge bg-skyb px-2 mb-2 py-2"></p>
                           <h5 th:text="${aicc3.getEvent_name()}" class="mb-1"></h5>
                           <p th:text="${aicc3.getEvent_content()}" class="text-truncate"></p>
                        </div>
                        <div class="col"></div>
                     </div>
                     </a>
                     </div>
                  </div>
               
                           <!-- 맛집 -->
                  <hr class="px-5 text-black-50" />
                     <div class="row" th:each="aiccFood3:${aiccFood3}">
                  <div class="col">
                  <a th:href="@{'Event_view?id='+ ${aiccFood3.getEvent_num()}}">
                     <div class="row px-4 Event_contentRow">
                        <div class="col-1 count">
                           <p class="text-center f22">2</p>
                        </div>
                        <div class="col-2 count mx-2 px-0">
                           <img th:src="@{'../img/info/' + ${aiccFood3.getEvent_thumbnail()}}"
                              class="img-fluid rounded-circle" alt=""
                              style="width: 60px; height: 60px;">
                        </div>
                        <div class="col-8">
                           <p th:text="${aiccFood3.getEvent_category()}"
                              class="badge bg-skyb px-2 mb-2 py-2"></p>
                           <h5 th:text="${aiccFood3.getEvent_name()}" class="mb-1"></h5>
                           <p th:text="${aiccFood3.getEvent_content()}" class="text-truncate"></p>
                        </div>
                        <div class="col"></div>
                     </div>
                     </a>
                     </div>
                  </div>
                  
            <!-- 여행지 2 -->
            <hr class="px-5 text-black-50" />
               <div class="row" th:each="aicc4:${aicc4}">
                  <div class="col">
                     <a th:href="@{'Event_view?id='+ ${aicc4.getEvent_num()}}">
                     <div class="row px-4 Event_contentRow">
                        <div class="col-1 count">
                           <p class="text-center f22">3</p>
                        </div>
                        <div class="col-2 count mx-2 px-0">
                           <img th:src="@{'../img/info/' + ${aicc4.getEvent_thumbnail()}}"
                              class="img-fluid rounded-circle" alt=""
                              style="width: 60px; height: 60px;">
                        </div>
                        <div class="col-8">
                           <p th:text="${aicc4.getEvent_category()}"
                              class="badge bg-skyb px-2 mb-2 py-2"></p>
                           <h5 th:text="${aicc4.getEvent_name()}" class="mb-1"></h5>
                           <p th:text="${aicc4.getEvent_content()}" class="text-truncate"></p>
                        </div>
                        <div class="col"></div>
                     </div>
                     </a>
                     </div>
                  </div>
               <!-- 카페 영역 -->
                  <hr class="px-5 text-black-50" />
                  <div class="row"  th:each="aiccCafe2:${aiccCafe2}">
                  <div class="col">
                  <a th:href="@{'Event_view?id='+ ${aiccCafe2.getEvent_num()}}">
                     <div class="row px-4 Event_contentRow">
                        <div class="col-1 count">
                           <p class="text-center f22">4</p>
                        </div>
                        <div class="col-2 count mx-2 px-0">
                           <img th:src="@{'../img/info/' + ${aiccCafe2.getEvent_thumbnail()}}"
                              class="img-fluid rounded-circle" alt=""
                              style="width: 60px; height: 60px;">
                        </div>
                        <div class="col-8">
                           <p th:text="${aiccCafe2.getEvent_category()}"
                              class="badge bg-skyb px-2 mb-2 py-2"></p>
                           <h5 th:text="${aiccCafe2.getEvent_name()}" class="mb-1"></h5>
                           <p th:text="${aiccCafe2.getEvent_content()}" class="text-truncate"></p>
                        </div>
                        <div class="col"></div>
                     </div>
                     </a>
                  </div>
               </div>
                           <!-- 맛집2 -->
                  <hr class="px-5 text-black-50" />
                     <div class="row" th:each="aiccFood4:${aiccFood4}">
                  <div class="col">
                  <a th:href="@{'Event_view?id='+ ${aiccFood4.getEvent_num()}}">
                     <div class="row px-4 Event_contentRow">
                        <div class="col-1 count">
                           <p class="text-center f22">5</p>
                        </div>
                        <div class="col-2 count mx-2 px-0">
                           <img th:src="@{'../img/info/' + ${aiccFood4.getEvent_thumbnail()}}"
                              class="img-fluid rounded-circle" alt=""
                              style="width: 60px; height: 60px;">
                        </div>
                        <div class="col-8">
                           <p th:text="${aiccFood4.getEvent_category()}"
                              class="badge bg-skyb px-2 mb-2 py-2"></p>
                           <h5 th:text="${aiccFood4.getEvent_name()}" class="mb-1"></h5>
                           <p th:text="${aiccFood4.getEvent_content()}" class="text-truncate"></p>
                        </div>
                        <div class="col"></div>
                     </div>
                     </a>
                     </div>
                  </div>
               
                  </th:block>
                  <!-- 반복될 부분 day2 끝 -->
                  <!-- 반복될 부분 day3 -->
                  <th:block th:if="${day}==2">
                  <p class="px-3 f20 fw-bold">day 3</p>
                  <!-- 여행지 1 -->
                  <hr class="px-5 text-black-50" />
                     <div class="row mb-5" th:each="aicc:${aicc}">
                  <div class="col">
                  <a th:href="@{'Event_view?id='+ ${aicc.getEvent_num()}}">
                     <div class="row px-4 Event_contentRow">
                        <div class="col-1 count">
                           <p class="text-center f22">1</p>
                        </div>
                        <div class="col-2 count mx-2 px-0">
                           <img th:src="@{'../img/info/' + ${aicc.getEvent_thumbnail()}}"
                              class="img-fluid rounded-circle" alt=""
                              style="width: 60px; height: 60px;">
                        </div>
                        <div class="col-8">
                           <p th:text="${aicc.getEvent_category()}"
                              class="badge bg-mainbg px-2 mb-2 py-2"></p>
                           <h5 th:text="${aicc.getEvent_name()}" class="mb-1"></h5>
                           <p th:text="${aicc.getEvent_content()}" class="text-truncate"></p>
                        </div>
                        <div class="col"></div>
                     </div>
                     </a>
                     </div>
                  </div>
               
                           <!-- 맛집 -->
                  <hr class="px-5 text-black-50" />
                     <div class="row" th:each="aiccFood:${aiccFood}">
                  <div class="col">
                  <a th:href="@{'Event_view?id='+ ${aiccFood.getEvent_num()}}">
                     <div class="row px-4 Event_contentRow">
                        <div class="col-1 count">
                           <p class="text-center f22">2</p>
                        </div>
                        <div class="col-2 count mx-2 px-0">
                           <img th:src="@{'../img/info/' + ${aiccFood.getEvent_thumbnail()}}"
                              class="img-fluid rounded-circle" alt=""
                              style="width: 60px; height: 60px;">
                        </div>
                        <div class="col-8">
                           <p th:text="${aiccFood.getEvent_category()}"
                              class="badge bg-mainbg px-2 mb-2 py-2"></p>
                           <h5 th:text="${aiccFood.getEvent_name()}" class="mb-1"></h5>
                           <p th:text="${aiccFood.getEvent_content()}" class="text-truncate"></p>
                        </div>
                        <div class="col"></div>
                     </div>
                     </a>
                     </div>
                  </div>
                  
            <!-- 여행지 2 -->
            <hr class="px-5 text-black-50" />
               <div class="row" th:each="aicc2:${aicc2}">
                  <div class="col">
                     <a th:href="@{'Event_view?id='+ ${aicc2.getEvent_num()}}">
                     <div class="row px-4 Event_contentRow">
                        <div class="col-1 count">
                           <p class="text-center f22">3</p>
                        </div>
                        <div class="col-2 count mx-2 px-0">
                           <img th:src="@{'../img/info/' + ${aicc2.getEvent_thumbnail()}}"
                              class="img-fluid rounded-circle" alt=""
                              style="width: 60px; height: 60px;">
                        </div>
                        <div class="col-8">
                           <p th:text="${aicc2.getEvent_category()}"
                              class="badge bg-mainbg px-2 mb-2 py-2"></p>
                           <h5 th:text="${aicc2.getEvent_name()}" class="mb-1"></h5>
                           <p th:text="${aicc2.getEvent_content()}" class="text-truncate"></p>
                        </div>
                        <div class="col"></div>
                     </div>
                     </a>
                     </div>
                  </div>
               <!-- 카페 영역 -->
                  <hr class="px-5 text-black-50" />
                  <div class="row"  th:each="aiccCafe:${aiccCafe}">
                  <div class="col">
                  <a th:href="@{'Event_view?id='+ ${aiccCafe.getEvent_num()}}">
                     <div class="row px-4 Event_contentRow">
                        <div class="col-1 count">
                           <p class="text-center f22">4</p>
                        </div>
                        <div class="col-2 count mx-2 px-0">
                           <img th:src="@{'../img/info/' + ${aiccCafe.getEvent_thumbnail()}}"
                              class="img-fluid rounded-circle" alt=""
                              style="width: 60px; height: 60px;">
                        </div>
                        <div class="col-8">
                           <p th:text="${aiccCafe.getEvent_category()}"
                              class="badge bg-mainbg px-2 mb-2 py-2"></p>
                           <h5 th:text="${aiccCafe.getEvent_name()}" class="mb-1"></h5>
                           <p th:text="${aiccCafe.getEvent_content()}" class="text-truncate"></p>
                        </div>
                        <div class="col"></div>
                     </div>
                     </a>
                  </div>
               </div>
                           <!-- 맛집2 -->
                  <hr class="px-5 text-black-50" />
                     <div class="row" th:each="aiccFood2:${aiccFood2}">
                  <div class="col">
                  <a th:href="@{'Event_view?id='+ ${aiccFood2.getEvent_num()}}">
                     <div class="row px-4 Event_contentRow">
                        <div class="col-1 count">
                           <p class="text-center f22">5</p>
                        </div>
                        <div class="col-2 count mx-2 px-0">
                           <img th:src="@{'../img/info/' + ${aiccFood2.getEvent_thumbnail()}}"
                              class="img-fluid rounded-circle" alt=""
                              style="width: 60px; height: 60px;">
                        </div>
                        <div class="col-8">
                           <p th:text="${aiccFood2.getEvent_category()}"
                              class="badge bg-mainbg px-2 mb-2 py-2"></p>
                           <h5 th:text="${aiccFood2.getEvent_name()}" class="mb-1"></h5>
                           <p th:text="${aiccFood2.getEvent_content()}" class="text-truncate"></p>
                        </div>
                        <div class="col"></div>
                     </div>
                     </a>
                     </div>
                  </div>
                              <!-- 숙소 -->
                  <hr class="px-5 text-black-50" />
                     <div class="row" th:each="hotel:${hotel}">
                  <div class="col">
                  <a th:href="@{'Event_view?id='+ ${hotel.getEvent_num()}}">
                     <div class="row px-4 Event_contentRow">
                        <div class="col-1 count">
                           <p class="text-center f22">5</p>
                        </div>
                        <div class="col-2 count mx-2 px-0">
                           <img th:src="@{'../img/info/' + ${hotel.getEvent_thumbnail()}}"
                              class="img-fluid rounded-circle" alt=""
                              style="width: 60px; height: 60px;">
                        </div>
                        <div class="col-8">
                           <p th:text="${hotel.getEvent_category()}"
                              class="badge bg-mainbg px-2 mb-2 py-2"></p>
                           <h5 th:text="${hotel.getEvent_name()}" class="mb-1"></h5>
                           <p th:text="${hotel.getEvent_content()}" class="text-truncate"></p>
                        </div>
                        <div class="col"></div>
                     </div>
                     </a>
                     </div>
                  </div>
                  </th:block>
                  <!-- 반복될 부분 day3 끝 -->
            </div>
            <!-- 지역별 피드 출력 영역 -->
           <!-- trip 위치 출력 페이지  -->
                
                
                
            </div> <!-- map_guide -->

         <div class="map_mapSection">
            <!-- 지도를 표시할 div 입니다 -->
            <div id="map"></div>
         </div>
      </div>

   </div>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"></script>
   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   <script type="text/javascript"
      src="//dapi.kakao.com/v2/maps/sdk.js?appkey=5bceb465ea8b2b4878f8bec64e4f6d05"></script>
   <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=00000000&libraries=clusterer">
</script>
   <script th:inline="javascript">
   var mapContainer = document.getElementById('map'); // 지도를 표시할 div 
       var mapx = /*[[${aicc.get(0).getEvent_mapX()}]]*/0; // 이벤트의 위도 값
      var mapy = /*[[${aicc.get(0).getEvent_mapY()}]]*/0; // 이벤트의 경도 값
       var mapx2 = /*[[${aicc2.get(0).getEvent_mapX()}]]*/0; // 이벤트의 위도 값
      var mapy2 = /*[[${aicc2.get(0).getEvent_mapY()}]]*/0; // 이벤트의 경도 값
       var mapx3 = /*[[${aiccCafe.get(0).getEvent_mapX()}]]*/0; // 이벤트의 위도 값
      var mapy3 = /*[[${aiccCafe.get(0).getEvent_mapY()}]]*/0; // 이벤트의 경도 값
       var mapx4 = /*[[${aiccFood.get(0).getEvent_mapX()}]]*/0; // 이벤트의 위도 값
      var mapy4 = /*[[${aiccFood.get(0).getEvent_mapY()}]]*/0; // 이벤트의 경도 값
       var mapx5 = /*[[${aiccFood2.get(0).getEvent_mapX()}]]*/0; // 이벤트의 위도 값
      var mapy5 = /*[[${aiccFood2.get(0).getEvent_mapY()}]]*/0; // 이벤트의 경도 값
       var name = /*[[${aicc.get(0).getEvent_name()}]]*/""; // 이벤트의 위도 값
      var name2 = /*[[${aicc2.get(0).getEvent_name()}]]*/""; // 이벤트의 경도 값
      var name3 = /*[[${aiccCafe.get(0).getEvent_name()}]]*/""; // 이벤트의 경도 값
      var name4 = /*[[${aiccFood.get(0).getEvent_name()}]]*/""; // 이벤트의 경도 값
      var name5 =  /*[[${aiccFood2.get(0).getEvent_name()}]]*/""; // 이벤트의 경도 값
      
       var mapx21 = /*[[${aicc3.get(0).getEvent_mapX()}]]*/0; // 이벤트의 위도 값
      var mapy21 = /*[[${aicc3.get(0).getEvent_mapY()}]]*/0; // 이벤트의 경도 값
      var mapx22 = /*[[${aiccFood3.get(0).getEvent_mapX()}]]*/0; // 이벤트의 위도 값
      var mapy22 = /*[[${aiccFood3.get(0).getEvent_mapY()}]]*/0; // 이벤트의 경도 값
       var mapx23 = /*[[${aicc4.get(0).getEvent_mapX()}]]*/0; // 이벤트의 위도 값
      var mapy23 = /*[[${aicc4.get(0).getEvent_mapY()}]]*/0; // 이벤트의 경도 값
       var mapx24 = /*[[${aiccCafe2.get(0).getEvent_mapX()}]]*/0; // 이벤트의 위도 값
      var mapy24 = /*[[${aiccCafe2.get(0).getEvent_mapY()}]]*/0; // 이벤트의 경도 값
      var mapx25 = /*[[${aiccFood4.get(0).getEvent_mapX()}]]*/0; // 이벤트의 위도 값
      var mapy25 = /*[[${aiccFood4.get(0).getEvent_mapY()}]]*/0; // 이벤트의 경도 값
      var mapx26 = /*[[${hotel.get(0).getEvent_mapX()}]]*/0; // 이벤트의 위도 값
      var mapy26 = /*[[${hotel.get(0).getEvent_mapY()}]]*/0; // 이벤트의 경도 값
       var name21 = /*[[${aicc3.get(0).getEvent_name()}]]*/""; // 이벤트의 위도 값
       var name22 = /*[[${aiccFood3.get(0).getEvent_name()}]]*/""; // 이벤트의 경도 값
       var name23 = /*[[${aicc4.get(0).getEvent_name()}]]*/""; // 이벤트의 위도 값
      var name24 = /*[[${aiccCafe2.get(0).getEvent_name()}]]*/""; // 이벤트의 경도 값
       var name25 = /*[[${aiccFood4.get(0).getEvent_name()}]]*/""; // 이벤트의 경도 값
       var name26 = /*[[${hotel.get(0).getEvent_name()}]]*/""; // 이벤트의 경도 값
      // 문자열로 가져온 값을 parseFloat 함수를 사용하여 숫자로 변환
      mapx = parseFloat(mapx);
      mapy = parseFloat(mapy);
            mapOption = { 
                center: new kakao.maps.LatLng(mapx, mapy), // 지도의 중심좌표
                level: 5 // 지도의 확대 레벨
            };
        
            var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다
          
         // 마커를 표시할 위치와 title 객체 배열입니다 
         var positions = [
             {
                 title: name, 
                 latlng: new kakao.maps.LatLng(mapx, mapy)
             },
             {
                 title: name4, 
                 latlng: new kakao.maps.LatLng(mapx4, mapy4)
             },
             {
                 title: name2, 
                 latlng: new kakao.maps.LatLng(mapx2, mapy2)
             },
             {
                 title: name3,
                 latlng: new kakao.maps.LatLng(mapx3, mapy3)
             },
             {
                 title: name5,
                 latlng: new kakao.maps.LatLng(mapx5, mapy5)
             },
             {
                 title: name26,
                 latlng: new kakao.maps.LatLng(mapx26, mapy26)
             }
         ];
         var positions2 = [
             {
                 title: name21, 
                 latlng: new kakao.maps.LatLng(mapx21, mapy21)
             },
             {
                 title: name22, 
                 latlng: new kakao.maps.LatLng(mapx22, mapy22)
             },
             {
                 title: name23, 
                 latlng: new kakao.maps.LatLng(mapx23, mapy23)
             },
             {
                 title: name24,
                 latlng: new kakao.maps.LatLng(mapx24, mapy24)
             },
             {
                 title: name25,
                 latlng: new kakao.maps.LatLng(mapx25, mapy25)
             }
         ];


         // 마커 이미지의 이미지 주소입니다
         var imageSrc = "https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png"; 
         for (var i = 0; i < positions.length; i ++) {
         var content = '<div class="bg-pink px-3 p-1 rounded-pill border border-dark text-black" style="position: relative;left:0px;bottom: 50px;font-size: 12px; margin:0 auto;z-index:3;">' + 
         '    <div class="info">' + 
         '        <div class="title">' + 
         positions[i].title + 
         '            <div class="close" onclick="closeOverlay()" title="닫기"></div>' + 
         '        </div>' + 
         '    </div>' +    
         '</div>';
             
             // 마커 이미지의 이미지 크기 입니다
             var imageSize = new kakao.maps.Size(24, 35); 
             
             // 마커 이미지를 생성합니다    
             var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize); 
             
             // 마커를 생성합니다
             var marker = new kakao.maps.Marker({
                 map: map, // 마커를 표시할 지도
                 position: positions[i].latlng, // 마커를 표시할 위치
                 title : positions[i].title, // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
                 image : markerImage // 마커 이미지 
             });
             var overlay = new kakao.maps.CustomOverlay({
            	 content: content,
            	 map: map,
            	 position: positions[i].latlng      
            	});
          
         }
         
         for (var i = 0; i < positions2.length; i ++) {
             var content = '<div class="bg-pink px-3 p-1 rounded-pill border border-dark text-black" style="position: relative;left:0px;bottom: 50px;font-size: 12px; margin:0 auto;z-index:3;">' + 
             '    <div class="info">' + 
             '        <div class="title">' + 
             positions2[i].title + 
             '            <div class="close" onclick="closeOverlay()" title="닫기"></div>' + 
             '        </div>' + 
             '    </div>' +    
             '</div>';
                 
                 // 마커 이미지의 이미지 크기 입니다
                 var imageSize = new kakao.maps.Size(24, 35); 
                 
                 // 마커 이미지를 생성합니다    
                 var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize); 
                 
                 // 마커를 생성합니다
                 var marker2 = new kakao.maps.Marker({
                     map: map, // 마커를 표시할 지도
                     position: positions2[i].latlng, // 마커를 표시할 위치
                     title : positions2[i].title, // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
                     image : markerImage // 마커 이미지 
                 });
                 var overlay = new kakao.maps.CustomOverlay({
                	 content: content,
                	 map: map,
                	 position: positions2[i].latlng      
                	});
              
             }
         var linePath;
         var lineLine = new daum.maps.Polyline();
         var lineLine2 = new daum.maps.Polyline();
         var distance;
         var distance2;
         var totalDistance = 0; // 총 거리를 저장할 변수를 초기화합니다.
         var totalDistance2 = 0; // 총 거리를 저장할 변수를 초기화합니다.
         var subtotalDistance =0;
         for (var i = 0; i < positions.length; i++) {
             if (i != 0) {
                 linePath = [ positions[i - 1].latlng, positions[i].latlng ] //라인을 그리려면 두 점이 있어야하니깐 두 점을 지정했습니다
             }
             ;
             lineLine.setPath(linePath); // 선을 그릴 라인을 세팅합니다
      
             var drawLine = new daum.maps.Polyline({
                 map : map, // 선을 표시할 지도입니다 
                 path : linePath,
                 strokeWeight : 3, // 선의 두께입니다 
                 strokeColor : '#ff00ff', // 선의 색깔입니다
                 strokeOpacity : 1, // 선의 불투명도입니다 0에서 1 사이값이며 0에 가까울수록 투명합니다
                 strokeStyle : 'shortdash' // 선의 스타일입니다
             });
      
             distance = Math.round(lineLine.getLength());
             displayCircleDot(positions[i].latlng, distance);
             totalDistance += distance;
             document.querySelector('.totalDistance').innerText =totalDistance.toFixed(2)/1000 + "km";
             document.querySelector('.totalDistanceValue').value = (totalDistance / 1000).toFixed(2);
           	
              
         }
         //alert("오류 찾기");
         for (var i = 0; i < positions2.length; i++) {
             if (i != 0) {
                 linePath = [ positions2[i - 1].latlng, positions2[i].latlng ] //라인을 그리려면 두 점이 있어야하니깐 두 점을 지정했습니다
             }
             ;
             lineLine2.setPath(linePath); // 선을 그릴 라인을 세팅합니다
      
             var drawLine = new daum.maps.Polyline({
                 map : map, // 선을 표시할 지도입니다 
                 path : linePath,
                 strokeWeight : 3, // 선의 두께입니다 
                 strokeColor : '#000000', // 선의 색깔입니다
                 strokeOpacity : 0.5, // 선의 불투명도입니다 0에서 1 사이값이며 0에 가까울수록 투명합니다
                 strokeStyle : 'solid' // 선의 스타일입니다
             });
      
             distance2 = Math.round(lineLine2.getLength());
             displayCircleDot(positions2[i].latlng, distance);
             totalDistance2 += distance2+distance;
             document.querySelector('.totalDistance').innerText =totalDistance2.toFixed(2)/1000 + "km";
             document.querySelector('.totalDistanceValue2').value = (totalDistance2 / 1000).toFixed(2);
              
         }
      // totalDistance와 totalDistance2 값을 합하여 subtotalDistance 계산
      alert("day1 이동 거리 : "+totalDistance.toFixed(2)/ 1000);
      alert("day2 이동 거리 : "+totalDistance2.toFixed(2)/ 1000);
         subtotalDistance = (totalDistance + totalDistance2) / 1000; // km 단위로 변환
         alert("총 이동 거리는 " + subtotalDistance.toFixed(2) + "km 입니다.");
      // subtotalDistance 값을 찾고 설정하는 부분
        // subtotalDistance 값을 찾고 설정하는 부분
		var subtotalElement = document.querySelector('.subtotalDistance2'); 
			subtotalElement.innerText = subtotalDistance.toFixed(2) + "km"; // innerHTML을 사용하여 요소 내용 변경

         
         function displayCircleDot(position, distance) {
             if (distance > 0) {
                 // 클릭한 지점까지의 그려진 선의 총 거리를 표시할 커스텀 오버레이를 생성합니다
                 var distanceOverlay = new daum.maps.CustomOverlay(
                         {
                             //  content : '<div class="dotOverlay bg-white rounded-4 px-3 mt-5">거리 <span class="number">'
                              //       + distance + '</span>m</div>', 
                             position : position,
                             yAnchor : 1,
                             zIndex : 2
                         });
      
                 // 지도에 표시합니다
                 distanceOverlay.setMap(map);
             }
             
         }
        

         
    </script>
<script th:inline="javascript">
    /*<![CDATA[*/
   function refreshPageIfSameValues() {
    var eventNums = [
        /*[[${aicc[0].getEvent_num()}]]*/,
        /*[[${aicc2[0].getEvent_num()}]]*/,
        /*[[${aicc3[0].getEvent_num()}]]*/,
        /*[[${aicc4[0].getEvent_num()}]]*/,
        /*[[${aiccCafe[0].getEvent_num()}]]*/,
        /*[[${aiccCafe2[0].getEvent_num()}]]*/,
        /*[[${aiccFood[0].getEvent_num()}]]*/,
        /*[[${aiccFood2[0].getEvent_num()}]]*/,
        /*[[${aiccFood3[0].getEvent_num()}]]*/,
        /*[[${aiccFood4[0].getEvent_num()}]]*/
        /*[[${hotel[0].getEvent_num()}]]*/
    ];

    // 모든 eventNum 값을 비교하여 같은 값이 있는지 확인
    for (var i = 0; i < eventNums.length; i++) {
        for (var j = i + 1; j < eventNums.length; j++) {
            if (eventNums[i] == eventNums[j]) {
                // 같은 값이 발견되면 즉시 페이지 새로 고침 후 함수 종료
                location.reload();
                return; // 함수 종료
            }
        }
    }
}
    
// 페이지가 로드될 때 함수 호출
   window.onload = refreshPageIfSameValues;
       /*]]>*/
   </script>
</script>
 <script>
        // 페이지 로딩 후 로딩 화면을 5초 동안 표시한 후 자동으로 숨깁니다.
        document.addEventListener('DOMContentLoaded', function() {
            setTimeout(function() {
                document.querySelector('.loading-screen').style.display = 'none';
            }, 1000); // 5초 뒤에 로딩 화면을 숨김
        });
    </script>
<script>
    // 버튼 요소를 가져옵니다.
    var saveButton = document.querySelector('.saveBtn');

    // 버튼을 클릭했을 때 실행될 함수를 정의합니다.
    saveButton.addEventListener('click', function() {
        // 저장 여부를 확인하는 메시지를 표시합니다.
        var confirmMessage = "이 코스를 저장하시겠습니까?";
        // 사용자가 "예"를 선택했을 때의 처리를 정의합니다.
        function YesLetMeSubmit() {
            // 저장하는 코드를 여기에 추가합니다.
            console.log("코스를 저장합니다.");
            alert("코스 저장 페이지로 이동합니다.");
            document.saveBtn.submit();
        }

        // 사용자에게 확인 메시지를 표시하고, "예"를 선택했을 때 저장 함수를 호출합니다.
        if (confirm(confirmMessage)) {
            YesLetMeSubmit();
        }
    });
</script>

</body>

</html>