<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/home">
<div th:replace="~{head/head::head}"></div>

<body>
	<div th:replace="~{nav/nav::nav}"></div>
    <div class="band_wrapper container-fluid px-0">

        <!-- 밴드 지역 네브바 -->
        <div class="container-fluid band_lnb">
            <div class="container band_lnb_box pt-5">
                <ul class="band_lnb_ul p-0 d-flex">
                    <li class="band_lnb_item active">내 밴드</li>
                    <li class="band_lnb_item">소모임</li>
                </ul>
            </div>
        </div>
        
        <!-- 가입한 밴드 출력 영역 -->
        <div id="band" class="container join_band_wapper gx-0 mb-5">
            <div class="row join_Band gx-0">
                <!-- 밴드 만들기 영역 -->
				<div class="col-sm-4 join_band_item create_band shadow-s"
					onClick="bandCreateBtn()">
					
					<a href="/bandCreate" class="create_band_link">
						<div class="create_buttonBox"></div> 
						<strong>만들기</strong>
					</a>
				</div>
	
				<!-- 가입한 밴드 출력 영역 / 반복-->
				<div class="col-sm-4 join_band_item shadow-s" th:each ="joinBandList:${joinBandList}">
					<a  th:href="@{'myBand?bandUrl='+ ${joinBandList.getBand_code()}}" class="join_band_item_link">
						<div class="join_band_item_imgBox">
	                    	<img th:src="@{'../img/uploadBandThumnail/'+ ${joinBandList.getBand_thumnail()}}" class=" join_band_item_img" alt="...">
	                    </div>
	                    <div class="join_band_item_text px-3 f14">
	                        <strong th:text="${joinBandList.getBand_name()}">밴드 제목</strong>
		             	    <span>멤버 <span th:text="${joinBandList.getBand_memberCount()}" ></span></span>
		                </div> 
		            </a>
                </div>
				
            </div>
        </div> <!-- join_band_wapper -->

        <!-- 밴드 추천 영역 -->
        <div class="band_recomand_wrapper bg-main p-3">
            <div class="container pb-2">
				<div class="row m-auto py-3 w-100 ">
					<div class="col hstack justify-content-between">
						<span class="f22 float-start"><b>이런 밴드 어때요</b></span> <span
							class="f15 float-end">모두보기 > </span>
					</div>
				</div>
				<!-- 밴드 추천 리스트 -->
                <div class="row band_recomandBox gap-3 my-4 m-auto justify-content-between px-4">
                    <div class="col-12 col-md-5 p-0 band_recomand_item " th:each ="bandList:${randomBandList}">
	                    <a  th:href="@{'myBand?bandUrl='+ ${bandList.getBand_code()}}" class="band_recomand_link d-flex">
	                        <div class="band_recomand_img">
	                            <img th:src="@{'../img/uploadBandThumnail/'+ ${bandList.getBand_thumnail()}}" class=" join_band_item_img" alt="...">
	                        </div>
	                        <div class="band_recomand_text">
	                        	<div class="ms-2">
		                            <span class="h5 d-block" th:text="${bandList.getBand_name()}"></span>
		                            <span th:text="${bandList.getBand_content()}"></span>
	                        	</div>
	                            <div class="band_more_view px-2 text-center">
	                                <span>'테마명'</span> 밴드 더보기 >
	                            </div>
	                        </div>
	                    </a>
                    </div>
    
                </div> <!-- band_recomandBox -->
            </div> 
        </div><!-- 밴드 추천 영역 끝-->
        
        
        <!-- 오늘의 인기글 영역 -->
        <div class="band_today_best_write">
            <div class="container px-0">
                <div class="row py-3">
                    <div class="col">

                    </div>
                </div>
            </div>
            <!-- 오늘의 인기글 영역 -->
            <div class="band_today_best_writeBox pb-5">
                <div class="band_today_best_list container">
	                <div class="row m-auto py-3 w-100">
						<div class="col hstack justify-content-between">
							<span class="f22 float-start"><b>오늘의 인기글</b></span>
							<span
								class="f15 float-end">모두보기 > </span>
						</div>
					</div>
                <div class="row m-auto gap-3">
                    <!-- 오늘의 인기글 item-->
                    <div class="col-lg-6 col-md-12 band_today_best_item shadow-s">
                        <div class="best_item_title">
                            <strong>마운틴TV 공식밴드</strong>
                        </div>
                        <hr>
                        <div class="best_item_content">
                            <span>2024.1.30 가야산 백운동 탐방지원센타 원점회귀입니다. 등로에는 눈이 많은데 상고대는 없네요</span>
                            <div class="best_item_content_img">
                            </div>
                        </div>
                        <div class="best_item_footer">
                            <div class="best_item_footer_img">
                                <img src="../img/band/content/ico-emo-light-34-3.png" alt="#">
                                <img src="../img/band/content/ico-emo-light-34-1.png" alt="#">
                            </div>
                            <span>댓글</span>
                        </div>
                    </div>

                    <div class="col-lg col-md-12 band_today_best_item shadow-s">
                        <div class="best_item_title">
                            <strong>마운틴TV 공식밴드</strong>
                        </div>
                        <hr>
                        <div class="best_item_content">
                            <span>2024.1.30 가야산 백운동 탐방지원센타 원점회귀입니다. 등로에는 눈이 많은데 상고대는 없네요</span>
                            <div class="best_item_content_img">
                            </div>
                        </div>
                        <div class="best_item_footer">
                            <div class="best_item_footer_img">
                                <img src="../img/band/content/ico-emo-light-34-3.png" alt="#">
                                <img src="../img/band/content/ico-emo-light-34-1.png" alt="#">
                            </div>
                            <span>댓글</span>
                        </div>
                    </div>

                    <div class=" col-lg-6 col-md-12 band_today_best_item shadow-s">
                        <div class="best_item_title">
                            <strong>마운틴TV 공식밴드</strong>
                        </div>
                        <hr>
                        <div class="best_item_content">
                            <span>2024.1.30 가야산 백운동 탐방지원센타 원점회귀입니다. 등로에는 눈이 많은데 상고대는 없네요</span>
                            <div class="best_item_content_img">
                            </div>
                        </div>
                        <div class="best_item_footer">
                            <div class="best_item_footer_img">
                                <img src="../img/band/content/ico-emo-light-34-3.png" alt="#">
                                <img src="../img/band/content/ico-emo-light-34-1.png" alt="#">
                            </div>
                            <span>댓글</span>
                        </div>
                    </div>

                    <div class=" col-lg col-md-12 band_today_best_item shadow-s">
                        <div class="best_item_title">
                            <strong>마운틴TV 공식밴드</strong>
                        </div>
                        <hr>
                        <div class="best_item_content">
                            <span>2024.1.30 가야산 백운동 탐방지원센타 원점회귀입니다. 등로에는 눈이 많은데 상고대는 없네요</span>
                            <div class="best_item_content_img">
                            </div>
                        </div>
                        <div class="best_item_footer">
                            <div class="best_item_footer_img">
                                <img src="../img/band/content/ico-emo-light-34-3.png" alt="#">
                                <img src="../img/band/content/ico-emo-light-34-1.png" alt="#">
                            </div>
                            <span>댓글</span>
                        </div>
                    </div>
                                    </div>
                </div>  <!-- band_today_best_list -->
            </div>
        </div>

    </div>  <!-- band_wrapper -->
    <div th:replace="~{footer/footer::footer}"></div>

</body>
</html>