<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/home">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrier Band</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/band.css">
    <link rel="stylesheet" href="../css/band_mediaQuery.css">
	<link rel="stylesheet" href="../css/nav.css">
	<link rel="stylesheet" href="../css/search.css">
<link rel="stylesheet" href="../css/footer.css">
<!--파비콘영역-->
	<link rel="apple-touch-icon" sizes="57x57" href="../img/favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="../img/favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="../img/favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="../img/favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="../img/favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="../img/favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="../img/favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="../img/favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="../img/favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192" href="../img/favicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../img/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="../img/favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../img/favicon/favicon-16x16.png">
	<link rel="manifest" href="/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="../img/favicon/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
	<!--파비콘영역 끝-->
</head>
<body>
	<div th:replace="nav/nav::nav"></div>
    <div class="band_wrapper container-fluid px-0">

        <!-- 밴드 지역 네브바 -->
        <div class="container-fluid band_lnb">
            <div class="container band_lnb_box">
                <ul class="band_lnb_ul d-flex">
                    <li class="band_lnb_item active">내 밴드</li>
                    <li class="band_lnb_item">소모임</li>
                </ul>
            </div>
        </div>
      
        <!-- 가입한 밴드 출력 영역 -->
        <div class="container join_band_wapper gx-0">
            <div class="row join_Band gx-0">
                <!-- 밴드 만들기 영역 -->
				<div class="col-sm-4 join_band_item create_band"
					onClick="bandCreateBtn()">
					<a href="/bandCreate" class="create_band_link">
						<div class="create_buttonBox"></div> 
						<strong>만들기</strong>
					</a>
				</div>

				<!-- 가입한 밴드 출력 영역 -->
                <div class="col-sm-4 join_band_item ">
                    <img src="../img/band/content/강원도 탄광문화촌.jpg" class="img-fluid join_band_item_img" alt="...">
                    <div class="join_band_item_text">
                        <strong>밴드 제목</strong>
                        <span>멤버 </span>
                    </div> 
                </div>
                <div class="col-sm-4 join_band_item ">
					<img src="../upload/bandThumbnail/call (21).jpg" alt="#" />
					<div class="join_band_item_text">
                        <strong>밴드 제목</strong>
                        <span>멤버 </span>
                    </div> 
                </div>
                <div class="col-sm-4 join_band_item ">

                </div>
                <div class="col-sm-4 join_band_item ">

                </div>

                <div class="col-sm-4 join_band_item ">

                </div>
                <div class="col-sm-4 join_band_item ">

                </div>



            </div>
        </div>

        <!-- 밴드 추천 영역 -->
        <div class="band_recomand_wrapper">
            <div class="container">
                <div class="row py-3">
                    <div class="col">
                        <span class="f22 float-start">이런 밴드는 어때요</span>
                        <span class="float-end">모두보기 > </span>
                    </div>
                </div>
                <!-- 밴드 추천 리스트 -->
                <div class="row band_recomandBox">
    
                    <div class="col-lg-6 col-md-12 band_recomand_item ">
                        <div class="band_recomand_img">
                            <img src="../img/band/content/핑크뮬리.bmp" alt="">
                        </div>
                        <div class="band_recomand_text">
                            <h3>월간가드닝 네이버  공식밴드</h3>
                            <span>정원잡지 '월간가드닝'을 사랑하는 분들을 위한 공간입니다.</span>
                            <div class="band_more_view">
                                <span>'테마명'</span> 밴드 더보기 >
                            </div>
                        </div>
                    </div>
    
                    <div class="col-lg-6 col-md-12 band_recomand_item ">
                        <div class="band_recomand_img">
                            <img src="../img/band/content/핑크뮬리.bmp" alt="">
                        </div>
                        <div class="band_recomand_text">
                            <h3>월간가드닝 네이버  공식밴드</h3>
                            <span>정원잡지 '월간가드닝'을 사랑하는 분들을 위한 공간입니다.</span>
                            <div class="band_more_view">
                                <span>'테마명'</span> 밴드 더보기 >
                            </div>
                        </div>
                    </div>
    
                    <div class="col-lg-6 col-md-12 band_recomand_item ">
                        <div class="band_recomand_img">
                            <img src="../img/band/content/핑크뮬리.bmp" alt="">
                        </div>
                        <div class="band_recomand_text">
                            <h3>월간가드닝 네이버  공식밴드</h3>
                            <span>정원잡지 '월간가드닝'을 사랑하는 분들을 위한 공간입니다.</span>
                            <div class="band_more_view">
                                <span>'테마명'</span> 밴드 더보기 >
                            </div>
                        </div>
                    </div>
    
                    <div class="col-lg-6 col-md-12 band_recomand_item ">
                        <div class="band_recomand_img">
                            <img src="../img/band/content/핑크뮬리.bmp" alt="">
                        </div>
                        <div class="band_recomand_text">
                            <h3>월간가드닝 네이버  공식밴드</h3>
                            <span>정원잡지 '월간가드닝'을 사랑하는 분들을 위한 공간입니다.</span>
                            <div class="band_more_view">
                                <span>'테마명'</span> 밴드 더보기 >
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div><!-- 밴드 추천 영역 끝-->
        
        
        <!-- 오늘의 인기글 영역 -->
        <div class="band_today_best_write">
            <div class="container px-0">
                <div class="row py-3">
                    <div class="col">
                        <span class="f22 float-start">오늘의 인기글</span>
                        <span class="float-end">모두보기 > </span>
                    </div>
                </div>
            </div>
            <!-- 오늘의 인기글 영역 -->
            <div class="band_today_best_writeBox">
                <div class="band_today_best_list container">

                    <!-- 오늘의 인기글 item-->
                    <div class="col-lg-6 col-md-12 band_today_best_item">
                        <div class="best_item_title">
                            <strong>마운틴TV 공식밴드</strong>
                        </div>
                        <hr>
                        <div class="best_item_content">
                            <span>2024.1.30 가야산 백운동 탐방지원센타 원점회귀입니다. 등로에는 눈이 많은데 상고대는 없네요</span>
                            <div class="best_item_content_img">
                            </div>
                        </div>
                        <div class="best_item_footer">
                            <div class="best_item_footer_img">
                                <img src="../img/band/content/ico-emo-light-34-3.png" alt="#">
                                <img src="../img/band/content/ico-emo-light-34-1.png" alt="#">
                            </div>
                            <span>댓글</span>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12 band_today_best_item">
                        <div class="best_item_title">
                            <strong>마운틴TV 공식밴드</strong>
                        </div>
                        <hr>
                        <div class="best_item_content">
                            <span>2024.1.30 가야산 백운동 탐방지원센타 원점회귀입니다. 등로에는 눈이 많은데 상고대는 없네요</span>
                            <div class="best_item_content_img">
                            </div>
                        </div>
                        <div class="best_item_footer">
                            <div class="best_item_footer_img">
                                <img src="../img/band/content/ico-emo-light-34-3.png" alt="#">
                                <img src="../img/band/content/ico-emo-light-34-1.png" alt="#">
                            </div>
                            <span>댓글</span>
                        </div>
                    </div>

                    <div class=" col-lg-6 col-md-12 band_today_best_item">
                        <div class="best_item_title">
                            <strong>마운틴TV 공식밴드</strong>
                        </div>
                        <hr>
                        <div class="best_item_content">
                            <span>2024.1.30 가야산 백운동 탐방지원센타 원점회귀입니다. 등로에는 눈이 많은데 상고대는 없네요</span>
                            <div class="best_item_content_img">
                            </div>
                        </div>
                        <div class="best_item_footer">
                            <div class="best_item_footer_img">
                                <img src="../img/band/content/ico-emo-light-34-3.png" alt="#">
                                <img src="../img/band/content/ico-emo-light-34-1.png" alt="#">
                            </div>
                            <span>댓글</span>
                        </div>
                    </div>

                    <div class=" col-lg-6 col-md-12 band_today_best_item">
                        <div class="best_item_title">
                            <strong>마운틴TV 공식밴드</strong>
                        </div>
                        <hr>
                        <div class="best_item_content">
                            <span>2024.1.30 가야산 백운동 탐방지원센타 원점회귀입니다. 등로에는 눈이 많은데 상고대는 없네요</span>
                            <div class="best_item_content_img">
                            </div>
                        </div>
                        <div class="best_item_footer">
                            <div class="best_item_footer_img">
                                <img src="../img/band/content/ico-emo-light-34-3.png" alt="#">
                                <img src="../img/band/content/ico-emo-light-34-1.png" alt="#">
                            </div>
                            <span>댓글</span>
                        </div>
                    </div>
                    
                </div>  <!-- band_today_best_list -->
            </div>
        </div>

    </div>  <!-- band_wrapper -->
    <div th:replace="footer/footer::footer"></div>











    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>