<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<div th:replace="~{head/head::head}"></div>
<body>
<script th:inline="javascript">
		var loginId = /*[[${session.Member_Id}]]*/ "";
		if (loginId == null || loginId.trim() == '') {
			window.location.href = "/login?msg=5";
		}
	</script>
<div th:replace="~{nav/nav::nav}"></div>
    <div class="myBand_wrapper">
        <!-- myBand lnb 영역 
        <div class="myBand_pc_lnb">
            <ul class="container myBand_pc_lnb_ul d-flex justify-content-center">
                <li>게시글</li>
                <li>사진첩</li>
                <li>일정</li>
                <li>멤버</li>
            </ul>
        </div>
		-->
		
        <!-- myBandContent -->
        <div class="myBand_content">
            <div class="row gap-3 m-auto justify-content-around container myBand_contentBox px-0">
	            <!-- col1 밴드 이미지, 제목 정보 영역 -->
	            <div class="col-12 col-lg-3 myBand_content_col_titleBox p-4">
	               <div class="myBand_content_col_title sticky-md-top flex-column mr-md-5">
	                  <div class="myBand_title_img">
	                     <img
	                        th:src="@{'../img/uploadBandThumnail/'+ ${myBandList.getBand_thumnail()}}"
	                        class="img-fluid join_band_item_img" alt="...">
	                  </div>
	                  <div class="myBand_title_name d-flex justify-content-between text-truncate">
	                     <h3 th:text="${myBandList.getBand_name()}" class="text-truncate my-3 h4"></h3>
		              </div>
	                  <!-- 로그인 아이디와 밴드 관리자 아이디가 같을 때 -->
	                     <th:block th:if="${session.Member_Id ne null}">
	                        <th:block
	                           th:if="${ session.Member_Id eq myBandList.getBand_admin() }">
	                           <a
	                              th:href="@{'setMyBand?bandUrl='+${myBandList.getBand_code()}}"
	                              class="myBand_adminBandSet py-1 hstack d-flex float-end"><span class="hstack">밴드 설정</span></a>
	                        </th:block>
	                        <th:block
	                           th:if="${ session.Member_Id ne myBandList.getBand_admin() and  checkMember ne null}">
	                           <a
	                              th:href="@{'withdrawalMyBand?bandUrl='+${myBandList.getBand_code()}}"
	                              class="myBand_memberBandSet py-1 hstack d-flex float-end"
	                              onclick="return func_bandWithdrawal() ">밴드 탈퇴하기</a>
	                        </th:block>
	                     </th:block>
	                  <div id="myBand_member_countBtn" class="myBand_member_count" onclick="return func_bandMember()">
	                     <a class="myBandLink" th:href="@{'/mybandMember?bandUrl='+${myBandList.getBand_code()}}">
	                        <span class="f13" th:text="|멤버  ${myBandList.getBand_memberCount()} 명|"></span>
	                     </a>
	                  </div>
	                  <hr />
	                  <div class="myBand_info">
	                     <span th:text="${myBandList.getBand_content()}"></span>
	                  </div>
	
	                  
	                  <!-- 가입한 밴드 확인 영역 -->
	                  <th:block th:if="${checkMember == null}">
	                     <form action="addBandMember" method="post" name="addMember_band">
	                        <div class="myBand_write_btn rounded-3 btn-main">
	                           <input name="bandCode" type="hidden" th:value="${myBandList.getBand_code()}" />
	                           <input name="joinMemberId" type="hidden" th:value="${session.Member_Id}" />
	                           <a href="javascript:addMember_band.submit();" >
	                              <span>가입하기</span>
	                           </a>                        
	                        </div>      
	                     </form>
	                  </th:block>
	                  <th:block th:unless="${checkMember == null}">
	                     <div class="myBand_write_btn rounded-3 btn-main">
	                        <a
	                           th:href="@{'bandFeedWrite?bandUrl='+${myBandList.getBand_code()}}">
	                           <span class="text-dark f15">글쓰기</span>
	                        </a>
	                     </div>
	                  </th:block>
						
						<!-- 밴드 채팅 리스트 영역 -->
	                  <!-- <th:block th:if="${session.Member_Id ne null}">
	                     <div class="band_chatBox px-1 mt-5 w-100">
	                        <div class="band_chat col-12">
	                           <p class="fw-bold pb-0 mb-0">채팅</p>
	                           <hr class="m-0" />
	                           채팅 내역이 올 영역
	                           
	                           
	                        </div>
	                     </div> band_chatBox
	                  </th:block> -->
					</div> <!-- myBand_content_col_title -->
				</div> <!-- myBand_content_col_titleBox : 밴드 정보 -->


				<!-- col2 채팅 출력 영역 -->
                <div class="col-12 col-lg-7 myBand_content_col_content mt-5" >
                   <!--  <div class="myBand_content_search">
                        <span>글 내용, #태그, @작성자 검색</span>
                        <img class="search_img" src="../img/common/btn_header_search.png" alt="">
                        <span th:text="${feedwriterImg.getMember_profileimage()}"></span>
                    </div> -->

                    <!-- 채팅박스 -->
                    <div class="bandChat_listBox px-3">
                    	<div class="bandChat_listTitle bg-skyb py-3 text-center">
                    		<span class="text-center f22" th:text="${partnerId}"></span> <br />
                    		<small class="text-muted" th:text="${myBandList.getBand_name()}"></small>
                    	</div>
                    	
                    	<!-- 채팅 메시지 영역 -->
                    	<div class="bandChat_listContent py-2">
                    		<!-- 대화 내용이 없을 때  -->
                    		<th:block th:if="${ bandChatListSize eq 0 }" >
                    			<div class="text-center">
                    				<span class="bg-mainbg border border-white rounded-pill text-center d-inline-block mx-auto my-5 p-1 px-5">상대방과 대화를 시작해보세요.</span>
                    			</div>
                    		</th:block>
                    		
                    		<div id="bandChatContent" class="d-flex flex-column">
                    		</div>
                    	</div>
                    	
                    	<!-- 채팅 입력 영역 -->
                    	<div class="bandCht_input">
							<div class="row my-3">
								<div class="col-sm-10">
									<input type="text" class="py-3 form-control"
										id="bandChat_userInput" placeholder="보내실 메시지를 입력해주세요.">
								</div>
								<div class="col-sm-2">
									<input type="button" value="전송" class="py-3 w-100 btn btn-outline-warning" id="sendBandChatBtn" />
								</div>
							</div>
                    		
                    	</div>
                    </div>
                    
                </div>
					
                

            </div>  <!-- myBand_contentBox -->
        </div>


    </div>

    <div th:replace="~{footer/footer::footer}"></div>
	
	
	<script th:inline="javascript">
		
		var chatRoom = /*[[${chatRoom}]]*/ "";
		var loginId = /*[[${session.Member_Id}]]*/ "";
		var bandUrl = /*[[${bandUrl}]]*/ "";
	</script>
    
    <script>
		
	    function func_deleteFeed(){
	        var del_confirm = confirm("게시글을 정말 삭제하시겠습니까?");
	        
	        if(del_confirm){
	            // 확인을 클릭한 경우 form을 제출합니다.
	            
	        	document.getElementById('deleteFeedForm').submit();
	        } else {
	            // 취소를 클릭한 경우 아무 작업도 하지 않습니다.
	            return false; // 페이지 이동 방지
	        }
	    }
	    
	    function func_bandWithdrawal(){
	    	var result = confirm('정말 탈퇴하시겠습니까?');
	    	
	    	if(result){
	    		return true;
	    	} else {
	    		return false;
	    	}
	    }
	    
	    function func_bandMember(){
	    	
	    }
	    
	    
	    
		// 페이지가 로드될 때 밴드 채팅 내역을 가져와서 화면에 표시합니다.
		$(document).ready(function() {
	  	  // 페이지 로드시 밴드 채팅 내역을 가져오는 함수 호출
	 	   fetchBandChatList();
	
	   	 // 5초마다 밴드 채팅 내역을 업데이트하기 위해 setInterval() 함수 사용
	  	  setInterval(fetchBandChatList, 2000); // 2초마다 업데이트

		});

// 밴드 채팅 내역을 가져오는 함수
function fetchBandChatList() {
    $.ajax({
        url: '/getBandChatList?chatRoom='+chatRoom, // Spring Controller에 매핑된 URL
        type: 'GET',
        dataType: 'json',
        success: function(response) {
            // 서버로부터 받은 데이터를 처리하여 화면에 표시합니다.
            displayBandChatList(response);
        },
        error: function(xhr, status, error) {
            console.error('Error occurred while fetching band chat list: ' + error);
        }
    });
}

//밴드 채팅 내역을 가져와서 화면에 표시하는 함수
function fetchAndDisplayBandChatList() {
    $.ajax({
        url: '/getBandChatList', // Spring Controller에 매핑된 URL
        type: 'GET',
        dataType: 'json',
        success: function(response) {
            // 서버로부터 받은 데이터를 처리하여 화면에 표시합니다.
            displayBandChatList(response);
        },
        error: function(xhr, status, error) {
            console.error('Error occurred while fetching band chat list: ' + error);
        }
    });
}

// 밴드 채팅 내역을 화면에 표시하는 함수
function displayBandChatList(chatList) {
    var bandChatContent = $('#bandChatContent');
    bandChatContent.empty(); // 이전 채팅 내역을 모두 지우고 새로운 채팅 내역을 추가합니다.
    
    // 새로 받은 밴드 채팅 내역을 반복하여 화면에 표시합니다.
    $.each(chatList, function(index, chatItem) {
        // 각 채팅 아이템에 대한 HTML 요소를 생성합니다.
        var chatElement = $('<div>').addClass('bandChat_listContent_item');
        
        // 로그인한 사용자와 채팅 메시지의 소유자가 같으면 오른쪽 정렬, 아니면 왼쪽 정렬
        if (chatItem.chat_Id == loginId ) {
            chatElement.addClass('float-end ms-auto my-2 text-end');
        } else {
            chatElement.addClass('float-start d-flex flex-row-reverse me-auto my-2');
        }
        
        // 채팅 내용을 추가합니다.
        var chatBody = $('<div>').addClass('bandChatList_body d-inline-block');
        var memberIdBox = $('<div>').addClass('bandChatList_memberIdBox');
        memberIdBox.append($('<span>').text(chatItem.chat_Id));
        var messageBox = $('<div>').addClass('bandChatList_messageBox');
        messageBox.append($('<span>').text(chatItem.chat_message));
        
        chatBody.append(memberIdBox).append(messageBox);
        
        // 프로필 이미지를 추가합니다.
        var imgBox = $('<div>').addClass('bandChatList_imgBox d-inline-block mx-3');
        var profileImg = $('<img>').attr('src', '../img/member_thumbnail/' + chatItem.member_profileimage)
                                   .attr('alt', '#')
                                   .css({ 'width': '70px', 'height': '70px' , 'border-radius' : '50%' });
        imgBox.append(profileImg);
        
        // chatElement에 chatBody와 imgBox를 추가합니다.
        chatElement.append(chatBody).append(imgBox);
        // chatElement를 bandChatContent에 추가합니다.
        bandChatContent.append(chatElement);
    });
}
		
				
		// 밴드 채팅 메시지를 전송하는 함수
		function sendBandChat() {
		    
			// 입력된 채팅 메시지 가져오기
		    var bandChatMessage = $('#bandChat_userInput').val().trim();
			
		    // 빈 메시지인지 확인
		    if (!bandChatMessage) {
		        alert('메시지를 입력하세요.');
		        return;
		    }
			
		    var dataToSend = {
		    		 message: bandChatMessage,
		    		 sendchatRoom : chatRoom,
		    		 sendLoginId : loginId,
		    		 sendBandUrl : bandUrl
		    }
		    
		    // AJAX를 통해 채팅 메시지 서버로 전송
		    $.ajax({
		        url: '/sendBandChat', // Spring Controller에 매핑된 URL
		        type: 'POST',
		        contentType: 'application/json',
		        data: JSON.stringify(dataToSend ), // 채팅 메시지를 JSON 형태로 전송
		        success: function(response) {
		            console.log('채팅 메시지 전송 성공:', response);
		            // 채팅 메시지 전송 성공 시 처리할 내용을 여기에 작성하세요
		        },
		        error: function(xhr, status, error) {
		            console.error('채팅 메시지 전송 실패:', error);
		            // 채팅 메시지 전송 실패 시 처리할 내용을 여기에 작성하세요
		        }
		    });
		}

		// 전송 버튼 클릭 시 채팅 메시지 전송
		$('#sendBandChatBtn').click(function() {
		    sendBandChat();
		    $('#bandChat_userInput').val('');
		});

		// Enter 키 입력 시도 채팅 메시지 전송
		$('#bandChat_userInput').keypress(function(event) {
		    if (event.which === 13) {
		        sendBandChat();
		        $('#bandChat_userInput').val('');
		    }
		});
	</script>
</body>
</html>