<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<div th:replace="~{head/head::head}"></div>
<body>
<div th:replace="~{nav/nav::nav}"></div>
    <div class="myBand_wrapper">
        <!-- myBand lnb 영역 -->
        <div class="myBand_pc_lnb">
            <ul class="container myBand_pc_lnb_ul d-flex justify-content-center">
                <li>게시글</li>
                <li>사진첩</li>
                <li>일정</li>
                <li>멤버</li>
            </ul>
        </div>

        <!-- myBandContent -->
        <div class="myBand_content">
            <div class="container myBand_contentBox px-0 d-flex justify-content-between">
                <!-- col1 밴드 이미지, 제목 정보 영역 -->
                <div class="myBand_content_col_title">
                    <div class="myBand_title_img">
                        <img th:src="@{'/resources/band_thumbnail/'+ ${myBandList.getBand_thumnail()}}" class="img-fluid join_band_item_img" alt="...">
                    </div>
                    <div class="myBand_title_name">
                        <h3 th:text="${myBandList.getBand_name()}">산림</h3>
                    </div>
                    <div class="myBand_member_count">
                        <span >멤버 <span th:text="${myBandList.getBand_memberCount()}" ></span></span>
                    </div>
                    <div class="myBand_info">
                        <span th:text="${myBandList.getBand_content()}">밴드 정보 소개 글</span>
                    </div>

                    <div class="myBand_write_btn">
                    	<a th:href="@{bandFeedWrite}">
                    		<span>글쓰기</span>
                    	</a>
                    </div>
                </div>
                <!-- col2 밴드 게시글 영역 -->
                <div class="myBand_content_col_content">
                    <div class="myBand_content_search">
                        <span>글 내용, #태그, @작성자 검색</span>
                        <img class="search_img" src="../img/common/btn_header_search.png" alt="">
                    </div>

                    <div class="myBand_content_item">
                        <div class="myBand_content_item_writer">
                            <img class="myBand_content_item_writer_profile" src="../img/common/kakao_profile_02.png" alt="#">
                            <div class="myBand_content_item_writer_info">
                                <strong>작성자 닉네임</strong>
                                <span>글 작성 시간</span>
                            </div>
                        </div>
                        <div class="myBand_content_item_content">
                            
                        </div>
                    </div>
                </div>

                <div class="myBand_content_col_title">

                </div>

            </div>  <!-- myBand_contentBox -->
        </div>

    </div>
    <div th:replace="~{footer/footer::footer}"></div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>