/* 밴드 지역 네브바 lnb 스타일 */
div.band_lnb{
    width: 100%;
    height: 70px;
    border : 1px solid red;
}
div.band_lnb_box {
    border : 1px solid blue;
}
div.band_lnb li.band_lnb_item {
    height: 100%;
    font-size: 30px;
    font-weight: bold;
    margin-right: 20px;
    color: #bbbbbb ;
    position : relative;
    line-height: 80px;
}
li.band_lnb_item.active{
    color : black !important;
}
li.band_lnb_item.active::after{
    content: '';
    display: inline-block;
    position : absolute;
    left : 0px;
    bottom : 0px;
    width: 100%;
    height: 5px;
    background-color: black;
}
/* 가입한 밴드 목록 스타일*/
div.join_myBand{
    position : relative;
    display : flex; 
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}
div.join_band_item{
    box-shadow: 4px 7px 15px 0px rgba(51, 51, 51, 0.08);
    width: 18%;
    height: 250px;
    margin-left: 10px;
    margin-right : 10px;
    margin-bottom: 30px;
    border-radius: 20px;
    position : relative;
    padding : 0px;
    overflow: hidden;
}
/* 밴드 만들기 스타일 */
div.create_band{
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
div.create_buttonBox{
    position : relative;
    border-radius: 50%;
    background: url('../img/common/btn_notice_more.png') no-repeat;
    background-color: hsl(0, 0%, 91%);
    width: 38px;
    height: 38px;
    background-position: 50% 50%;
    padding: 27px;
    margin-bottom: 20px;
}
div.create_buttonBox+strong{
    font-size: 20px;
}
/* 가입한 밴드 스타일  */
div.join_band_item>img {
    height: 160px;
}
div.join_band_item_text{
    padding: 5px;
}
div.join_band_item_text{
    padding: 15px;
}
div.join_band_item_text>strong{
    display: block;
    font-weight: normal;
    font-size: larger;
    text-overflow: ellipsis;
}
div.join_band_item_text>span{
    font-size: medium;
    color : #b3b3b3dd;
}

/* 밴드 추천 창 */
div.band_recomand_item{
    margin-top : 15px;
    margin-bottom : 15px;
    padding-right: 15px;
    padding-left : 0px;
    height: 100px;;
    display: flex;
}
div.band_recomand_img{
    width: 100px;
    height: 100px;
    margin-right: 10px;
    
}
div.band_recomand_img>img{
    width: 100%;
    height: 100%;
    background-size: 100%;
    border-radius: 20px;
}
/* 테마 밴드 더보기 스타일 */
div.band_more_view{
    display: inline-block;
    border : 1px solid lightpink;

}

/* 오늘의 인기글 */
div.band_today_best_list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
div.band_today_best_item{
    width: 49%;
    box-shadow: 4px 7px 15px 0px rgba(51, 51, 51, 0.08);
    border-radius: 15px;
    margin-bottom: 20px;
    padding: 20px;
}
div.best_item_title{
    padding-top : 15px;
    padding-bottom : 0px;
    padding-left : 10px;
}
/* 오늘의 인기글 컨텐츠 스타일 */
div.best_item_content{
    display: flex;
    flex-direction: row;
}
div.best_item_content>span {
    display: inline-block;
    width: 80%;
    border : 1px solid red;
    padding: 10px;;
}
div.best_item_content_img{
    width: 120px;
    height: 120px;
    background: url('../img/band/content/전주김제 2박3일 여행.jpg') no-repeat center / cover;
    border-radius: 10px;
    
}
div.best_item_footer_img{
    display: inline-block;
}
div.best_item_footer_img>img{
    width: 22px;
    height: 22px;
}
div.best_item_footer_img>img+img{
    margin-left : -10px;
}