#band{
    min-width: 400px;
}
/* 밴드 지역 네브바 lnb 스타일 */
div.band_lnb{
    width: 100%;
}
div.band_lnb li.band_lnb_item {
    height: 100%;
    font-size: 30px;
    font-weight: bold;
    margin-right: 20px;
    color: #bbbbbb ;
    position : relative;
    line-height: 80px;
}
li.band_lnb_item.active{
    color : black !important;
}
li.band_lnb_item.active::after{
    content: '';
    display: inline-block;
    position : absolute;
    left : 0px;
    bottom : 0px;
    width: 100%;
    height: 5px;
    background-color: black;
}
/* 가입한 밴드 목록 스타일*/
div.join_myBand{
    position : relative;
    display : flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
div.join_band_item{
    box-shadow: 4px 7px 15px 0px rgba(51, 51, 51, 0.18);
    width: 18%;
    height: 250px;
    margin : 10px;
    border-radius: 20px;
    position : relative;
    padding : 0px;
    overflow: hidden;
    box-sizing: border-box;
    cursor: pointer;
    
}
/* 밴드 만들기 스타일 */
div.create_band{
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
a.create_band_link{
	position : relative;
	width: 100%;
	height: 100%;
	display : block;
	color : black;
}
div.create_buttonBox{
    position : relative;
    border-radius: 50%;
    background: url('../img/common/btn_notice_more.png') no-repeat;
    background-color: hsl(0, 0%, 91%);
    width: 38px;
    height: 38px;
    background-position: 50% 50%;
    padding: 27px;
    margin-bottom: 20px;
    top : 50%;
    left : 50%;
    margin-top : -38px;
    margin-left : -26px;
}
div.create_buttonBox+strong{
	display : block;
    font-size: 20px;
    text-align: center;
    position : relative;
    top : 50%;
}
/* 가입한 밴드 스타일  */
div.join_band_item_imgBox{
	width: 100%;
    height: 65%;
    overflow: hidden;
}
div.join_band_item_imgBox>img {
	display : block;
    width: 100%;
    height: 100%;
    background-position: center;
 	background-size: 100%;   
}
div.join_band_item_text{
    padding: 8px 10px;
}

div.join_band_item_text>strong{
    display: block;
    font-weight: normal;
    font-size: 18px;
    text-overflow: ellipsis;
}
div.join_band_item_text>span{
    font-size: 15px;
    color : #b3b3b3dd;
}
div.join_band_item_text>span>span{
	color : #b3b3b3dd;
}

/* 밴드 추천 창 */

div.band_recomand_wrapper{
    width: 100%;
    padding: 40px 0px;
    background-color: #f3f2f2;
}
a.band_recomand_link{
	display : block;
}
div.band_recomand_item{
    margin-top : 15px;
    margin-bottom : 15px;
    padding-right: 15px;
    padding-left : 0px;
    height: 100px;;
    display: flex;
    border : 1px solid red;
}
/* 밴드 추천 창 - 이미지*/
div.band_recomand_img{
    width: 120px;
    height: 100px;
    margin-right: 10px;
    position : relative;
    display : inline-block;
}
div.band_recomand_img>img{
    width: 100%;
    height: 100%;
    background-size: 100%;
    border-radius: 20px;
    border : 1px solid blue;
}
div.band_recomand_text{
	position : relative;
    width: 70%;
    border : 1px solid black;
}
div.band_recomand_text>h3{
    font-size: 18px;
}
div.band_recomand_text>span{
    display : block;
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/* 테마 밴드 더보기 스타일 */
div.band_more_view{
    display: inline-block;
    padding : 2px 5px;
    border : 1px solid rgb(255, 255, 255);
    background-color: white;
    border-radius: 20px;
    position : relative;
    bottom : 0px;
    margin-top : 10px;
}

/* 오늘의 인기글 */
div.band_today_best_list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
div.band_today_best_item{
    box-shadow: 4px 7px 15px 0px rgba(51, 51, 51, 0.28);
    border-radius: 15px;
    margin-bottom: 20px;
    padding: 20px;
}
div.best_item_title{
    padding-top : 15px;
    padding-bottom : 0px;
    padding-left : 10px;
}
/* 오늘의 인기글 컨텐츠 스타일 */
div.best_item_content{
    display: flex;
    flex-direction: row;
}
div.best_item_content>span {
    display: inline-block;
    width: 80%;
    padding: 10px;;
}
div.best_item_content_img{
    width: 120px;
    height: 120px;
    background: url('../img/band/content/전주김제 2박3일 여행.jpg') no-repeat center / cover;
    border-radius: 10px;
    
}
div.best_item_footer_img{
    display: inline-block;
}
div.best_item_footer_img>img{
    width: 22px;
    height: 22px;
}
div.best_item_footer_img>img+img{
    margin-left : -10px;
}