/* font */
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

* {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  color: var(--black);

}

a {
  text-decoration: none;
  color: var(--black);
}

a.indent{
  text-indent: -9999px;
  font-size: 0;
}


/* color palette*/
:root {
  --vh: 9.59px;
  --black: #3c3c3c;
  --white: #ffffff;
  --deepgray: #a5a5a5;
  --gray: #f0f0f0;
  --main: #ffec9f;
  --mainbg: #ffe576;/*좀더 진함*/
  --nottedblue: rgb(59 130 246 / 0.5);
}

/* font size */
.f14 {
  font-size: 14px;
}

.f13 {
  font-size: 13px;
}

.f12 {
  font-size: 12px;
}

.f11 {
  font-size: 11px;
}

.f16 {
  font-size: 16px;
}

.f17 {
  font-size: 17px;
}

.f20 {
  font-size: 20px;
}

.f22 {
  font-size: 22px;
}
/* background-color 버튼 색상 정의 */
.bg-main{
	background-color: var(--main);
}
.bg-mainbg{
	background: var(--mainbg);
}
.bg-nb{
	background-color: var(--nottedblue);
}
/* BTN 버튼 색상 정의 */
.btn-main{
	background-color: var(--main);
}
.btn-nb{
	background-color: var(--nottedblue);
}
.btn-mainbg{
	background-color: var(--mainbg);
}
.btn-main:hover{
	border: 1px solid var(--main);
	background-color: var(--white);
}


/* form 양식 */
.form-label{
  color: var(--black);
}
/* input, .form-control {
	color: var(--deepgray);
} */
