
/*home css*/
div.home_wrapper {
	position: relative;
	width: 100%;
}

.home_bg {
	background: linear-gradient(to bottom, var(--main) 90%, var(--white) 90%);
}

.mh-360 {
	min-height: 360px;
}

.xh-100 {
	max-height: 100px;
}

.xh-360 {
	max-height: 360px;
}

/*메인 캐러셀 스타일*/
div.home_carousel {
	position: relative;
}

div.carousel_bg_whiteBox {
	background-color: white;
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 100px;
}

#carouselExampleControls div.carousel-item {
	padding-top: 100px;
}

/*캐러셀 이미지 스타일*/
div.carousel_img {
	max-height: 400px;
	min-height: 400px;
	overflow: hidden;
	display: flex;
	justify-content: center;
}

div.carousel_img>img {
	display: inline-block;
	/* position: relative; */
	/* left : 100px; */
	z-index: 2;
	min-width: 430px;
}

/*캐러셀 텍스트 영역 스타일*/
div.crousel_textArea {
	position: relative;
	margin-bottom: 40px;
}

div.crousel_textArea>em {
	display: inline-block;
	padding: 0 15px;
	height: 30px;
	line-height: 28px;
	color: var(--white) !important;
	background: #000;
	border-radius: 15px 15px 15px 0;
	font-size: 16px;
	font-weight: 300;
	font-style: normal;
	margin-top: 100px;
}

div.crousel_textArea>strong {
	display: block;
	margin: 20px 0 23px;
	font-size: 34px;
	font-weight: 700;
	line-height: 50px;
	letter-spacing: -3px;
	color: #3d3d3d;
	overflow: hidden;
	max-height: 150px;
	display: box;
	word-break: keep-all;
	text-overflow: ellipsis;
	line-clamp: 3;
	box-orient: vertical;
}

div.crousel_textArea>a {
	display: inline-block;
	font-size: 15px;
	font-weight: 300;
	letter-spacing: -0.5px;
	color: #000;
	text-decoration: none;
}

div.crousel_textArea>a::after {
	content: '';
	display: block;
	height: 1px;
	background: #908f8f;
}

/* 캐러셀 버튼 부분 */
.home_carousel_buttons {
	position: absolute;
	margin: 0 auto;
	width: 16%;
	height: 20%;
	top: 50%;
	left: 0;
	margin-top: 187px;
	margin-left: 100px;
}

.carousel-control-next-m, .carousel-control-prev-m{
	z-index: 5;
    width: 50%;
    margin-top: 790px;
}

/********************************
   두번째 섹션 Datalab 
*********************************/
section#home_data_lab {
	width: 100%;
}

div.home_data_labBox {
	/*   border : 1px solid red;*/
	
}

/* 여행돋보기 tab style */
.home_dl_nav_list.active {
	background: var(--main);
	border-radius: 14px;
	box-shadow: 2px 5px 40px 0 rgba(0, 0, 0, .09);
	transition: 0.5s;
}

/*Datalab 타이틀 스타일*/
div.home_dl_title_img {
	position: relative;
}

/*Datalab nav 스타일*/
div.home_dl_nav {
	background-color: var(--mainbg);
	border: 1px solid #fcf3eb;
	border-radius: 10px;
}

ul.home_dl_nav_ul {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-content: center;
	width: 100%;
	/*  	position: relative;*/
	cursor: pointer;
}

/*datalab list 스타일*/
li.home_dl_nav_list {
	width: 33.333%;
	background-position-x: 50%;
	position: relative;
	height: 50px;
	line-height: 50px;
	text-align: center;
}

/*datalab content 텍스트 스타일 .dl-ment*/
div.dl_ment>img {
	margin-right: 10px;
}

/*AI콕콕 클릭 시 스타일*/
div.home_dl_img_AIcokcok {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

ul.AIcokcokList {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
}

ul.AIcokcokList>li {
	width: 24%;
	height: 330px;
	position: relative;
}

ul.AIcokcokList>li>a {
	display: inline-block;
	width: 100%;
	height: 100%;
	text-decoration: none;
	color: white;
}

div.AIcokcok_img {
	width: 100%;
	height: 100%;
}

div.AIcokcok_img::before {
	content: '';
	display: block;
	width: 100%;
	height: 40%;
	position: absolute;
	left: 0px;
	bottom: 0px;
	background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, .6));
}

ul.AIcokcokList>li:nth-child(1) div.AIcokcok_img {
	background: url(../img/home/AIcokcok_05.jpg) no-repeat center/cover;
}

ul.AIcokcokList>li:nth-child(2) div.AIcokcok_img {
	background: url(../img/home/AIcokcok_06.jpg) no-repeat center/cover;
}

ul.AIcokcokList>li:nth-child(3) div.AIcokcok_img {
	background: url(../img/home/AIcokcok_07.jpg) no-repeat center/cover;
}

ul.AIcokcokList>li:nth-child(4) div.AIcokcok_img {
	background: url(../img/home/AIcokcok_08.jpg) no-repeat center/cover;
}

/*datalab의 AIcokcok 이미지 안 텍스트 스타일*/
div.AIcokcok_text {
	position: absolute;
	left: 20px;
	bottom: 20px;
	text-overflow: ellipsis;
}

div.AIcokcok_text>strong {
	display: block;
	font-weight: normal;
}

div.AIcokcok_text>span {
	font-size: 12px;
}

div.like {
	position: absolute;
	right: 16px;
	top: 14px;
	width: 31px;
	height: 31px;
	background: url(../img/home/main/icon_good.png) no-repeat;
	z-index: 1;
}

/*핫플 콕콕 클릭 시 스타일*/
ul.hotPlace_area_map_ul {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 15px 0px;
	border-top: 1px solid #D2D2D2;
	border-bottom: 1px solid #D2D2D2;
}

.hotPlace_area_map_ul_mobile {
	display: none;
}

ul.hotPlace_area_map_ul>li {
	width: 5.5555%;
	text-align: center;
}

/*핫플콕콕 이미지 스타일*/
div.hp_imgBox {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}

div.hp_img_content {
	height: 300px;
	position: relative;
	margin-bottom: 60px;
}

.hp_img_content img{
	object-fit: cover;
}

/*핫플콕콕 이미지 박스 안 텍스트 title 스타일*/
div.hp_title {
	width: 100%;
	padding: 10px 0px;
	text-align: center;
	font-size: 16px;
}

/*AI콕콕 플래너 스타일*/
ul.aiPlaner_list {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

ul.aiPlaner_list>li {
	width: 33.3333333333%;
	width: 330px;
	position: relative;
	box-shadow: 4px 7px 15px 0px rgba(51, 51, 51, 0.08);
	border-radius: 5px;
}

ul.aiPlaner_list>li>a {
	display: inline-block;
	width: 100%;
	height: 100%;
	text-decoration: none;
	color: black;
}

span.best {
	position: absolute;
	left: 15px;
	top: 15px;
	display: inline-block;
	width: 42px;
	height: 42px;
	z-index: 10;
	background: url(../img/home/common/icon_curation_best.png);
}

ul.aiPlaner_list>li div.aiPlaner_img, #myCarousel .f-carousel__slide>li .aiPlaner_img
	{
	width: 100%;
	height: 214px;
	margin: 0 auto;
}

#myCarousel {
	--f-carousel-spacing: 10px;
	--f-carousel-slide-width: 50%;
	--f-progress-color: #ff3520;
}

#myCarousel .f-carousel__slide {
	padding: 50px;
	background: #fff;
}

/*AI콕콕 플래너 카드 형식 div 하단 스타일*/
div.aiPlaner_board {
	position: relative;
}

div.aiPlaner_board>em {
	display: inline-block;
	position: absolute;
	left: 30px;
	top: -14px;
	color: black;
	background: #fcf3eb;
	z-index: 10;
	height: 30px;
	width: 100px;
	line-height: 30px;
	text-align: center;
	font-size: 15px;
	letter-spacing: -0.5px;
	font-style: normal;
	font-weight: normal;
}

div.aiPlaner_text {
	padding-left: 30px;
	padding-top: 30px;
}

div.aiPlaner_text>strong {
	position: relative;
	display: block;
	margin: 0 0 6px;
	height: 21px;
	padding-right: 25px;
	color: #333;
	font-size: 18px;
	line-height: 21px;
	letter-spacing: -0.6px;
	font-weight: bold;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

div.aiPlaner_text>p {
	color: #666666;
	height: 18px;
	line-height: 16px;
	font-size: 14px;
	margin-bottom: 0px;
}

div.aiPlaner_text>span {
	display: inline-block;
	color: #666;
	height: 18px;
	line-height: 16px;
	font-size: 14px;
}

div.aiPlaner_text>span+span::before {
	content: '';
	display: inline-block;
	width: 1px;
	height: 12px;
	margin: 0 8px;
	vertical-align: -1px;
	background: #bfbfbf;
}

div.aiPlaner_profile>img {
	position: absolute;
	right: 20px;
	top: 34px;
	display: inline-block;
	width: 35px;
	height: 35px;
	border-radius: 100%;
	overflow: hidden;
}

/*datalab 출력 데이터 새로고침 버튼 스타일*/
div.dl_refresh_buttonBox {
	position: relative;
}

div.dl_refresh_button {
	position: relative;
	width: 207px;
	height: 45px;
	color: #333;
	line-height: 19px;
	border: 1px solid #333;
	border-radius: 50px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	cursor: pointer;
}

div.dl_refresh_button>img {
	width: 20px;
	height: 17px;
	position: relative;
	margin-right: 15px;
}

div.dl_refresh_button>span {
	line-height: 45px;
}

/*datalab more_content 더보기 스타일*/
div.dl_more_content {
	position: absolute;
	top: 25px;
	right: 20px;
	cursor: pointer;
}
/*==========
=========== footer
==========*/

/*footer {
  position: relative;
  width: 100%;
  margin-top: 10%;
  background: #e7dbd1;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer .social-icon,
footer .footer-menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

footer .social-icon li a {
  font-size: 2rem;
  color: black;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

footer .footer-menu li a {
  font-size: 1rem;
  color: black;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  opacity: 0.4;
}

footer .social-icon li a:hover,
footer .footer-menu li a:hover {
  transform: translateY(-10px);
  opacity: 1;
}

footer p {
  color: black;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 1.1rem;
  opacity: 0.8;
}*/

/****************************
   밴드 리스트 올 스타일
   ****************************/
section.home_band_data {
	
}

div.home_band_recomandBox {
	
}

a.home_band_recomand_link {
	display: block;
	width: 100%;
}

div.home_band_recomand_item {
	margin-top: 15px;
	margin-bottom: 15px;
	padding-right: 15px;
	padding-left: 0px;
	height: 100px;;
	display: flex;
}
/* 밴드 추천 창 - 이미지*/
div.home_band_recomand_img {
	width: 150px;
	height: 100px;
	margin-right: 10px;
	position: relative;
	display: inline-block;
}

div.home_band_recomand_img>img {
	width: 100%;
	height: 100%;
	background-size: 100%;
	border-radius: 20px;
}

div.home_band_recomand_text {
	position: relative;
	width: 100%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowpre
}

div.home_band_recomand_text>h3 {
	font-size: 18px;
	text-align: left;
}

div.home_band_recomand_text>span {
	display: block;
	font-size: 15px;
	text-align: left;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* feed 수정 */
.home-feed-box {
	width: 296px !important;
}

/* 검색탭 AD */
.img-container {
	width: 100vw;
	height: 320px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.img-container img {
	width: 400px;
	height: 300px;
	background-color: #87A0E2;
	border-radius: 16px;
	position: absolute;
	user-select: none;
	transition-property: transform, opacity, zIndex,;
	transition-duration: 0.3s;
	transition-timing-function: ease-out;
}

.arrows {
	width: 900px;
	height: auto;
	display: flex;
	justify-content: space-between;
	z-index: 100;
}

.arrows svg {
	width: 60px;
	height: 60px;
	position: relative;
	fill: white;
	opacity: 0.8;
	cursor: pointer;
}

.arrows svg:active {
	transform: scale(0.9);
	opacity: 1;
	transition-property: transform, opacity;
	transition-duration: 0.3s;
	transition-timing-function: ease-out;
}

/*****************************작은 모니터 크기*************/
@media screen and (min-width:768px) and (max-width:959px) {
	ul.hotPlace_area_map_ul {
		display: none;
	}
	.hotPlace_area_map_ul_mobile {
		display: block;
	}
}

/*****************************스마트폰 크기*************/
@media screen and (max-width:767px) {
	div.carousel-item {
		padding-top: 0px;
	}
	div.crousel_textArea>em {
		margin-top: 50px;
	}
	div.home_carousel {
		position: static;
		padding-bottom: 40px;
	}
	div.crousel_textArea>strong {
		padding-right: 20px;
		font-size: 25px;
	}
	#myCarousel {
		--f-carousel-slide-width: 80%;
	}
	img.hp_imgBox {
		flex-direction: column;
		justify-content: center;
		align-content: center;
	}
	ul.hotPlace_area_map_ul {
		display: none;
	}
	.hotPlace_area_map_ul_mobile {
		display: block;
	}
}

/*********************/
/******* Common Element CSS Start ******/

.clear {
	clear: both;
}

.home_search img {
	max-width: 100%;
	border: 0px;
}

.home_search ul, .home_search ol {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
	outline: none;
	transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
}

a:focus, a:active, a:visited, a:hover {
	text-decoration: none;
	outline: none;
}

.home_search h2 {
	margin-bottom: 48px;
	padding-bottom: 16px;
	font-size: 20px;
	line-height: 28px;
	font-weight: 700;
	position: relative;
	text-transform: capitalize;
}

.home_search h3 {
	margin: 0 0 10px;
	font-size: 28px;
	line-height: 36px;
}

.home_search button {
	outline: none !important;
}
/******* Common Element CSS End *********/
/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
/*
 * 	Default theme - Owl Carousel CSS File
 */
.owl-theme .owl-nav {
	margin-top: 10px;
	text-align: center;
	-webkit-tap-highlight-color: transparent;
}

.owl-theme .owl-nav [class*='owl-'] {
	color: #FFF;
	font-size: 14px;
	margin: 5px;
	padding: 4px 7px;
	background: #D6D6D6;
	display: inline-block;
	cursor: pointer;
	border-radius: 3px;
}

.owl-theme .owl-nav [class*='owl-']:hover {
	background: #869791;
	color: #FFF;
	text-decoration: none;
}

.owl-theme .owl-nav .disabled {
	opacity: 0.5;
	cursor: default;
}


.owl-theme .owl-dots {
	text-align: center;
	-webkit-tap-highlight-color: transparent;
}

.owl-theme .owl-dots .owl-dot {
	display: inline-block;
	zoom: 1;
	display: inline;
}

.owl-theme .owl-dots .owl-dot span {
	width: 10px;
	height: 10px;
	margin: 5px 7px;
	background: #D6D6D6;
	display: block;
	-webkit-backface-visibility: visible;
	transition: opacity 200ms ease;
	border-radius: 30px;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span
	{
	background: #869791;
}

button.owl-dot{
	background-color: transparent !important;
	border: none;
}

.owl-nav{
	display: none;
}

/* -------- title style ------- */
.line-title {
	position: relative;
	width: 400px;
}

.line-title::before, .line-title::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	height: 4px;
	border-radius: 2px;
}

.line-title::before {
	width: 100%;
	background: #f2f2f2;
}

.line-title::after {
	width: 32px;
	background: #e73700;
}

/******* Middle section CSS Start ******/
/* -------- Landing page ------- */
.game-section {
	padding: 60px 50px;
}

.game-section .owl-stage {
	margin-top: 15px;
	display: flex;
	display: -webkit-flex;
}

.game-section .item {
	margin: 0 15px 60px;
	width: 320px;
	height: 400px;
	display: flex;
	display: -webkit-flex;
	align-items: flex-end;
	-webkit-align-items: flex-end;
	background: #343434 no-repeat center center/cover;
	border-radius: 16px;
	overflow: hidden;
	position: relative;
	transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	cursor: pointer;
}

.game-section .item.active {
	width: 500px;
	box-shadow: 12px 20px 40px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 12px 20px 40px rgba(0, 0, 0, 0.25);
	/* box-shadow: 2px 5px 40px 0 rgba(0, 0, 0, .09); */
}

.game-section .item:after {
	content: "";
	display: block;
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

.game-section .item-desc {
	padding: 0 24px 12px;
	color: #fff;
	position: relative;
	z-index: 1;
	overflow: hidden;
	transform: translateY(calc(100% - 54px));
	-webkit-transform: translateY(calc(100% - 54px));
	transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
}

.game-section .item.active .item-desc {
	transform: none;
	-webkit-transform: none;
}

.game-section .item-desc p {
	opacity: 0;
	-webkit-transform: translateY(32px);
	transform: translateY(32px);
	transition: all 0.4s ease-in-out 0.2s;
	-webkit-transition: all 0.4s ease-in-out 0.2s;
}

.game-section .item.active .item-desc p {
	opacity: 1;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

.owl-dots {
	margin-top: -20px;
	position: relative;
	z-index: 5;
}

.owl-carousel a:hover{
	color: var(--main) !important;
}

/******** Middle section CSS End *******/

/***** responsive css Start ******/
@media ( min-width : 992px) and (max-width: 1199px) {
	h2 {
		margin-bottom: 32px;
	}
	h3 {
		margin: 0 0 8px;
		font-size: 24px;
		line-height: 32px;
	}

	/* -------- Landing page ------- */
	.game-section {
		padding: 50px 30px;
	}
	.game-section .item {
		margin: 0 12px 60px;
		width: 260px;
		height: 360px;
	}
	.game-section .item.active {
		width: 400px;
	}
	.game-section .item-desc {
		transform: translateY(calc(100% - 46px));
		-webkit-transform: translateY(calc(100% - 46px));
	}
}

@media ( min-width : 768px) and (max-width: 991px) {
	h2 {
		margin-bottom: 32px;
	}
	h3 {
		margin: 0 0 8px;
		font-size: 24px;
		line-height: 32px;
	}
	.line-title {
		width: 330px;
	}

	/* -------- Landing page ------- */
	.game-section {
		padding: 50px 30px 40px;
	}
	.game-section .item {
		margin: 0 12px 60px;
		width: 240px;
		height: 330px;
	}
	.game-section .item.active {
		width: 360px;
	}
	.game-section .item-desc {
		transform: translateY(calc(100% - 42px));
		-webkit-transform: translateY(calc(100% - 42px));
	}
}

@media ( max-width : 767px) {
	body {
		font-size: 14px;
	}
	h2 {
		margin-bottom: 20px;
	}
	h3 {
		margin: 0 0 8px;
		font-size: 19px;
		line-height: 24px;
	}
	.line-title {
		width: 250px;
	}

	/* -------- Landing page ------- */
	.game-section {
		padding: 30px 15px 20px;
	}
	.game-section .item {
		margin: 0 10px 40px;
		width: 200px;
		height: 280px;
	}
	.game-section .item.active {
		width: 270px;
		box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
		-webkit-box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
	}
	.game-section .item-desc {
		padding: 0 14px 5px;
		transform: translateY(calc(100% - 42px));
		-webkit-transform: translateY(calc(100% - 42px));
	}
}