#index_map{
	height: 100vh;
	overflow : hidden;
}


/* 맵 컨텐츠 전체를 감싸는 영역 스타일 */
div.map_all_contentListBox {

   width: 100%;
   display: flex;
   flex-direction: row;
   
}

div.map_all_contentBox {
    width: 100%;
    display: flex;
    height: 100vh;
    flex-direction: row;
}

/* map guide 영역 */
div.map_guide {
	width: 400px;
	/* height: calc( 100vh - 200px ); */
}

div.map_curr_locationBox {
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 20px;
	
}

/* map_guide_iconBox 스타일 */
.map_guide_iconBox{
	height: 570px;
	width: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
}
.indexMap_guide_iconBox{
	height: 150px;
	width: 100%;
}



ul.map_guide_icon_list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	box-sizing: border-box;
	height: 150px;
}

li.map_guide_icon_item {
	width: 19.5%;
	box-sizing: border-box;
	font-size: small;
	text-align: center;
	cursor : pointer;
}

li.map_icon_electric_charg {
	font-size: 12px;
}
/* map_icon 이미지 설정 */
li.map_icon_near_trip::before {
	content: '';
	display: block;
	width: 36px;
	height: 36px;
	margin: auto;
	background: url('../img/map/icon_depth1_menu.png') no-repeat;
}
li.map_icon_near_trip.on::before {
	content: '';
	display: block;
	width: 36px;
	height: 36px;
	margin: auto;
	background: url('../img/map/icon_depth1_menu_on.png') no-repeat;
}

li.map_icon_food::before {
	content: '';
	display: block;
	width: 36px;
	height: 36px;
	margin: auto;
	background: url('../img/map/icon_depth1_menu.png') no-repeat;
	background-position-y: -36px;
}
li.map_icon_food.on::before {
	content: '';
	display: block;
	width: 36px;
	height: 36px;
	margin: auto;
	background: url('../img/map/icon_depth1_menu_on.png') no-repeat;
	background-position-y: -36px;
}

li.map_icon_cafe::before {
	content: '';
	display: block;
	width: 36px;
	height: 36px;
	margin: auto;
	background: url('../img/map/icon_depth1_menu.png') no-repeat;
	background-position-y: -72px;
}
li.map_icon_cafe.on::before {
	content: '';
	display: block;
	width: 36px;
	height: 36px;
	margin: auto;
	background: url('../img/map/icon_depth1_menu_on.png') no-repeat;
	background-position-y: -72px;
}

li.map_icon_hotel::before {
	content: '';
	display: block;
	width: 36px;
	height: 36px;
	margin: auto;
	background: url('../img/map/icon_depth1_menu.png') no-repeat;
	background-position-y: -108px;
}
li.map_icon_hotel.on::before {
	content: '';
	display: block;
	width: 36px;
	height: 36px;
	margin: auto;
	background: url('../img/map/icon_depth1_menu_on.png') no-repeat;
	background-position-y: -108px;
}

li.map_icon_park::before {
	content: '';
	display: block;
	width: 36px;
	height: 36px;
	margin: auto;
	background: url('../img/map/icon_depth1_menu.png') no-repeat;
	background-position-y: -144px;
}
li.map_icon_park.on::before {
	content: '';
	display: block;
	width: 36px;
	height: 36px;
	margin: auto;
	background: url('../img/map/icon_depth1_menu_on.png') no-repeat;
	background-position-y: -144px;
}

li.map_icon_activity::before {
	content: '';
	display: block;
	width: 36px;
	height: 36px;
	margin : auto;
	background-image : url(https://cdn-icons-png.flaticon.com/128/2853/2853364.png);
	background-size: 100%;
}
li.map_icon_activity.on::before {
	content: '';
	display: block;
	width: 36px;
	height: 36px;
	margin : auto;
	background: url('https://cdn-icons-png.flaticon.com/128/2853/2853386.png') no-repeat;
	background-size: 100%;
}

li.map_icon_event::before {
	content: '';
	display: block;
	width: 36px;
	height: 36px;
	margin : auto;
	background-image : url(https://cdn-icons-png.flaticon.com/512/1753/1753035.png);
	background-size: 100%;
}
li.map_icon_event.on::before {
	content: '';
	display: block;
	width: 36px;
	height: 36px;
	margin : auto;
	background: url('https://cdn-icons-png.flaticon.com/512/1753/1753042.png') no-repeat;
	background-size: 100%;
}

li.map_icon_inside::before {
	content: '';
	display: block;
	width: 36px;
	height: 36px;
	margin : auto;
	border : 1px solid #EBE6E5;
	border-radius : 50%;
	background-image : url(https://cdn-icons-png.flaticon.com/128/3350/3350372.png);
	background-size: 100%;
}
li.map_icon_inside.on::before {
	content: '';
	display: block;
	width: 36px;
	height: 36px;
	margin : auto;
	border : 1px solid #EBE6E5;
	border-radius : 50%;
	background: url('https://cdn-icons-png.flaticon.com/512/3350/3350881.png') no-repeat;
	background-size: 100%;
}


li.map_icon_themepark::before {
	content: '';
	display: block;
	width: 36px;
	height: 36px;
	margin : auto;
	border : 1px solid #EBE6E5;
	border-radius : 50%;
	background-image : url(https://cdn-icons-png.flaticon.com/512/2389/2389500.png);
	background-size: 100%;
}
li.map_icon_themepark.on::before {
	content: '';
	display: block;
	width: 36px;
	height: 36px;
	margin : auto;
	border : 1px solid #EBE6E5;
	border-radius : 50%;
	background: url('https://cdn-icons-png.flaticon.com/128/2389/2389654.png') no-repeat;
	background-size: 100%;
}


li.map_icon_recomand_thema::before {
	content: '';
	display: block;
	width: 36px;
	height: 36px;
	margin: auto;
	background: url('../img/map/icon_depth1_menu.png') no-repeat;
	background-position-y: -216px;
}
li.map_icon_recomand_thema.on::before {
	content: '';
	display: block;
	width: 36px;
	height: 36px;
	margin: auto;
	background: url('../img/map/icon_depth1_menu_on.png') no-repeat;
	background-position-y: -216px;
}

li.map_icon_trip_course::before {
	content: '';
	display: block;
	width: 36px;
	height: 36px;
	margin: auto;
	background: url('../img/map/icon_depth1_menu.png') no-repeat;
	background-position-y: -252px;
}
li.map_icon_trip_course.on::before {
	content: '';
	display: block;
	width: 36px;
	height: 36px;
	margin: auto;
	background: url('../img/map/icon_depth1_menu_on.png') no-repeat;
	background-position-y: -252px;
}

li.map_icon_myTrip::before {
	content: '';
	display: block;
	width: 36px;
	height: 36px;
	margin: auto;
	background: url('../img/map/icon_depth1_menu.png') no-repeat;
	background-position-y: -288px;
}
li.map_icon_myTrip.on::before {
	content: '';
	display: block;
	width: 36px;
	height: 36px;
	margin: auto;
	background: url('../img/map/icon_depth1_menu_on.png') no-repeat;
	background-position-y: -288px;
}

li.map_icon_set::before {
	content: '';
	display: block;
	width: 36px;
	height: 36px;
	margin: auto;
	background: url('../img/map/icon_depth1_menu.png') no-repeat;
	background-position-y: -324px;
}

li.map_icon_set.on::before {
	content: '';
	display: block;
	width: 36px;
	height: 36px;
	margin: auto;
	background: url('../img/map/icon_depth1_menu_on.png') no-repeat;
	background-position-y: -324px;
}


.map_curr_location_name1 b{
	color:black;
}

/* 맵 출력 아이템 리스트 스타일 */
div.mapListItemBox{

   height: calc( 100vh - 150px );
	overflow : scroll !important;
	height: calc( 100vh - 150px );
	width: 400px;

}
/* 맵 코스 리스트 출력 */
div.mapCourseListBox{

   height: calc( 100vh - 150px );
	overflow : hidden; 
	overflow-y : scroll !important;
	height: calc( 100vh - 270px );
	width: 400px;

}


/* 카카오 맵 스타일 */
div#map {
	width: 100%;
	height: 100vh;
}

/* map_mapSection sytle */
div.map_mapSection {
	width: calc(100% - 400px);
}

/*Event_contentRow 데이터 불러온 내용 스타일*/
.Event_contentRow .count {
	line-height: 80px;
}

.dayCircle {
	width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: center;
}

.map_curr_location_name1 span {
	color: white;
}

.map_curr_location_name1 div {
	color: white;
}

.dotOverlay {
	position: relative;
	top: -40px;
}
/* 로딩 화면 스타일 */
.loading-screen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.9); /* 흰색 배경에 투명도 적용 */
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999; /* 다른 요소 위에 표시 */
}

.loading-message {
	font-size: 24px;
	font-weight: bold;
}


/*************************** 
	카카오 맵 api 오버레이 스타일
 **************************/
    .overlay_wrap {position: absolute;left: 0;bottom: 40px;width: 288px;height: 132px;margin-left: -144px;text-align: left;overflow: hidden;font-size: 12px;font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;line-height: 1.5;}
    .overlay_wrap * {padding: 0;margin: 0;}
    .overlay_wrap .overlay_info {width: 286px;height: 120px;border-radius: 5px;border-bottom: 2px solid #ccc;border-right: 1px solid #ccc;overflow: hidden;background: #fff;}
    .overlay_wrap .overlay_info:nth-child(1) {border: 0;box-shadow: 0px 1px 2px #888;}
    .overlay_info .overlay_title {padding: 5px 0 0 10px;height: 30px;background: #eee;border-bottom: 1px solid #ddd;font-size: 18px;font-weight: bold;}
    .overlay_info .overlay_close {position: absolute;top: 10px;right: 10px;color: #888;width: 17px;height: 17px;background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png');}
    .overlay_info .overlay_close:hover {cursor: pointer;}
    .overlay_info .overlay_body {position: relative;overflow: hidden;}
    .overlay_info .overlay_desc {position: relative;margin: 13px 0 0 90px;height: 75px;}
    .overlay_desc .overlay_ellipsis {overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
    .overlay_desc .overlay_jibun {font-size: 11px;color: #888;margin-top: -2px;}
    .overlay_info .overlay_img {position: absolute;top: 6px;left: 5px;width: 73px;height: 71px;border: 1px solid #ddd;color: #888;overflow: hidden;}
    .overlay_info:after {content: '';position: absolute;margin-left: -12px;left: 50%;bottom: 0;width: 22px;height: 12px;background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')}
    .overlay_info .overlay_link {color: #5085BB;}


 .showbtn {
    display: none;
  }
  
 /* 카카오 맵 스타일 */
div#map,div#map2,div#map3 {
   width: 100%;
   height: 100vh;
}
/* map_mapSection sytle */
div.map_mapSection {
   width: calc(100% - 350px);
}

.mapday1,.mapday2,.mapday3{
   position: fixed;   
   z-index: 5;
   right: -35px;
}
.mapday1{
   top:150px;
}
.mapday2{
   top:200px;
}
.mapday3{
   top:250px;
}
h3.pgj{
   position: absolute;
   top:5px;
   right:15px;
   z-index: 5;
   
}
 
/* 예약 및 코스 저장 버튼 */ 
.btn-map-step{
	/* width: 60px; */
	bottom: 0;
	bottom: 25px;
	right: 0;
}  



@media screen and (max-width: 760px) {
  .showbtn {
    display: block;
  }
   div.map_guide{
	width: 100%;  
  } 
 .mapday1,.mapday2,.mapday3{
 	display: none;
 }
}



