/* myband 전체를 감싸는 block 스타일 */
div.myBand_wrapper{
    width: 100%;
    position : relative;
}
/* myBand pc버전 lnb 스타일 */
div.myBand_pc_lnb{
    width: 100%;
    background-color: #4796f0;
}
ul.myBand_pc_lnb_ul>li{
    padding: 10px 20px;
}

/* myBand content 스타일 */
div.myBand_content{
    width: 100%;
    position : relative;
}

/* col1 밴드 이미지, 제목 정보 영역 스타일 */
div.myBand_content_col_titleBox{
	position : relative;
}
div.myBand_content_col_title{
	margin-top : 20px;
    width: 100%;
    top : 100px;
    z-index: 1000;
}
div.myBand_title_img{
    width: 100%;
    height: 200px;
    max-height: 300px;
    overflow : hidden;
}
div.myBand_title_img>img{
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
}
/* 밴드 멤버 수 스타일 */
div.myBand_member_count{
    margin-bottom: 10px;
    cursor: pointer;
}
div.myBand_info{
    margin-bottom: 20px;
}
/* 밴드 설정 버튼 스타일 */
a.myBand_adminBandSet , a.myBand_memberBandSet{
	display : inline-block;
	font-size: 14px;
}
a.myBand_adminBandSet::before, a.myBand_memberBandSet::before{
	content: '';
	display : inline-block; 
	width: 14px;
	height: 14px;
	margin-top : 3px;
	margin-right: 3px;
	background-image: url('../img/common/pngegg.png');
	background-size: 100%;
	background-repeat: no-repeat;
}

/* 밴드 글쓰기 버튼 스타일 */
div.myBand_write_btn{
    width: 100%;
    height: 50px;
}
div.myBand_write_btn span{
    display: block;
    text-align: center;
    line-height: 50px;;
}

/* col2 밴드 게시글 영역 */
div.myBand_content_col_content{
    position : relative;
}
/* 글 내용 검색 스타일 */
div.myBand_content_search{
    width: 100%;
    height: 40px;
    background-color: #dddddd;
    margin-bottom: 20px;
}
div.myBand_content_search>span{
    display: inline-block;
    line-height: 40px;
    padding-left : 20px;
    /* color : black; */
}
div.myBand_content_search>span+img{
/*     float: right; */
    padding: 10px;
    padding-right : 20px;
}
/* 밴드 글 게시글  */
a.band_feed_list_link{
	display : block;
	
}
div.myBand_content_item{
    padding: 20px;
}
div.myBand_content_item_view{
	padding: 20px;
    box-shadow: 4px 7px 15px 0px rgba(51, 51, 51, 0.28);
    max-height: 600px;
    overflow : hidden;
}
div.myBand_content_item_writer{
    width: 100%;
    position : relative;
    display: flex;
}
#myBandDropdownMenuLink{
	display : block;
	position : absolute;
	right : 0px;
	
}
ul.myBand_dropdownList input{
	color : #FFFFFF !important;
}
div.myBand_content_item_writer{
	
}
img.myBand_content_item_writer_profile {
	width: 80px;
	height: 80px;
    border-radius: 20px;
    margin-right: 20px;
    
}
/* 밴드 게시글 내용 스타일 */
div.myBand_content_item_content{
	padding : 30px 0px;
	max-height : 500px;
	overflow : hidden;
}

div.myBand_content_item_writer_info{
	
}
div.myBand_content_item_writer_info>strong{
	display: block;
    font-size: 20px;
    margin-top : 25px;
}
div.myBand_content_item_writer_info>span{
    display: block;
    font-size: 15px;
}

div.myBand_content_item_content img{
	display : block;
	width: 100% !important;
	border-radius: 10px;
	margin-bottom : 10px;
}
div.myBand_feedView_content_item_content img{
	display : block;
	width: 100% !important;
	border-radius: 10px;
	margin-bottom : 10px;
}
.join_band_item{
	min-width: 220px;
	}

/* 밴드 채팅 스타일 */

.band_chatBox{
	position : relative;
}
.bandFeedDeleteBtn, .bandFeedUpdateBtn{
	position: relative;
	top: -30px;
}
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ 
	mybandMember 페이지 스타일 
 @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
 
 
 /* 멤버 리스트 스타일 */
 div.myBand_memberListBox{
 }
 
 div.myBand_memberList_item{
 	border-bottom : 1px solid lightgray;
 	position : relative;
 }
 
 /* 멤버 검색 스타일 */
 div.myBandMember_memberSearch{
 	position : relative;
 }
 div.myBandMember_memberSearch>button{
	position : absolute;
	top : 21px;
	right : 10px;
 }
 
 /* 멤버 이미지 스타일 */
 div.myBand_memberList_item_img{
 	display : inline-block;
 	width: 70px;
 	height: 70px;
 	
 }
 div.myBand_memberList_item_img>img{
 	display : block;
 	width: 100%;
 	height: 100%;
 	border-radius: 100%;
 }
 
 /* 1:1대화 하기 버튼 */
div.band_chat_startBtn{
	position : absolute;
	right : 0px;
	bottom : 30px;
}

div.bandChat_listContent{
	overflow-y : scroll;
	max-height: 500px;
	background-color: #f1f1f1;
}

/* 드롭다운 메뉴 화살표 없애기 */
#bandFeed-right .dropdown-toggle::after {
	margin-top: 2px;
    content: "⋮";
    height: 100%;
    border: none;
    font-size: 20px;
   	font-weight: bold;
}

/* 밴드 피드 댓글 작성 스타일 */
div.bandFeedCommentAllBox{
	max-height: 400px;
	overflow : hidden;
}


/*************************
	 밴드 세부 페이지 스타일 (bandFeedView) 
*************************/
/* 밴드 세부 페이지 댓글리스트 스타일 */
div.bandFeedViewCommentAll{
	border-bottom: 1px solid lightgray;
}
div.myBand_feedView_content_item_content{
	padding : 30px 0px;
	max-height : 1500px;
	overflow-y : scroll;
}
/* 밴드 세부 페이지 댓글 점세개 스타일 */

