.mypage-bg {
	margin-top: 100px;
	width: 100%;
	height: 100%;
	background: url("../img/mypage/waves.jpg") no-repeat center/cover;
	filter: blur(80px);
}

/* 색상 팔레트 */
.gg-dim-txt {
	color: var(--dimgray);
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<< [좌] <<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* sticky 상단 영역 */
#mypage-L.sticky-md-top {
	top: 82px;
	z-index: 0;
}

/* 메뉴 아이콘 */
.my-menu-ico-parent {
	color: #555555;
}

.my-menu-ico {
	cursor: pointer;
}

.my-menu-ico span {
	display: block;
	width: 100%;
}

/* AD 영역 */
.my-ad-img {
	/*height: 260px;*/
	overflow: hidden;
}

.my-ad-img-caption {
	left: 0;
	margin-left: 15px;
	margin-top: -2em;
	color: white;
	text-shadow: 1px 1px 4px black;
}

/* 프로필 사진 */
.my-profile{
	width: 65px;
	height: 65px;
}

/*>>>>>>>>>>>>>>>>>>>>>>>>>> [우] >>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

/* History - ai cokcok swiper */
.my-history-wrap-parent {
	max-height: 300px;
}

.my-history-wrap {
	letter-spacing: -1.3px;
}

.my-history-content-card {
	margin-bottom: 15px;
}

/*content*/
.my-history-title-wrap {
	padding: 50px 0;
}

.swiper-slide {
	padding: 0 0 0 20px;
}

/* history 삭제 버튼 */
.my-del-btn {
	top: 5px;
	right: 5px;
}

/* follow */
.my-follow {
	padding: 0;
	margin: 0;
	max-width: 64px;
}

.my-follow span, .my-scrap-box span {
	display: block;
	width: 100%;
}

/* 좋아요 영역 */
.my-like-box {
	/*     max-height: var(--imageSize);
    width: var(--imageSize);
    max-width: var(--imageSize); */
	width: 32%;
	position: relative;
}

.my-like-box img {
	object-fit: cover;
    margin: 0 auto;
	position: absolute;
	width: 100%;
	height: 100%;
}

.my-like-box:after {
	content: "";
	display: block;
	padding-bottom: 100%;
}

/* 스크랩 */
.my-scrap-box-img {
	height: 150px;
	overflow: hidden;
}

.my-scrap-box-img img {
	display: block;
	margin: 0 auto;
	object-fit: cover;
	width: 100%;
	height: 100%;
}

/*swiper*/
.next-btn {
	width: 36px;
	height: 36px;
	position: relative;
	top: 5%;
	right: -95%;
	background: url("../img/btn_cockcock_slide.png") 0 -72px;
}

.prev-btn {
	width: 36px;
	height: 36px;
	position: relative;
	top: 5%;
	right: -87%;
	background: url("../img/btn_cockcock_slide.png") 0 -36px;
}

.swiper-pagination {
	display: none;
}

/* 프로필 사진 변경 버튼 */
.member-fileUpload-wrapper {
	width: 150px;
	height: 150px;
	position: relative;
}

label.member-fileUpload {
	z-index: 2;
	position: absolute;
	bottom: 0;
	right: 10px;
	text-indent: -9999px;
	width: 36px;
	height: 36px;
	border-radius: 50%;
}

.member-fileUpload-btn {
	width: 21px;
	height: 21px;
	background: url("../img/mypage/camera.png") center/contain;
}

.member-fileUpload-form {
	display: none;
}

/* 토스트 */
.my-toast-parent {
	z-index: 1051;
}

.my-toast.toast {
	border: none;
	box-shadow: none;
	backdrop-filter: blur(8px);
	-webkit-backdrop-filter: blur(8px);
	background: rgba( 255, 255, 255, 0.65 );
}

/******************
  가입한 밴드 리스트 스타일 
********************/
img.mypage_bandImg{
	height: 100px;
}