<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Nav</title>
  <!--<link rel="stylesheet" href="../css/bootstrap.css">-->
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/header.css">
  <script src="https://unpkg.com/feather-icons"></script>
</head>
<body>
<header id="header" class="main">
  <div class="header-inner">
    <div class="header-topMenu">
      <a href="#" class="indent">logo<h1 class="logo-img"></h1></a>
      <div class="header-leftBox">
        <a class="icon-text" href="#"><i data-feather="sun">sun</i>날씨</a>
        <a class="icon-text" href="#"><i data-feather="map-pin">map-pin</i>지도</a>
        <!--<a class="icon-text" href="#"><i data-feather="sunset">sunset</i>날씨</a>-->
        <!--<a class="icon-text" href="#"><i data-feather="sunrise">sunrise</i>날씨</a>-->
        <!--<a class="icon-text" href="#"><i data-feather="wind">wind</i>날씨</a>-->
        <!--<a class="icon-text" href="#"><i data-feather="cloud">cloud</i>날씨</a>-->
        <!--<a class="icon-text" href="#"><i data-feather="cloud-snow">cloud-snow</i>날씨</a>-->
        <!--<a class="icon-text" href="#"><i data-feather="cloud-rain">cloud-rain</i>날씨</a>-->
        <!--<a class="icon-text" href="#"><i data-feather="cloud-lightning">cloud-lightning</i>날씨</a>-->
      </div>
      <div class="header-rightBox">
        <a class="icon-text" href="#"><i data-feather="search">search</i>검색</a>
        <a class="icon-text" href="#"><i data-feather="log-in">login</i>로그인</a>
        <!--<a class="icon-text" href="#"><i data-feather="log-out">logout</i>로그아웃</a>-->
      </div>
    </div>
  </div>
</header>
<nav class="nav-menu">
  <ul>
    <li><a href="">HOME</a></li>
    <li><a href="">피드</a></li>
    <li><a href="">정보</a></li>
    <li><a href="">AI 추천</a></li>
    <li><a href="">소모임</a></li>
  </ul>
</nav>

<div class="main-container">
  <div class="inner">
    <section class="section01">

      <div class="bottom-menu">
        <ul>
          <li><span>피드</span></li>
          <li><span>정보</span></li>
          <li><span>AI 추천</span></li>
          <li><span>소모임</span></li>
        </ul>
      </div>

      <div class="bg-video-section">
        <video autoplay loop muted playsinline src="../video/main1.mov" class="bg-video"></video>
      </div>
    </section>
  </div>
</div>


<script>
  feather.replace()
</script>
</body>
</html>
