<!-- Button trigger modal -->
<div class="m-auto">
	<!-- <button type="button" class="btn btn-main rounded-pill px-2"
		data-bs-toggle="modal" data-bs-target="#feed_del_Modal">자세히보기</button> -->

	<!-- Pay Modal -->
	<div class="modal fade bg-trans" id="feed_del_Modal" tabindex="-1"
		aria-labelledby="feed_del_ModalLabel" aria-hidden="true">
		<div
			class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
			<div class="modal-content rounded-4 border-none bg-trans overflow shadow-s">
				<!-- X btn -->
				<img data-bs-dismiss="modal" aria-label="Close"
					src="../img/mypage/del.png"
					class="my-del-btn pay-del-btn shadow-sm position-absolute rounded-circle"
					width="32" height="32" alt="">
				<div class="rounded-4 overflow-hidden">
					<div class="modal-header border-none bg-white"></div>
					<!-- Modal body -->
					<div class="modal-body text-center p-0">
						<div class="row p-0 m-auto">
							<div class="col p-0 text-black bg-white">
								<div class="w-100 overflow-hidden xh-300 hstack">
									<img src="../img/feed/user_rabbit.jpg" class="img-fluid w-100"
										alt="" />
								</div>
								<!-- 코스의 제목이 오는 곳입니다 -->
								<span class="f22 d-block my-3 px-5">
									<th:block th:if="${session.Member_Name eq null}">
                       					 <span>사용자님의 </span>
                        			</th:block>
									<th:block th:unless="${session.Member_Name eq null}">
                        			<span th:text="|${session.Member_Name}님의|" class="f22 "></span>
                        			</th:block>
                        			<span th:text="${aicc.get(0).getEvent_area()}" class="text-black">지역</span>
                        			<span th:if="${day eq '0'}" th:text="당일여행" class="text-black">기간</span>
                        			<span th:if="${day eq '1'}" th:text="1박2일" class="text-black">기간</span>
                        			<span th:if="${day eq '2'}" th:text="2박3일" class="text-black">기간</span>
                        			<input type="hidden" class="text-black" th:value="${aicc.get(0).getEvent_uploadday()}"></input><!-- 중복 방지용 -->
                        			<span>코스</span>
								</span> 
								
								<span 
									class="f16 d-block my-3 px-5">수학여행하면 먼저 떠오르는 경주 ! <br /> 신라의 문화와 역사가 잠들어있는 고고한 도시다.  🌉 <br /> 경주의 밤은 잠들지 않는다. <br /> 밤에 가보면 더 아름다운 첨성대나 계림의 모습은 잊을 수 없는 추억이 될 것이다.</span>
								<div class="btn btn-sm btn-light rounded-pill my-2 f14">전체 예약 금액</div>
								<span><b class="text-pink d-block f20">50,000원</b></span>
							</div>
							<img src="../img/mypage/bg_detail_pop.png" class="img-fluid p-0"
								alt="" />
						</div>
					</div>
					<div class="modal-footer border-none pb-5 bg-white w-100">
						<a href="/checkout"
							class="btn btn-pinkD m-auto rounded-pill py-2 px-4">결제하기
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="https://service.iamport.kr/js/iamport.payment-1.1.5.js"></script>
<script src="https://t1.kakaocdn.net/kakao_js_sdk/2.4.0/kakao.min.js"
	integrity="sha384-mXVrIX2T/Kszp6Z0aEWaA8Nm7J6/ZeWXbL8UpGRjKwWe56Srd/iyNmWMBhcItAjH"
	crossorigin="anonymous"></script>

<!-- 결제창 -->
<!-- <div th:replace="~{alert/pay_modal::div}"></div> -->