<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/home">
<div th:replace="~{head/head::head}"></div>

<body>
	<div th:replace="~{nav/nav::nav}"></div>
		                  	               	<!-- 예약 버튼 -->
				    <div th:replace="~{alert/pay_modal::div}"> </div>  
	<div class="container px-md-5">
	<h4 class="text-center my-5">코스 저장하기</h4>
		<div class="row mx-3 mx-md-5 justify-content-center">
			<div class="row">
			<div class="col">
				<div class="map_mapSection w-100 my-3 ">
				<!-- 지도를 표시할 div 입니다 -->
				<div id="map" style="height: 600px"
						class=" mx-auto rounded-4 w-100">
						<h3 class="pgj">
						<span class="rounded-4 p-3 bg-mainbg text-white">Day-1</span>
					</h3>
						</div>
			</div>
			</div>
			<!-- 1일차 데이터 -->
			<div class="row mx-auto mx-0 ps-0 bg-mainbg p-2 mt-5">
				<div class="col-12 px-0 mx-0">
					<div class="row courseListRow px-0 mx-0 bg-white p-3 ">
						<div class="col-6 col-md-4 col-lg-2 mx-auto text-truncate px-0 mx-0 text-center">
							<a th:href="@{'Event_view?id='+ ${aicc.get(0).getEvent_num()}}" >
								<img
								th:src="@{'../img/info/' + ${aicc.get(0).getEvent_thumbnail()}}"
								alt="" class="img-fluid mx-auto rounded-4 d-block my-3"
								style="width: 100px; height: 100px;" onerror="this.onerror=null; this.src='../img/info/img_noimg.png';" >
								<span class="text-center mt-3" th:text="${aicc.get(0).getEvent_name()}"></span>
							</a>
						</div>
						<div class="col-6 col-md-4 col-lg-2  mx-auto  text-truncate px-0 mx-0 text-center">
							<a
								th:href="@{'Event_view?id='+ ${aiccFood.get(0).getEvent_num()}}" class="">
								<img
								th:src="@{'../img/info/' + ${aiccFood.get(0).getEvent_thumbnail()}}"
								alt="" class="img-fluid mx-auto rounded-4 d-block my-3"
								style="width: 100px; height: 100px;" onerror="this.onerror=null; this.src='../img/info/img_noimg.png';" >
								<span th:text="${aiccFood.get(0).getEvent_name()}"
									class=" mt-3"></span>
							</a>
						</div>
						<div class="col-6 col-md-4 col-lg-2  mx-auto  text-truncate px-0 mx-0 text-center">
							<a th:href="@{'Event_view?id='+ ${aicc2.get(0).getEvent_num()}}">
								<img
								th:src="@{'../img/info/' + ${aicc2.get(0).getEvent_thumbnail()}}"
								alt="" class="img-fluid mx-auto rounded-4 d-block my-3"
								style="width: 100px; height: 100px;" onerror="this.onerror=null; this.src='../img/info/img_noimg.png';" >
								<span th:text="${aicc2.get(0).getEvent_name()}"
									class="text-center mt-3 "></span>
							</a>
						</div>
						<div class="col-6 col-md-4 col-lg-2 mx-auto  text-truncate px-0 mx-0 text-center">
							<a
								th:href="@{'Event_view?id='+ ${aiccFood2.get(0).getEvent_num()}}">
								<img
								th:src="@{'../img/info/' + ${aiccFood2.get(0).getEvent_thumbnail()}}"
								alt="" class="img-fluid mx-auto rounded-4 d-block my-3"
								style="width: 100px; height: 100px;" onerror="this.onerror=null; this.src='../img/info/img_noimg.png';" >
								<span th:text="${aiccFood2.get(0).getEvent_name()}"
									class="text-center mt-3 "></span>
							</a>
						</div>
						<div class="col-6 col-md-4 col-lg-2 mx-auto  text-truncate px-0 mx-0 text-center">
							<a
								th:href="@{'Event_view?id='+ ${aiccCafe.get(0).getEvent_num()}}">
								<img
								th:src="@{'../img/info/' + ${aiccCafe.get(0).getEvent_thumbnail()}}"
								alt="" class="img-fluid mx-auto rounded-4 d-block my-3"
								style="width: 100px; height: 100px;" onerror="this.onerror=null; this.src='../img/info/img_noimg.png';" >
								<span th:text="${aiccCafe.get(0).getEvent_name()}"
									class="text-center"></span>
							</a>
						</div>
						
					</div>
				</div>
			</div>
			

			</div>
			<form action="cours_Save_insert" method="post" id="myForm">
			<div class="row">
			<div class="col-4">
				<div class="col-12 mx-auto mt-4">
					<div class="form-floating">
						<input type="text" class="form-control" id="Course_name"
							name="Course_name" placeholder="코스 명"> <label
							for="Course_name" class="form-label">코스 명</label>
					</div>
				</div>
				<div class="col-12 mx-auto mt-4">
					<div class="form-floating">
						<input type="text" class="form-control" id="Course_thema"
							name="Course_thema" placeholder="코스 테마" th:value="${aicc.get(0).getEvent_category()}"> <label
							for="Course_thema" class="form-label">코스 테마</label>
					</div>
				</div>
				<div class="col-12 mx-auto mt-4">
					<div class="form-floating">
						<input type="text" class="form-control" id="Course_Area"
							name="Course_Area" placeholder="코스 지역" th:value="${aicc.get(0).getEvent_area()}"> <label
							for="Course_Area" class="form-label">코스 지역</label>
					</div>
				</div>
				
				<div class="col-12 mx-auto mt-4">
					<div class="form-floating">
						<input type="text" class="form-control" id="Course_distance"
							name="Course_distance" placeholder="코스 길이" readonly="readonly" th:value="|${totalDistance} km|">
						<label for="Course_distance" class="form-label">코스 길이</label>
					</div>
				</div>
				</div>
				<div class="col-8 mx-auto mt-4">
					<div class="form-floating">
						<textarea class="form-control" placeholder="Leave a comment here"
							id="Course_content" style="height: 300px" name="Course_content"></textarea>
						<label for="Course_content">코스 내용</label>
					</div>

				</div>

			<!-- day1 -->
						<input type="hidden" th:value="${aicc.get(0).getEvent_num()}" name="day1aicc"/>
						<input type="hidden" th:value="${aiccFood.get(0).getEvent_num()}" name="day1aiccFood"/>
						<input type="hidden" th:value="${aicc2.get(0).getEvent_num()}" name="day1aicc2"/>
						<input type="hidden" th:value="${aiccCafe.get(0).getEvent_num()}" name="day1aiccCafe"/>
						<input type="hidden" th:value="${aiccFood2.get(0).getEvent_num()}" name="day1aiccFood2"/>
						
						
					
					<input type="hidden" name="memberId" th:value="${session.Member_Id}" />
					<input type="hidden" name="day" th:value="${day}" />
					<input type="hidden" name="img" th:value="${aicc.get(0).getEvent_thumbnail()}" />
					<input type="hidden" class="discountValue" name="amount" value="" />

					<div class="col-12 mx-auto mt-4 text-end">
					<button type="button"
						id = "btn-pay"
						class="btn btn-main rounded-pill btn-map-step hstack">
						<img src="../img/mypage/coin.png" width="36" height="36" class="me-2" alt="" />
							코스 저장하고 예약하기
					</button>
						<button type="submit" class="btn btn-main "> 코스 등록</button>
					</div>
					</div>
			</form>

		</div>
	</div>

	<div th:replace="~{footer/footer::footer}"></div>
	<script th:inline="javascript">
      var loginId = /*[[${session.Member_Id}]]*/ "";
      if (loginId == null || loginId.trim() == '') {
         window.location.href = "/login?msg=5";
      }
   </script>
   
   

	
   
   
<script>
		$(function() {
			// btn1, btn2, btn3 요소를 가져옵니다.
			var btn1 = $(".mapday1");
			var btn2 = $(".mapday2");
			var btn3 = $(".mapday3");

			// map1, map2, map3 요소를 가져옵니다.
			var map1 = $("#map");
			var map2 = $("#map2");
			var map3 = $("#map3");
			map2.hide();
			map3.hide();
			btn1.addClass('bg-skyD text-white');
			// btn1을 클릭하면 map1을 보이고, map2와 map3을 숨깁니다.
			btn1.click(function() {
				map1.show();
				map2.hide();
				map3.hide();
				btn1.addClass('bg-skyD text-white');
				btn2.removeClass('bg-skyD text-white');
				btn3.removeClass('bg-skyD text-white');

			});

			// btn2를 클릭하면 map2를 보이고, map1과 map3을 숨깁니다.
			btn2.click(function() {
				map1.hide();
				map2.show();
				map3.hide();
				btn1.removeClass('bg-skyD text-white');
				btn2.addClass('bg-skyD text-white');
				btn3.removeClass('bg-skyD text-white');

			});

			// btn3를 클릭하면 map3을 보이고, map1과 map2을 숨깁니다.
			btn3.click(function() {
				map1.hide();
				map2.hide();
				map3.show();
				btn1.removeClass('bg-skyD text-white');
				btn2.removeClass('bg-skyD text-white');
				btn3.addClass('bg-skyD text-white');
			});
		})
	</script>
	<!-- map의 스크립트 -->
	<script th:inline="javascript">
		var mapContainer = document.getElementById('map'); // 지도를 표시할 div 

		var events = [ {
			name : /*[[${aicc.get(0).getEvent_name()}]]*/"",
			mapX : /*[[${aicc.get(0).getEvent_mapX()}]]*/0,
			mapY : /*[[${aicc.get(0).getEvent_mapY()}]]*/0,
			number : /*[[${aicc.get(0).getEvent_num()}]]*/""
		}, {
			name : /*[[${aiccFood.get(0).getEvent_name()}]]*/"",
			mapX : /*[[${aiccFood.get(0).getEvent_mapX()}]]*/0,
			mapY : /*[[${aiccFood.get(0).getEvent_mapY()}]]*/0,
			number : /*[[${aiccFood.get(0).getEvent_num()}]]*/""
		}, {
			name : /*[[${aicc2.get(0).getEvent_name()}]]*/"",
			mapX : /*[[${aicc2.get(0).getEvent_mapX()}]]*/0,
			mapY : /*[[${aicc2.get(0).getEvent_mapY()}]]*/0,
			number : /*[[${aicc2.get(0).getEvent_num()}]]*/""
		}, {
			name : /*[[${aiccCafe.get(0).getEvent_name()}]]*/"",
			mapX : /*[[${aiccCafe.get(0).getEvent_mapX()}]]*/0,
			mapY : /*[[${aiccCafe.get(0).getEvent_mapY()}]]*/0,
			number : /*[[${aiccCafe.get(0).getEvent_num()}]]*/""
		}, {
			name : /*[[${aiccFood2.get(0).getEvent_name()}]]*/"",
			mapX : /*[[${aiccFood2.get(0).getEvent_mapX()}]]*/0,
			mapY : /*[[${aiccFood2.get(0).getEvent_mapY()}]]*/0,
			number : /*[[${aiccFood2.get(0).getEvent_num()}]]*/""
		} ];

		var positions = events.map(function(event) {
			return {
				title : event.name,
				number : event.number,
				latlng : new kakao.maps.LatLng(event.mapX, event.mapY)
			};
		});
		// 문자열로 가져온 값을 parseFloat 함수를 사용하여 숫자로 변환
		mapx = parseFloat(events[0].mapX);
		mapy = parseFloat(events[0].mapY);
		mapOption = {
			center : new kakao.maps.LatLng(mapx, mapy), // 지도의 중심좌표
			level : 7
		// 지도의 확대 레벨
		};

		var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다
		// 마커를 표시할 위치와 title 객체 배열입니다 

		// 마커 이미지의 이미지 주소입니다
		var imageSrc = [
				"https://cdn-icons-png.flaticon.com/128/11020/11020536.png",//관광지1,
				"https://cdn-icons-png.flaticon.com/128/11020/11020470.png",//음식점
				"https://cdn-icons-png.flaticon.com/128/11020/11020536.png",//관광지2
				"https://cdn-icons-png.flaticon.com/128/11020/11020485.png",//카페
				"https://cdn-icons-png.flaticon.com/128/11020/11020470.png",//음식점2
				"https://cdn-icons-png.flaticon.com/128/11020/11020494.png" ];//관광지2
		for (var i = 0; i < positions.length; i++) {
			var content = '<div class="bg-pink px-3 p-1 rounded-pill border border-dark text-black" style="position: relative;left:0px;bottom: 65px;font-size: 12px; margin:0 auto;z-index:3;">'
					+ '    <div class="info">'
					+ '            <a href="Event_view?id='
					+ positions[i].number
					+ '">'
					+ '        <div class="title">'
					+ [ i + 1 ]
					+ ". "
					+ positions[i].title
					+ '        </div>'
					+ '</a>'
					+ '    </div>' + '</div>';

			// 마커 이미지의 이미지 크기 입니다
			var imageSize = new kakao.maps.Size(50, 50);

			// 마커 이미지를 생성합니다    
			var markerImage = new kakao.maps.MarkerImage(imageSrc[i], imageSize);

			// 마커를 생성합니다
			var marker = new kakao.maps.Marker({
				map : map, // 마커를 표시할 지도
				position : positions[i].latlng, // 마커를 표시할 위치
				title : positions[i].title, // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
				image : markerImage
			// 마커 이미지 
			});
			var overlay = new kakao.maps.CustomOverlay({
				content : content,
				map : map,
				position : positions[i].latlng
			});

		}

		var linePath;
		var lineLine = new daum.maps.Polyline();

		var distance;

		var totalDistance = 0; // 총 거리를 저장할 변수를 초기화합니다.
	    var stayPay = [
	         90000,100000,110000,120000,130000,150000
	      ]
	    var foodPay =[
	         20000,15000,30000,40000,50000,60000
	      ]
	   	var beveragePay =[
	         20000,15000,16000,30000,25000,19500 
	      ]
		
     	var randomNumber = Math.floor(Math.random() * 6);
	    randomNumber += 1; 
	    var amount = 0; // 예상 금액 초기화
		var discount = 0; // 할인 금액 초기화
	    var oil = 0; // 기름값 초기화
	    var stay = stayPay[randomNumber]; // 숙소 금액
	    var food = foodPay[randomNumber]; // 맛집 금액
	    var beverage = beveragePay[randomNumber]; // 카페 (음료) 금액
		

		var subtotalDistance = 0;
		for (var i = 0; i < positions.length; i++) {
			if (i != 0) {
				linePath = [ positions[i - 1].latlng, positions[i].latlng ] //라인을 그리려면 두 점이 있어야하니깐 두 점을 지정했습니다
			}
			;
			lineLine.setPath(linePath); // 선을 그릴 라인을 세팅합니다

			var drawLine = new daum.maps.Polyline({
				map : map, // 선을 표시할 지도입니다 
				path : linePath,
				strokeWeight : 3, // 선의 두께입니다 
				strokeColor : '#Ef564b', // 선의 색깔입니다
				strokeOpacity : 0.8, // 선의 불투명도입니다 0에서 1 사이값이며 0에 가까울수록 투명합니다
				strokeStyle : 'longdash' // 선의 스타일입니다
			});

			distance = Math.round(lineLine.getLength());
			displayCircleDot(positions[i].latlng, distance);
			totalDistance += distance;
			
			// 예상금액 //
			oil = Math.round((totalDistance / 1000) * 170); // oil 값 in
			//document.querySelector('.oil').innerText = oil+"원"; // oil 값 out test
			amount = oil + stay + food + beverage;
			discount = amount-20000;
			
			document.querySelector('.amount').innerText = amount.toLocaleString()+"원"; // 최종 금액 out
			document.querySelector('.amount2').innerText = amount.toLocaleString()+"원"; // 최종 금액 out
			document.querySelector('.amountValue').value = amount;
			document.querySelector('.discount').innerText = discount.toLocaleString()+"원"; // 할인 금액 out
			document.querySelector('.discount2').innerText = discount.toLocaleString()+"원"; // 할인 금액 out
			document.querySelector('.discountValue').value = discount; // 할인 금액 out

		}

		function displayCircleDot(position, distance) {
			if (distance > 0) {
				// 클릭한 지점까지의 그려진 선의 총 거리를 표시할 커스텀 오버레이를 생성합니다
				var distanceOverlay = new daum.maps.CustomOverlay({
					//  content : '<div class="dotOverlay bg-white rounded-4 px-3 mt-5">거리 <span class="number">'
					//       + distance + '</span>m</div>', 
					position : position,
					yAnchor : 1,
					zIndex : 2
				});

				// 지도에 표시합니다
				distanceOverlay.setMap(map);
			}

		}
	</script>
	
	
	

<!-- 비동기로 pay 모달 열기 -->
<script>
$(document).ready(function() {
    // #btn-pay 버튼을 클릭했을 때의 동작
    $("#btn-pay").click(function() {
        // 코스 명과 코스 내용 가져오기
        var courseName = $("#Course_name").val();
        var courseContent = $("#Course_content").val();
        var formattedAmount = amount.toLocaleString();
        var formattedDiscount = discount.toLocaleString();
        
        // 폼 데이터 가져오기
        var formData = $("#myForm").serialize();
        // 코스 명과 코스 내용을 formData에 추가
        formData += "&courseName=" + courseName;
        formData += "&courseContent=" + courseContent;
        formData += "&amount=" + amount;
        formData += "&discount=" + discount;

        // 코스 명과 코스 내용을 표시할 요소에 값을 넣음
        $(".courseNameDisplay").text(courseName);
        $(".courseContentDisplay").text(courseContent);
        $(".amountDisplay").text(formattedAmount + "원");
        $(".discountDisplay").text(formattedDiscount + "원");
        
        // 서버로 데이터 전송
        $.ajax({
            type: "POST",
            url: "cours_Save_insert",
            data: formData,
            success: function(response) {
                // 성공적으로 서버에 데이터를 전송한 경우의 동작
                console.log("서버로 데이터 전송 성공!");
                console.log("서버 응답: ", response);
                
                var courseNum = response.courseNum;
                $(".courseNum").text(courseNum);
                
                // 모달 창 열기
                $('#feed_del_Modal').modal('show');
                
                
                // 코스 추가 후 리디렉션
                window.location.href = "/cours_Save_update";
            },
            error: function(xhr, status, error) {
                // 서버에 데이터 전송이 실패한 경우의 동작
                console.error("서버로 데이터 전송 실패!");
                console.error("에러: ", error);
            }
        });
    });
});
</script>

	
	
</body>
</html>