<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<div th:replace="~{head/head::head}"></div>

<script>
	/* 	function deleteConfirm(id) {
	 if (confirm("해당 글을 정말 삭제하시겠습니까?") == true)
	 location.href = "/Event_write_delete?num=" + id;
	 else
	 event.stopProgation();
	 event.preventDefault();
	 } */
	function deleteComment(num, id) {
		if (confirm("해당 댓글을 정말 삭제하시겠습니까?") == true)
			location.href = "/EventCommentUpdateDelete?num=" + num + "&id="
					+ id;
		else
			event.stopProgation();
		event.preventDefault();
	}
</script>


<body>
	<div th:replace="~{nav/nav::nav}"></div>
	<!-- inner 페이지 -->
	<div class="container inner mt-5 ">
		<input type="hidden" th:value="${view.getEvent_hit()}" />
		<!-- 반복 되는 형태 -->
		<div class="row mb-5 px-5">
			<div class="col text-center " data-aos="fade-up">
				<h3 class="my-5 ">
					<span class="highlight p-0"
						th:text="| [ ${view.getEvent_category()} ] |">버튼</span> <span
						th:text="${view.getEvent_name()}" class="ms-1"></span>
						
				</h3>
					<p class="text-end text-dark mb-5" th:text="|조회수 ${view.getEvent_hit()}|"></p>
				<img th:src="@{'../img/info/' + ${view.getEvent_thumbnail()}}"
					alt="" class="img-fluid mx-auto rounded-4"  onerror="this.onerror=null; this.src='../img/info/img_noimg.png';" >
				<!-- <img class="img-fluid" src="https://korean.visitkorea.or.kr/resources/images/sub/bg_pic_reg.jpg" alt=""> -->
			</div>
		</div>
		<div class="row px-xl-5 justify-content-center ">
			<div class="col px-xl-5 my-5" >
				<h4 class="mt-2 mt-lg-5 mb-3 px-lg-3 mx-5" data-aos="fade-up">상세 정보</h4>
				<hr class="mx-5">
				<p class="px-lg-5 textcontent mx-5"
					th:utext="${view.getEvent_content()}" data-aos="fade-up">내용 들어가는 곳</p>


				<div class="map_mapSection w-100 my-5 px-5" data-aos="fade-up">
					<!-- 지도를 표시할 div 입니다 -->
					<div id="map" style="height: 300px"
						class=" mx-auto rounded-4 w-100 "></div>
				</div>
				<div class="row d-flex my-4 justify-content-sm-center text-center text-lg-start px-5" data-aos="fade-up">
					
					<div class="col-12 col-lg-6 mx-auto">
						<div class="row">
							<div class="col-3 ">
								<li>• 안내</li>
							</div>
							<div class="col-9 ">
								<li th:utext="${view.getEvent_phone()}">041 852 4230
								</li>
							</div>
							<div class="col-3  ">
								<li>• 휴일</li>
							</div>
							<div class="col-9 ">
								<li th:utext="${view.getEvent_rest()}">연중무휴</li>
							</div>
							
							<div class="col-3  ">
								<li>• 주차</li>
							</div>
							<div class="col-9 ">
								<li th:utext="${view.getEvent_parking()}">가능(소형20대)</li>
							</div>
						</div>
					</div>

					<div class="col-12 col-lg-6 mx-auto">
						<div class="row justify-content-center">
							<div class="col-3 ">
								<li>• 주소</li>
							</div>
							<div class="col-9 ">
								<li th:utext="${view.getEvent_address()}">충청남도 공주시 계룡면
									신원사동길1</li>
							</div>
							<div class="col-3  ">
								<li>• 이용시간</li>
							</div>
							
							<div class="col-9 ">
								<li th:utext="${view.getEvent_time()}"></li>
							</div>
							
						</div>
					</div>
				</div>
				<div class="row mb-5 px-md-5 justify-content-center text-center">
					<div class="col-12 col-lg-8 my-1">
						<button class="btn btn-mainbg my-1">
							# <span th:text="${view.getEvent_tag()}"></span>
						</button>
						<button class="btn btn-pink my-1">
							# <span th:text="${view.getEvent_tag2()}"></span>
						</button>
						<button class="btn btn-pink my-1">
							# <span th:text="${view.getEvent_tag3()}"></span>
						</button>
						<button class="btn btn-pink my-1">
							# <span th:text="${view.getEvent_tag4()}"></span>
						</button>
						<button class="btn btn-pink my-1">
							# <span th:text="${view.getEvent_tag5()}"></span>
						</button>
						<button class="btn btn-pink my-1">
							# <span th:text="${view.getEvent_area()}"></span>
						</button>
						<button class="btn btn-pink my-1">
							# <span th:text="${view.getEvent_area2()}"></span>
						</button>
						<button class="btn btn-pink my-1">
							# <span th:text="${view.getEvent_parking()}"></span>
						</button>

					</div>
				</div>
			</div>
		</div>
	<!-- 	<div class="row mt-5">
			<div class="col text-center mb-5">
				<h4>해당 여행지가 마음에 드시나요?</h4>
				<p class="small">평가를 해주시면 개인화 추천 시 활용하여 최적의 여행지를 추천해 드리겠습니다.</p>
				<button class="btn btn-light">좋아요버튼</button>
				<button class="btn btn-light">별로에요버튼</button>
			</div>
		</div> -->
		<div class="row">
			<div class="col-10 col-md-8 p-3 mx-auto">
				<b>여행 댓글 <span th:text="${commentCount}"></span> 개
				</b>
				<form action="Event_comment" method="post">
					<div class="">
						<textarea class="form-control my-3" id="comment_content1" cols="30" rows="5"
							name="Eventcomment_content"></textarea>
						<input type="hidden" name="Event_num"
							th:value="${view.getEvent_num()}" /> <input type="hidden"
							name="memberId" th:value="${session.Member_Id}" />

					</div>
					<div class="col text-end mt-2">
						<a href="login" class="btn btn-mainbg mb-3"
							th:if="${session.Member_Id == null }" onclick="alert('로그인해주세요');">댓글 남기기</a>
						<button type="button" class="btn btn-mainbg mb-3" id="comment_content"
							th:if="${session.Member_Id !=null }" onclick="validateContent()">댓글 남기기</button>
					</div>
				</form>
				<div th:each="commentlist:${commentlist}"
					class="rounded-4 border row my-2 ">
					<div
						class="d-none d-lg-block col-2 px-2 pt-3 border-end text-center">
						<img class="d-none d-lg-block mx-auto rounded-circle"
							th:src="@{'../img/member_thumbnail/'+${commentlist.getMember_profileimage()}}"
							style="width: 80px;" height="80px;" />
						<p th:text="${commentlist.getMember_Id()}"
							class="btn btn-light my-2 d-none d-md-block"></p>
					</div>
					<div class="col px-4">
						<img class="d-lg-none rounded-circle"
							th:src="@{'../img/member_thumbnail/'+${commentlist.getMember_profileimage()}}"
							style="width: 30px;" height="30px;" />
						<p th:text="${commentlist.getMember_Id()}"
							class="btn my-2 d-lg-none"></p>
						<p class="mt-lg-5"
							th:text="${commentlist.getEventcomment_content()}"></p>
						<p th:text="${commentlist.getEventcomment_update()}"></p>
					</div>
					<div class="col-3 col-block-2 mt-5 text-end">
						<th:block
							th:if="${session.Member_Id==commentlist.getMember_Id()||session.Member_Id=='admin'}">
							<a
								th:href="@{'Event_comment_update?num='+${commentlist.getEventcomment_num()}+'&id='+${commentlist.getEvent_num()}}"
								class="btn btn-skyb">수정</a>
							<a href="#" class="btn btn-pink"
								th:onclick="'deleteComment(\'' + ${commentlist.getEventcomment_num()} + '\', \'' + ${commentlist.getEvent_num()} + '\')'">삭제</a>
						</th:block>
					</div>
				</div>
			</div>
			<div class="text-end mt-3">
				<th:block th:if="${session.Member_Id=='admin'}">
					<a th:href="@{'Event_write_update?num='+${view.getEvent_num()}}"
						class="btn btn-pink"> 수정하기</a>

					<a href="#" class="btn btn-skyb" data-bs-toggle="modal"
						data-bs-target="#feed_del_Modal"
						th:onclick="'deleteConfirm(\'' + ${view.getEvent_num()} + '\')'">글
						삭제</a>
				</th:block>


			</div>
		</div>

	</div>
	<div th:replace="~{footer/footer::footer}"></div>

	<!-- 삭제 모달 -->
	<div th:replace="~{alert/del_modal::div}">
		<div th:fragment="modalButton">
			<a class="dropdown-item active"
				th:href="@{'/Event_write_delete?num=' + ${view.getEvent_num()}">삭제</a>
		</div>
	</div>
	<form action="Event_write_delete" id="deleteFeedForm">
		<input type="hidden" th:value="${view.getEvent_num()}" name="num" />
	</form>

	<script>
		function func_delModalBtn() {
			document.getElementById('deleteFeedForm').submit();
		}
	</script>
	<!-- 카카오 지도 API 활용 스크립트 -->
	<script th:inline="javascript">
		var mapx = /*[[${view.getEvent_mapX()}]]*/0; // 이벤트의 위도 값
		var mapy = /*[[${view.getEvent_mapY()}]]*/0; // 이벤트의 경도 값

		// 문자열로 가져온 값을 parseFloat 함수를 사용하여 숫자로 변환
		mapx = parseFloat(mapx);
		mapy = parseFloat(mapy);
		// 마커가 표시될 위치입니다 
		var markerPosition = new kakao.maps.LatLng(mapx, mapy);
		
		// 마커를 생성합니다
		var marker = new kakao.maps.Marker({
// 			position : markerPosition,
			text: '텍스트를 표시할 수 있어요!'
		});
		
		var staticMapContainer = document.getElementById('map'); // 지도를 표시할 div
		staticMapOption = {
			center : new kakao.maps.LatLng(mapx, mapy), // 지도의 중심좌표
			level : 3,
		// 지도의 확대 레벨
		 marker: marker // 이미지 지도에 표시할 마커 
		};

		
	
		// 이미지 지도를 생성합니다
var staticMap = new kakao.maps.StaticMap(staticMapContainer, staticMapOption);

	
	</script>
	<!-- 상세 정보 텍스트가 길어져서 .이 올때마다와 숫자뒤에.이 올때 enter 되도록 하는 스크립트 -->
	<script>
		document.addEventListener('DOMContentLoaded', function() {
			var eventContent = document.querySelector('.textcontent'); // 이벤트 내용을 포함하는 요소 선택
			if (eventContent) { // 요소가 존재하는 경우에만 처리
				var content = eventContent.innerHTML; // 요소의 HTML 내용 가져오기
				var replacedContent = content.replace(/(\[)/g, '<br>$1'); // '[' 문자열 앞에 줄 바꿈을 추가하여 대체

				eventContent.innerHTML = replacedContent; // 변경된 HTML 내용으로 업데이트
			}
			if (eventContent) { // 요소가 존재하는 경우에만 처리
				var content = eventContent.innerHTML; // 요소의 HTML 내용 가져오기
				var replacedContent = content.replace(/(\d+)\.|(?<!\d)\.|]/g,
						function(match, p1) {
							if (p1) { // 숫자 뒤에 마침표가 있는 경우
								return p1 + '.';
							} else if (match === ']') { // ']' 문자인 경우
								return ']<br><br>'; // ']' 다음에 줄 바꿈 추가
							} else { // 숫자가 없는 경우 마침표가 있는 경우
								return '.<br>';
							}
						}); // 숫자 뒤에 마침표가 오거나 숫자 없이 마침표가 나타날 때마다 줄 바꿈 태그 추가

				eventContent.innerHTML = replacedContent; // 변경된 HTML 내용으로 업데이트
			}
		});
	</script>
	<script>
  AOS.init();
</script>
<script type="text/javascript">
    function validateContent() {
        var content = document.getElementById('comment_content1').value;
var button = document.getElementById('comment_content');
        
        if (content == '') {
            alert('내용을 입력해주세요.');
            button.type = 'button'; // submit을 button으로 변경
            return false; // submit 막기
        }
        
        // 내용이 있을 때는 submit으로 설정하여 허용
        button.type = 'submit';
        return true;
    }
</script>
</body>
</html>
