@charset "UTF-8";
.mypage-bg{
    margin-top: 100px;
    width: 100%;
    height: 100%;
    background: url("../img/mypage/waves.jpg") no-repeat center/cover;
    filter: blur(80px);
}



/*<<<<<<<<<<<<<<<<<<<<<<<<<< [좌] <<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* (좌) 메뉴 아이콘 */
.menu-ico-parent{
    color: #555555;
}
.menu-ico{
    cursor: pointer;
}
.menu-ico img{
    width: 60px;
}
.menu-ico span{
    display: block;
    width: 100%;
}


/*>>>>>>>>>>>>>>>>>>>>>>>>>> [우] >>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

/* History - ai cokcok swiper */
.aicc-section01-wrap{
    letter-spacing: -1.3px;
}

.aicc-content-card {
    margin-bottom: 15px;
}

/*content*/
.aicc-title-wrap {
    padding: 50px 0;
}

.swiper-slide {
    padding: 0 0 0 20px;
}

.container-fluid.cs-b:before {
    content: "";
    width: 80%;
    background-color: black;
    height: 1px;
    top: 25%;
    position: absolute;
    opacity: 0.5;
    left: 10%;
}

/*swiper*/
.next-btn {
    width: 36px;
    height: 36px;
    position: relative;
    top: 5%;
    right: -95%;
    background: url("../img/btn_cockcock_slide.png") 0 -72px;
}

.prev-btn {
    width: 36px;
    height: 36px;
    position: relative;
    top: 5%;
    right: -87%;
    background: url("../img/btn_cockcock_slide.png") 0 -36px;
}

.swiper-pagination {
    display: none;
}


.my-del-btn{
    top: 5px;
    right: 5px;
}
