/* bootstrap 초기화 */
#ai .row>* {
    padding: 0;
}

#ai {
    width: 100%;
    height: 100%;

    /*height: calc(100vh - 50px);*/
    background: url("../img/ai/potato-2760712_1280.jpg") no-repeat center/cover; /* 임시 지정 */
    background: var(--deepbeige); /* 임시 지정 */
    padding: 50px;
}

#ai .ai-filter-box{
    width: 1000px;
    box-shadow: 0 8px 32px 0 rgba( 255, 255, 255, 0.37 );
    background: rgba( 255, 255, 255, 0.25 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

/* carousel 속성 변경 */
#ai .carousel-item{
    padding: 60px 60px 20px 60px;
    color: white;
    text-shadow: 2px 2px 8px var(--brown);
}

#ai .carousel-indicators button{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-top: 50px;
}

/* 나이 선택  in carousel */
.age-box-parent{
    display: flex;
    justify-content: center;
}

.age-box{
    font-size: 12px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    padding: 20px 20px 50px;
    /*color: var(--black);*/
    color: #797979;
    text-shadow: none;
    width: 150px;
    height: 150px;

    /*background: var(--white);*/
    background: rgba( 255, 255, 255, 0.55 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 12px;
}

.age-box span{
    display: block;
    width: 100%;
}

/* 날씨  in carousel */
#ai .weather{
    width: 100%;
}

#ai .weather img{
    width: 36px;
    height: 36px;
}


/*다음에하기 버튼*/
.next-btn{
    margin-bottom: 80px;
    /*backdrop-filter: blur( 1px );*/
}


/*--------------------------------- 미디어쿼리 ----------------------------------*/
@media (min-width: 700px)
.age-box {
    width: 10px;
}
